<form action="/validar_form_add_inventario" method="POST">
    <div>
        codigo <input type="text" name="codigo">
    </div>
    <div>
        modelo <input type="text" name="modelo">
    </div>
    
    <div>
        marca <input type="text" name="marca">
    </div>
    <div>
        descripcion <input type="text" name="descripcion">
    </div>
    <div>
        dias_maximo_prestamo <input type="text" name="dias_maximo_prestamo">
    </div>
    <div>
        adquiridos <input type="text" name="adquiridos">
    </div>
    <div>
        codigo_sufijo <input type="text" name="codigo_sufijo">
    </div>
    <div><button type="summit">
        Entrar
    </button></div>
</form>

