<!-- Modal editar equipo-->
<div id="editar_equipo" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="editar_informacion_label" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-verde-eit">
          <h5 id="modal-title" class="modal-title text-white" id="editar_informacion_label"><i class="fas fa-edit"></i> Editar equipo</h5>
        </div>
        <form id="editar_form" action="" method="POST">
        
          <div class="modal-body">
  
            <label for="editar-equipo-codigo">Código</label>
            <input class="form-control" type="text" name="codigo" value="" id="editar-equipo-codigo">
    
            <label for="editar-equipo-modelo">Modelo</label>
            <input class="form-control" type="text" name="modelo" value="" id="editar-equipo-modelo">
    
            <label for="editar-equipo-marca">Marca</label>
            <input class="form-control" type="text" name="marca"  value="" id="editar-equipo-marca">
    
            <label for="editar-equipo-descripcion">Descripción</label>
            <input class="form-control" type="text" name="descripcion" value="" id="editar-equipo-descripcion">

            <label for="editar-equipo-imagen">Imagen</label>
            <input class="form-control" type="text" name="imagen" value="" id="editar-equipo-imagen">
    
            <label for="dias_max_prestamo">Días de prestamo</label>
            <input type="text" class="form-control" name="dias_max_prestamo" value="" id="editar-equipo-dias">
    
            <label for="editar-es-circuito">Multi componente</label>
            <input class="form-control" type="checkbox" name="multi_componente" value="XD" id="editar-es-circuito">

            <label for="editar-cantidad-circuito">Cantidad de componentes</label>
            <input class="form-control" type="text" name="cantidad_componentes" value="" id="editar-cantidad-circuito">


          
          </div>
          <div class="modal-footer">
            <button type="button" id="boton_cerrar" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="summit" id="boton_guardar" class="btn btn-info" type="hidden"> Guardar cambios</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script>
    function cargar_datos_equipo_modal(codigo, modelo, marca, descripcion, dias_max_prestamo, imagen_url){
      document.getElementById("modal-title").innerHTML = '<i class="fas fa-edit"></i> Editar equipo ' + codigo ;
      $("#editar-equipo-codigo").attr("value", codigo);
      $("#editar-equipo-modelo").attr("value", modelo);
      $("#editar-equipo-marca").attr("value", marca);
      $("#editar-equipo-descripcion").attr("value", descripcion);
      $("#editar-equipo-dias").attr("value", dias_max_prestamo);
      $("#editar-equipo-imagen").attr("value", imagen_url);
      $("#editar-es-circuito").attr('checked', false).change();
    }
    $(document).ready(function()
    {
      $('#editar-es-circuito').change(function(){
        if (this.checked) { 
          $('#editar-cantidad-circuito').prop( "disabled", false );
        }
        else { 
          $('#editar-cantidad-circuito').prop( "disabled", true );
        }
      });
    });
  </script>

  
  