<div id="eliminar_equipo" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="editar_informacion_label" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-verde-eit">
        <h5 class="modal-title text-white" id="editar_informacion_label"><i class="fas fa-trash"></i>Eliminar equipo</h5>
    </div>
      <div class="modal-body">
      ¿Realmente deseas eliminar este equipo?
      </div>
      <div class="modal-footer">
              <button type="button" id="boton_cerrar"  class="btn btn-primary" data-dismiss="modal" onclick="Cargar_informacion()">Cancelar</button>
              <button type="summit" id="boton_guardar" class="btn btn-danger" disabled="disabled"> Eliminar</button>
      </div>
  </div>
</div>
</div>
