<div class="modal fade" id="formulario_mensaje_administrativo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-gris-eit">
        <h5 class="modal-title text-white"><i class="fas fa-comment-medical mr-2"></i>Creación de mensaje administrativo</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/registrar_mensaje_administrativo" method="POST">
        <div class="modal-body">
          <p><i class="fas fa-info-circle mr-1"></i>Los mensajes administrativos serán visibles por los usuarios al momento de ingresar al sistema.</p>

            <div class="form-group">
              <label>Título del mensaje</label>
              <input type="text" required name="titulo" maxlength="500" class="form-control">
            </div>
            <div class="form-group">
              <label>Mensaje</label>
              <textarea required class="form-control" name="mensaje" rows="3" maxlength="2500" style="min-height:100px;max-height:300px;"></textarea>
            </div>
            <div class="form-group">
              <label>Fecha de eliminación</label>
              <input type="date" class="form-control" id="input_fecha_eliminacion" name="fecha_eliminacion">
              <small class="form-text text-muted">* El mensaje se encontrará disponible hasta el día indicado en este campo. Al omitirlo, el mensaje será eliminado al cumplirse un día desde su registro.</small>
              <small class="form-text text-muted">* Podrá modificar la fecha de eliminación una vez registrado el mensaje.</small>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-success">Registrar mensaje</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
  var today = new Date();
  var dd = today.getDate();
  var mm = today.getMonth()+1; //January is 0!
  var yyyy = today.getFullYear();
   if(dd<10){
    dd='0'+dd
   }
   if(mm<10){
    mm='0'+mm
   }

  today = yyyy+'-'+mm+'-'+dd;
  document.getElementById("input_fecha_eliminacion").setAttribute("min", today);
</script>
