<div class="modal fade" id="agregar_equipo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-gris-eit">
        <h5 class="modal-title text-white" id="editar_informacion_label"><i class="fas fa-plus-circle mr-2"></i>Agregar nuevo equipo</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close" style="outline:none;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

          <form action="/gestion_inventario_admin/insert" method="POST">
          <div class="modal-body">

            <div class="form-group">
              <label for="nombres">Código </label>
              <input class="form-control" type="text" name="codigo" id="codigo" maxlength="6" pattern="[A-Z0-9]+"required placeholder="AAA111">
            </div>

            <div class="form-group">
              <label for="apellidos">Nombre</label>
              <input class="form-control" type="text" name="nombre" id="nombre" required>
            </div>

            <div class="form-group">
              <label for="apellidos">Marca</label>
              <input class="form-control" type="text" name="marca" id="marca" required>
            </div>

            <div class="form-group">
              <label for="apellidos">Modelo</label>
              <input class="form-control" type="text" name="modelo" id="modelo" required>
            </div>

            <div class="form-group">
              <label for="comunas">Descripción</label>
              <textarea class="form-control"   id="descripcion" name="descripcion" rows="3" style="min-height:100px;max-height:300px;"></textarea>
            </div>

            <div class="form-group">
              <label for="editar-equipo-imagen">URL de imagen</label>
              <input class="form-control" type="text" name="imagen" id="imagen">
            </div>

            <div class="form-group">
              <label for="apellidos">Cantidad de días de préstamo</label>
              <input class="form-control" type="number" min="1" max="999" name="dias_maximo_prestamo" id="dias_maximo_prestamo"   value="1">
            </div>

      </div>
      <div class="modal-footer">
              <button type="button" id="boton_cerrar" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="summit" id="boton_guardar" class="btn btn-info"> Guardar cambios</button>
      </div>
    </form>
  </div>
</div>
</div>
