<div class="modal fade" id="agregar_equipo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-gris-eit">
        <h5 class="modal-title text-white" id="editar_informacion_label"><i class="fas fa-plus-circle mr-2"></i>Agregar nuevo equipo</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close" style="outline:none;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

          <form action="/gestion_inventario_admin/insert" method="POST" id="form_agregar_equipo" onsubmit="return validar_codigo_agregar_equipo();">
          <div class="modal-body">

            <div class="form-group">
              <label for="nombres">Código </label>
              <input class="form-control" type="text" name="codigo" id="codigo" required placeholder="Laboratorio/Ubicación/Sub ubicación" maxlength="50" autocomplete="off" onkeyup="this.value = this.value.toUpperCase();">
              <div class="invalid-feedback">
                El código del equipo ya está registrado.
              </div>
            </div>

            <div class="form-group">
              <label for="apellidos">Nombre</label>
              <input class="form-control" type="text" name="nombre" id="nombre" list="nombre-list" required autocomplete="off">
              <datalist id="nombre-list">
                {% for elemento in lista_equipo %}
                <option> {{elemento.nombre}} </option>
                 {% endfor %}
              </datalist>
            </div>

            <div class="form-group">
              <label for="apellidos">Marca</label>
              <input class="form-control" type="text" name="marca" id="marca" list="marca-list" required autocomplete="off">
              <datalist id="marca-list">
                {% for elemento in lista_equipo %}
                <option> {{elemento.marca}} </option>
                 {% endfor %}
              </datalist>
            </div>

            <div class="form-group">
              <label for="apellidos">Modelo</label>
              <input class="form-control" type="text" name="modelo" id="modelo" list="modelo-list" required autocomplete="off">
              <datalist id="modelo-list">
                {% for elemento in lista_equipo %}
                <option> {{elemento.modelo}} </option>
                 {% endfor %}
              </datalist>
            </div>

            <div class="form-group">
              <label for="comunas">Descripción</label>
              <textarea class="form-control"   id="descripcion" name="descripcion" rows="3" style="min-height:100px;max-height:300px;"></textarea>
            </div>

            <div class="form-group">
              <label for="editar-equipo-imagen">URL de imagen</label>
              <input class="form-control" type="text" name="imagen" id="imagen" autocomplete="off">
            </div>


            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="apellidos">Días de préstamo</label>
                  <input class="form-control" type="number" min="1" max="999" name="dias_maximo_prestamo" id="dias_maximo_prestamo"   value="1" autocomplete="off">
                </div>
              </div>

              <div class="col">
                <div class="form-group">
                  <label for="apellidos">Días para renovar</label>
                  <input class="form-control" type="number" min="1" max="999" name="dias_renovacion" id="dias_renovacion"   value="1" autocomplete="off">
                </div>
              </div>

            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="checkbox-agregar-varios" name="checkbox-agregar-varios" onclick="checkbox_agregar_varios(this)">
              <label class="form-check-label" for="exampleCheck1"><strong>Agregar unidades</strong></label>
            </div>
            <br>
            <div class="row" id="div-check-serie">

              <div class="col">
                <div class="form-group">
                  <label for="unidad_inicio">Unidad inicial</label>
                  <input disabled class="form-control" type="number" name="unidad_inicio" id="unidad_inicio" autocomplete="off" required>
                </div>
                
              </div>

              <div class="col">
                <div class="form-group">
                  <label for="unidad_final">Unidad final</label>
                  <input disabled class="form-control" type="number" name="unidad_final" id="unidad_final" autocomplete="off" required>
                </div>

              </div>

            </div>
            <div class="form-group">
              <label for="nombres"> Fecha de compra</label>
              <input type="date" max="3000-01-01" class="form-control" id="fecha_compra" name="fecha_compra" required>
            </div>
      </div>
      <div class="modal-footer">
              <button type="button" id="boton_cerrar" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="submit" id="boton_guardar"  class="btn btn-info"> Confirmar</button>
      </div>
    </form>
  </div>
</div>
</div>

<script>
  function checkbox_agregar_varios(checkbox) {
    // Get the output text
    var div_serie = document.getElementById("div-check-serie");
    // If the checkbox is checked, display the output text
    if (checkbox.checked == true){
      $( "#unidad_inicio" ).prop( "disabled", false );
      $( "#unidad_final" ).prop( "disabled", false );
      $( "#fecha_compra" ).prop( "disabled", false );
    } else {
      $( "#unidad_inicio" ).prop( "disabled", true );
      $( "#unidad_final" ).prop( "disabled", true );
      $( "#fecha_compra" ).prop( "disabled", true );
    }
  }




    function validar_codigo_agregar_equipo(){

      var match = false;
      $.ajax({
            data : {codigo : $('#codigo').val()},
            type : 'POST',
            url : '/gestion_inventario_admin/insertar/validar_codigo',
            async:false,
            success: function(data){
              if (data.match == 'True'){
                
                $('#codigo').addClass('is-invalid');
                $('#agregar_equipo').scrollTop(0);

              }
              else{
                match = true;
              }
            }
          })
      return match
    }


</script>