<div class="modal fade" id="agregar_equipo_similar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-gris-eit">
        <h5 class="modal-title text-white" id="editar_informacion_label"><i class="fas fa-plus-circle mr-2"></i>Agregar unidades</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close" style="outline:none;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
          <form id="editar_form" action="/gestion_inventario_admin/lista_equipo_diferenciado/validar_add/{{equipos_descripcion.codigo}}" method="POST">
          <div class="modal-body">

            <div class="form-group">
              <label for="nombres"> Código sufijo </label>
              <input class="form-control" type="text" name="codigo_sufijo" id="codigo">
            </div>

            <div class="form-group">
              <label for="nombres"> Fecha de compra</label>
              <input type="date" max="3000-01-01" class="form-control" id="fecha_compra" name="fecha_compra">
            </div>

            <div class="form-group">
              <label for="exampleSelect1">Estado</label>
              <select class="form-control" id="exampleSelect1" input type="text" name="activo">
                <option value="1">Activo</option>
                <option value="0">Inactivo</option>
              </select>
            </div>
      </div>
      <div class="modal-footer">
              <button type="button" id="boton_cerrar" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="summit" id="boton_guardar" class="btn btn-info"> Guardar cambios</button>
      </div>
    </form>
  </div>
</div>
</div>
