<!-- Modal editar equipo-->
<div class="modal fade" id="editar_equipo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-gris-eit">
          <h5 id="modal-title" class="modal-title text-white" id="editar_informacion_label"><i class="fas fa-edit"></i> Editar equipo</h5>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close" style="outline:none;">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="editar_form" action="/gestion_inventario_admin/actualizar_informacion" method="POST">

          <div class="modal-body">
            <input class="form-control" type="text" name="codigo_original" value="" id="editar-equipo-hidden-id" hidden>

            <div class="form-group">
              <label for="editar-equipo-codigo">Código</label>
              <input class="form-control" type="text" name="codigo" value="" id="editar-equipo-codigo" maxlength="6" pattern="[A-Z0-9]+"required placeholder="AAA111">
            </div>

            <div class="form-group">
              <label for="editar-equipo-modelo">Nombre</label>
              <input class="form-control" type="text" name="nombre" value="" id="editar-equipo-nombre" required>
            </div>

            <div class="form-group">
              <label for="editar-equipo-marca">Marca</label>
              <input class="form-control" type="text" name="marca"  value="" id="editar-equipo-marca" required>
            </div>

            <div class="form-group">
              <label for="editar-equipo-modelo">Modelo</label>
              <input class="form-control" type="text" name="modelo" value="" id="editar-equipo-modelo" required>
            </div>

            <div class="form-group">
              <label for="editar-equipo-descripcion">Descripción</label>
              <textarea class="form-control" id="editar-equipo-descripcion" name="descripcion" rows="3" style="min-height:100px;max-height:300px;"></textarea>
            </div>

            <div class="form-group">
              <label for="editar-equipo-imagen">URL de imagen</label>
              <input class="form-control" type="text" name="imagen" value="" id="editar-equipo-imagen">
            </div>

            <div class="form-group">
              <label for="dias_max_prestamo">Días de prestamo</label>
              <input type="number" min="1" class="form-control" name="dias_max_prestamo" value="" id="editar-equipo-dias">
            </div>

            <div class="form-group">
              <label for="dias_max_prestamo">Días para renovar</label>
              <input type="number" min="1" class="form-control" name="dias_renovacion" value="" id="editar-equipo-dias-renovacion">
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" id="boton_cerrar" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="summit" id="boton_guardar" class="btn btn-info" type="hidden"> Guardar cambios</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script>
    function cargar_datos_equipo_modal(codigo, nombre, modelo, marca, descripcion, dias_max_prestamo, imagen_url, dias_renovacion){
      document.getElementById("modal-title").innerHTML = '<i class="fas fa-edit"></i> Editar equipo ' + codigo ;
      $("#editar-equipo-hidden-id").val(codigo);
      $("#editar-equipo-codigo").val(codigo);
      $("#editar-equipo-nombre").val(nombre);
      $("#editar-equipo-modelo").val(modelo);
      $("#editar-equipo-marca").val(marca);
      $("#editar-equipo-descripcion").val( descripcion);
      $("#editar-equipo-dias").val(dias_max_prestamo);
      $("#editar-equipo-dias-renovacion").val(dias_renovacion);
      $("#editar-equipo-imagen").val(imagen_url);
    };
  </script>
