<!-- Modal editar equipo-->
<div class="modal fade" id="editar_equipo_similar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-gris-eit">
          <h5 id="modal-title" class="modal-title text-white" id="editar_informacion_label"><i class="fas fa-edit"></i> Editar equipo</h5>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close" style="outline:none;">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="editar_form" action="/gestion_inventario_admin/lista_equipo_diferenciado/actualizar_informacion" method="POST">
          <div class="modal-body">
            <input class="form-control" type="text" name="codigo_equipo" value="" id="editar_equipo_hidden_id_equipo" hidden>
            <input class="form-control" type="text" name="codigo_sufijo_original" value="" id="editar_equipo_hidden_id_sufijo" hidden>

            <div class="form-group">
              <label for="editar_equipo_codigo_sufijo"> Código sufijo </label>
              <input class="form-control" type="text" name="codigo_sufijo" id="editar_equipo_codigo_sufijo" maxlength="3" pattern="[0-9]+"required placeholder="111">
            </div>


            <div class="form-group">
              <label for="editar_equipo_fecha_compra"> Fecha de compra</label>
              <input class="form-control"  type="date"  id="editar_equipo_fecha_compra" name="fecha_compra" required >
            </div>


            <div class="form-group">
              <label for="editar_equipo_codigo_sufijo"> Código activo </label>
              <input class="form-control" type="text" name="codigo_activo" id="editar_codigo_activo">
            </div>


            <div class="form-group">
              <label for="editar_equipo_activo">Estado</label>
              <select class="form-control" id="editar_equipo_activo"input type="text" name="activo">
               <option value="1">Activo</option>
               <option value="0">Inactivo</option>
              </select>
            </div>

            <div class="form-group">
              <label for="comunas">Motivo inactivo</label>
              <textarea class="form-control"   id="editar_equipo_razon_inactivo" name="razon_inactivo" rows="3" style="min-height:100px;max-height:300px;"></textarea>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" id="boton_cerrar" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="summit" id="boton_guardar" class="btn btn-info" type="hidden"> Guardar cambios</button>
        </form>
       </div>
      </div>
    </div>


  <script>
    function cargar_datos_equipo_dif_modal(codigo_equipo, codigo_sufijo, fecha_compra, activo, codigo_activo,  razon_inactivo){
      document.getElementById("modal-title").innerHTML = '<i class="fas fa-edit"></i> Editar equipo ' + codigo_equipo + "-" + codigo_sufijo ;
      $("#editar_equipo_hidden_id_equipo").val(codigo_equipo);
      $("#editar_equipo_hidden_id_sufijo").val(codigo_sufijo);
      $("#editar_equipo_codigo_sufijo").val(codigo_sufijo);
      $("#editar_equipo_fecha_compra").val(fecha_compra);
      $("#editar_codigo_activo").val(codigo_activo);
      $("#editar_equipo_activo").val(activo);
      $("#editar_equipo_razon_inactivo").val(razon_inactivo);
}
  </script>
