<div class="modal fade" id="modal_info_solicitud_activas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-gris-eit">
            <h5 class="modal-title text-white"><i class="fas fa-file-invoice mr-2"></i>Información detallada del componente</h5>
            <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close" style="outline:none;">
              <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">


            <div class="card border-1 rounded-0" style="border-color:#0db26b;">
                <div class="card-header border-0 rounded-0" style="background:#0db26b;">
                    <h5 class="card-title my-auto text-white"><i class="fas fa-file-invoice mr-2"></i>Información de la solicitud de préstamo</h5>
                </div> 
            </div>
            <div class="card-body rounded-0" style="background:#ECF0F1;">
				<div class="form-group row">
					<label class="col-md-4 col-form-label texto-gris-eit">
						<strong>ID de solicitud:</strong>
					</label>
					<div class="col-md-2">
						<p class="form-control-plaintext text-break" id="modal_solicitudes_activas_ids">
						</p>
					</div>
					<label class="col-md-4 col-form-label texto-gris-eit">
						<strong>ID de detalle de solicitud:</strong>
					</label>
					<div class="col-md-2">
						<p class="form-control-plaintext text-break" id="modal_solicitudes_activas_idd">
						</p>
					</div>
				</div>

				<div class="form-group row">

					<label class="col-md-4 col-form-label texto-gris-eit">
						<strong>Estado:</strong>
					</label>
					<div class="col-md-2">
						<p class="form-control-plaintext text-break" id="modal_activas_estado">							
                            
						</p>
					</div>
					<label class="col-md-4 col-form-label texto-gris-eit">
						<strong>Fecha de registro:</strong>
					</label>
					<div class="col-md-2">
						<p class="form-control-plaintext text-break" id="modal_solicitudes_activas_fecha">
						</p>
					</div>
                </div>
                <div class="form-group row">

					<label class="col-md-4 col-form-label texto-gris-eit">
						<strong>Fecha vencimiento:</strong>
					</label>
					<div class="col-md-2">
						<p class="form-control-plaintext text-break" id="modal_activas_fecha_vencimiento"></p>
					</div>
                </div>
                <div class="form-group row">

					<label class="col-md-4 col-form-label texto-gris-eit">
						<strong>Fecha de inicio:</strong>
					</label>
					<div class="col-md-2">
						<p class="form-control-plaintext text-break" id="modal_activas_fecha_inicio"></p>
                    </div>
                    <label class="col-md-4 col-form-label texto-gris-eit">
						<strong>Fecha de término:</strong>
					</label>
					<div class="col-md-2">
						<p class="form-control-plaintext text-break" id="modal_activas_fecha_termino"></p>
					</div>
				</div>
            </div>
    <div class="card-header border-0 rounded-0" style="background:#0db26b;">
        <h5 class="card-title my-auto text-white"><i class="fas fa-user mr-2"></i>Información del solicitante</h5>
    </div>
    <div class="card-body rounded-0" style="background:#ECF0F1;">

        <div class="form-group row">
            <label class="col-md-4 col-form-label texto-gris-eit"><strong>RUT de alumno solicitante:</strong></label>
            <div class="col-md-2">
                <p class="form-control-plaintext text-break">
                    <a title="Ver perfil del usuario" id="modal_solicitudes_activas_rut" style="text-decoration:none;"></a>
                </p>
            </div>
            <label class="col-md-2 col-form-label texto-gris-eit">
                <strong>Nombre:</strong>
            </label>
            <div class="col-md-4">
                <p class="form-control-plaintext text-break" id="modal_solicitudes_activas_nombre"></p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label texto-gris-eit">
                <strong>Correo electrónico:</strong>
            </label>
            <div class="col-md-8">
                <p class="form-control-plaintext text-break">
                    <a href="" id="modal_solicitudes_activas_correo"></a>
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label texto-gris-eit">
                <strong>Curso motivo:</strong>
            </label>
            <div class="col-md-8"> 
                <p class="form-control-plaintext text-break" id="modal_activas_curso"></p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label texto-gris-eit">
                <strong>Razón:</strong>
            </label>
            <div class="col-md-8"> 
                <p class="form-control-plaintext text-break" id="modal_activas_razon"></p>
            </div>
        </div>

    </div>
<div class="card-header border-0 rounded-0" style="background:#0db26b;">
    <h5 class="card-title my-auto text-white"><i class="fas fa-laptop mr-2"></i>Componente solicitado</h5>
</div>

<div class="card-body rounded-0" style="background:#ECF0F1;">

    <div class="form-group row">
        <label class="col-md-4 col-form-label texto-gris-eit">
            <strong>ID de componente:</strong>
        </label>
        <div class="col-md-2">
            <p class="form-control-plaintext text-break" id="modal_solicitudes_activas_idcomponente">
                62
            </p>
        </div>
        <label class="col-md-4 col-form-label texto-gris-eit">
            <strong> Cantidad solicitada: </strong>
        </label>
        <div class="col-md-2">
            <p class="form-control-plaintext text-break" id="modal_solicitudes_activas_cantidad">
            </p>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <label class="col-md-2 col-form-label texto-gris-eit">
            <strong>Nombre:</strong>
        </label>
        <div class="col-md-4">
            <p class="form-control-plaintext text-break" id="modal_solicitudes_activas_componente"></p>
        </div>
        <label class="col-md-2 col-form-label texto-gris-eit">
            <strong>Stock:</strong>
        </label>
        <div class="col-md-4">
            <p class="form-control-plaintext text-break">
                <strong id="modal_activas_total">3</strong> unidades en total.
                <br>
                <strong id="modal_activas_disponibles">3</strong> unidades disponibles.
                <br>
                <strong id="modal_activas_resultado" style="color: #F31431;"></strong> 
            </p>
        </div>
    </div>

    <div class="form-group row">

    </div>

    <div class="form-group row">
        <label class="col-md-4 col-form-label texto-gris-eit">
            <strong>Días por renovación:</strong>
        </label>
        <div class="col-md-2">
            <p class="form-control-plaintext text-break" id="modal_activas_dias_renovacion"></p>
        </div>
        <label class="col-md-4 col-form-label texto-gris-eit">
            <strong>Cantidad de días permitidos:</strong>
        </label>
        <div class="col-md-2">
            <p class="form-control-plaintext text-break" id="modal_activas_dias_max"></p>
            
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <label class="col-md-2 col-form-label texto-gris-eit"><strong>Descripción:</strong></label>
            <div class="col-md-6">
                <p class="form-control-plaintext text-break" id="modal_solicitudes_activas_descripcion">
                </p>
            </div>
            <div class="col-md-4 text-right">
                <label class="col-form-label">
                <img style="max-width:80%;" class="img-fluid">
                </label>
            </div>
        
    </div>

</div>
    
        </div>
            <div class="modal-footer"><span class="btn-group flex-wrap">
                <button hidden id="btn_activas_cancelar" type="button" class="btn btn-danger mr-1 waves-effect waves-light" onclick="modal_activas_cancelar_retirar()"><i class="fas fa-times-circle mr-1"></i>Cancelar solicitud</button>
                <button hidden id="btn_activas_entregar" type="button" class="btn btn-info waves-effect waves-light" onclick="modal_aceptar_activas()"><i class="fas fa-clipboard-check mr-1"></i>Marcar como entregado</button>
                <button hidden id="btn_activas_devolver" type="button" class="btn btn-info waves-effect waves-light" onclick="modal_activas_devolver()">Registrar devolución</button>               
            
        </span>
            </div>
      </div>
    </div>
</div>

<script>
    function modal_ver_detalle_activos(elemento){
        console.log(elemento);
        document.getElementById("modal_solicitudes_activas_fecha").textContent = elemento.fecha_registro;
        $('#pendiente_id_solicitud_detalle').val(elemento.IDD) ;
        $('#pendiente_id_solicitud').val(elemento.IDS);
        document.getElementById("modal_solicitudes_activas_idd").textContent = elemento.IDD;
        document.getElementById("modal_solicitudes_activas_nombre").textContent = elemento.nombres +' ' +elemento.apellidos;
        document.getElementById("modal_solicitudes_activas_rut").textContent = elemento.rut;
        document.getElementById("modal_solicitudes_activas_ids").textContent = elemento.IDS;
        document.getElementById("modal_solicitudes_activas_correo").textContent = elemento.email;
        document.getElementById("modal_solicitudes_activas_componente").textContent = elemento.componente;
        document.getElementById("modal_solicitudes_activas_idcomponente").textContent = elemento.id_componente;
        document.getElementById("modal_solicitudes_activas_descripcion").textContent = elemento.descripcion;
        document.getElementById("modal_solicitudes_activas_cantidad").textContent = elemento.cantidad;
        document.getElementById("modal_activas_disponibles").textContent = elemento.disponibles;
        document.getElementById("modal_activas_total").textContent = elemento.total;
        document.getElementById("modal_activas_dias_max").textContent = elemento.dias_max_prestamo + ' día(s)';
        document.getElementById("modal_activas_dias_renovacion").textContent = elemento.dias_renovacion + ' día(s)';
        document.getElementById("modal_activas_curso").textContent = elemento.curso_motivo;
        document.getElementById("modal_activas_razon").textContent = elemento.motivo;
        document.getElementById("modal_activas_estado").textContent = elemento.estado;
        switch (elemento.estado){
            case 'Por retirar':
                document.getElementById("modal_activas_estado").className = "badge badge-info";
                break;
            case 'En posesión':
                document.getElementById("modal_activas_estado").className = "badge badge-success"; 
                break;
            case 'Con atraso':
                document.getElementById("modal_activas_estado").className = "badge badge-danger"; 
                break;
        }

        document.getElementById("modal_activas_fecha_vencimiento").textContent = elemento.fecha_vencimiento;
        document.getElementById("modal_activas_fecha_inicio").textContent = elemento.fecha_inicio;
        document.getElementById("modal_activas_fecha_termino").textContent = elemento.fecha_termino;
        document.getElementById("activas_aceptar_confirmar_componente").textContent = elemento.componente;
        document.getElementById("activas_aceptar_confirmar_cantidad").textContent = elemento.cantidad;
        document.getElementById("activas_aceptar_confirmar_dias").textContent = elemento.dias_max_prestamo;
        $('#id_solicitud_detalle_confirmar_entrega').val(elemento.IDD);
        $('#id_solicitud_detalle_confirmar_devolucion').val(elemento.IDD);
        $('#kigyvbuk').val(elemento.IDD);
        
    
        switch (elemento.estado){
            case 'Por retirar':
                $('#btn_activas_cancelar').attr("hidden",false);
                $('#btn_activas_entregar').attr("hidden",false);
                $('#btn_activas_devolver').attr("hidden",true);
                break;
            case 'En posesión':
            case 'Con atraso':
                $('#btn_activas_cancelar').attr("hidden",true);
                $('#btn_activas_entregar').attr("hidden",true);
                $('#btn_activas_devolver').attr("hidden",false);
                break;
        }   

        $("#modal_info_solicitud_activas").modal("show");
    }
</script>
{% include "vistas_gestion_solicitudes_circuitos/modals/activas_aceptar.html" %}
{% include "vistas_gestion_solicitudes_circuitos/modals/activas_cancelar.html" %}
{% include "vistas_gestion_solicitudes_circuitos/modals/activas_devolver.html" %}
