<div class="modal fade" id="modal_activas_devolver" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-gris-eit">
          <h5 class="modal-title text-white"><i class="fas fa-question-circle mr-2"></i>Confirmación de devolución de equipo</h5>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close" style="outline:none;">
            <span aria-hidden="true">×</span>
          </button>
        </div>
          <div class="modal-body">
            <input type="text" hidden="" name="id_encabezado_solicitud" value="101">
            <input type="text" hidden="" name="codigo_equipo" value="AA431">
            <input type="text" hidden="" name="codigo_sufijo_equipo" value="007">
            <p>
              Al confirmar, el equipo quedará disponible para ser asignado a otras solicitudes.
            </p>
            <p>
              En caso de que el equipo haya sido entregado con anterioridad al registro en el sistema, especifique la fecha. De lo contrario, omita el campo.
            </p>
            <div class="form-group">
              <input type="datetime-local" max="3000-01-01" class="form-control" name="fecha_devolucion_equipo" id="fecha_solicitud_detalle_confirmar_devolucion">
            </div>
            <input type="hidden" id="id_solicitud_detalle_confirmar_devolucion">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary waves-effect waves-light" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-info waves-effect waves-light" onclick="confirmar_devolucion_activas()">Confirmar devolución</button>
          </div>
      </div>
    </div>
  </div>

  <script>
    function modal_activas_devolver(){

        $('#modal_activas_devolver').modal('show');
    }
    function confirmar_devolucion_activas(){
      $.ajax({
          data : {
              id_solicitud_detalle: $('#id_solicitud_detalle_confirmar_devolucion').val(),
              fecha_devolucion: $('#fecha_solicitud_detalle_confirmar_devolucion').val(),
          },
          type : 'POST',
          url : '/gestion_solicitudes_prestamos_circuitos/devolver_solicitud_detalle'
        }).done(function(data){
              if(data.error){
                window.location.replace("/gestion_solicitudes_prestamos_circuitos");
              }
              else{
                  window.location.replace("/gestion_solicitudes_prestamos_circuitos");
              }
          });
  }
</script>