<div class="modal fade" id="confirmacion_pedido" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-gris-eit">
        <h5 class="modal-title text-white"><i class="fas fa-question-circle mr-2"></i>Confirmación de envío de solicitud</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close" style="outline:none;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="form_pedido_carro" action="/registrar_solicitud" method="post">
        <div class="modal-body">
					<p>Al confirmar, se registrarán las solicitudes según los equipos que has agregado a tu carro de pedidos.</p>
					<p>Recuerda estar atento a tu bandeja de entrada. Serás notificado por correo acerca del estado de tus solicitudes.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-success">Confirmar</button>
        </div>
      </form>
    </div>
  </div>
</div>
