<div class="modal fade" id="info_detallada_equipo_{{equipo["id"]}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-gris-eit">
        <h5 class="modal-title text-white"><i class="fas fa-file-invoice mr-2"></i>Información detallada del equipo</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close" style="outline:none;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="formulario-agregar-equipo-carro" method="post">
        <input hidden type="text" name="id_equipo" value="{{equipo["id"]}}">

        <div class="modal-body">

					<div class="form-group row">
				    <label class="col-md-2 col-form-label"><strong>Marca:</strong></label>
				    <div class="col-md-4">
							<p class="form-control-plaintext text-break">
								{{equipo["marca"]}}
							</p>
				    </div>

						<label class="col-md-2 col-form-label"><strong>Modelo:</strong></label>
				    <div class="col-md-4">
							<p class="form-control-plaintext text-break">
								{{equipo["modelo"]}}
							</p>
				    </div>
				  </div>

					<div class="form-group row">
				    <label class="col-md-4 col-form-label"><strong>Días de préstamo establecidos:</strong></label>
				    <div class="col-md-2">
							<p class="form-control-plaintext text-break">
								{{equipo["dias_max_prestamo"]}}
							</p>
				    </div>

						<label class="col-md-4 col-form-label"><strong>Cantidad de unidades:</strong></label>
				    <div class="col-md-2">
							<p class="form-control-plaintext text-break">
								{{equipo["cantidad_disponible"]}}/{{equipo["cantidad_total"]}}
							</p>
				    </div>
				  </div>

					{% if equipo["imagen"] %}
					<div class="form-group row">
				    <label class="col-md-2 col-form-label"><strong>Descripción:</strong></label>
				  </div>
						<div class="form-group row">
							<div class="col-md-8">
								<p class="text-justify">
									{{equipo["descripcion"]|nl2br}}
								</p>
							</div>
              {% if equipo["imagen"] != "None" %}
                <div class="col-md-4">
                  <img style="max-width:80%;" class="img-fluid" src="{{equipo["imagen"]}}">
                </div>
              {% endif %}
						</div>
					{% else %}
					<div class="form-group row">
				    <label class="col-md-2 col-form-label"><strong>Descripción:</strong></label>
				    <div class="col-md-10">
							<p class="form-control-plaintext text-justify">
								{{equipo["descripcion"]|nl2br}}
							</p>
				    </div>
				  </div>
					{% endif %}

					<hr>

					<div class="form-group row">
				    <label class="col-md-8 col-form-label"><i class="fas fa-info-circle mr-2"></i>Selecciona la cantidad de unidades que deseas pedir:</label>

						<div class="col-md-4">
							<input type="number" required min="1" max="5" class="form-control" value="1" name="cantidad_unidades_solicitadas">
						</div>
					</div>

					{% if lista_cursos %}

					<div class="card-header mt-4" style="background:#4D4D4D;">
						<h5 class="card-title text-white my-auto"><i class="fas fa-chalkboard-teacher mr-2"></i>Asignatura asociada</h5>
						<div class="form-check mt-1 form-check-inline">
							<input class="form-check-input" name="asignatura_asociada" type="checkbox" id="checkbox_asignatura_asociada_{{equipo["id"]}}" onclick="check_asociacion_asignatura({{equipo["id"]}})">
							<label class="form-check-label text-white" for="checkbox_asignatura_asociada_{{equipo["id"]}}">Selecciona esta opción en caso de que el equipo a solicitar esté asociado a una asignatura.</label>
						</div>
					</div>

						<div class="mt-2" hidden id="form_asociacion_asignatura_{{equipo["id"]}}">

							<p><i class="fas fa-info-circle mr-2"></i>Por favor, indícanos la asignatura a la que se encuentra asociada la solicitud de este equipo.
											Esta información podrá ayudarnos a mejorar la calidad de nuestros servicios.
							</p>
							<div class="form-group">
								<select size="5" name="id_asignatura_asociada" class="form-control select_asignatura_asociada" id="select_asignatura_asociada_{{equipo["id"]}}">
									{% for curso in lista_cursos %}
										<option value="{{curso["id"]}}">{{curso["nombre"]}}</option>
									{% endfor %}
								</select>
								<small class="form-text text-muted">
									* En caso de querer anular la selección, simplemente desmarca la opción (checkbox) de asociación.
								</small>
							</div>
					
						</div>
					
						{% endif %}

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-success submit-agregar-pedido"><i class="fas fa-cart-plus mr-2"></i>Agregar al carro</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
	function check_asociacion_asignatura(id_equipo){
		var elemento_checkbox = document.getElementById("checkbox_asignatura_asociada_"+id_equipo);
		if(elemento_checkbox.checked){
			document.getElementById("form_asociacion_asignatura_"+id_equipo).hidden = false;
		}else{
			$("#select_asignatura_asociada_"+id_equipo).val([]);
			document.getElementById("form_asociacion_asignatura_"+id_equipo).hidden = true;
		}
	}
</script>
