<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>LabEIT UDP</title>

				<!-- Hojas de estilo CSS -->
		    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
				<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
		    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link href="{{ url_for('static', filename='../static/css/estilos_lab.css') }}" rel="stylesheet"/>
        <link rel="icon" href="{{ url_for('static', filename='../static/imgs/tab_icon.png') }}">
        
    </head>


    <body style="background:#f5f5f5;">

      <nav class="navbar bg-verde-eit">
        <a class="navbar-brand" href="/">
          <img src="{{ url_for('static', filename="../static/imgs/logo_eit.png")}}" style="width:40%;" alt="Logo EIT">
        </a>
      </nav>

      <div class="col-md-12 mt-2 mx-auto">
        {% with msgs = get_flashed_messages() %}
          {% if msgs %}
            {% for msg in msgs %}
              {% if msg == "contraseñas-no-coinciden"%}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <i class="fas fa-times-circle mr-2"></i>La contraseña que has ingresado no coincide con la confirmación. Intenta nuevamente.
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              {%endif%}
              {% if msg == "correo-recuperacion-exito" %}
              <div class="alert alert-success mt-2 alert-dismissible fade show" role="alert">
                  <i class="fas fa-check-circle mr-2"></i>Las indicaciones para el restablecimiento de contraseñas han sido enviadas a tu correo electrónico.
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              {% endif %}
            {%endfor%}
          {%endif%}
        {%endwith%}
      </div>

      <div class="container mb-5 mt-5 h-100">
        <div class="row align-items-center h-100">
          <div class="col-md-5 mx-auto">
            <div class="card border-0 rounded-0">
              <div class="card-header bg-verde-eit">
                <h2 class="text-center text-white">Restablecer contraseña</h2>
              </div>
              <div class="card-body">
                <p class="texto-gris-eit"><i class="fas fa-id-card-alt mr-2"></i>{{registro_token["nombres_usuario"]}} {{registro_token["apellidos_usuario"]}}</p>
                <form action="/recuperacion/modificar_password" method="POST">
                  <input type="text" hidden name="token_id" value="{{registro_token["token_id"]}}">
                <div class="form-group">
                  <label class="texto-gris-eit">Nueva contraseña</label>
                  <div class="input-group">
                    <input type="password" id="input_nueva_password" required minlength="8" onkeyup="CheckPasswordStrength(this,'info_robustez_restablecimiento_password','barra_progreso_restablecer_contraseña','boton_submit_restablecimiento')" name="nueva_contraseña" class="form-control">
                    <div class="input-group-append" id="seccion_boton_visibildad_password" title="Mostrar contraseña">
                      <span class="input-group-text btn" id="boton_visibilidad_contraseña"><i class="fas fa-eye"></i></span>
                    </div>
                  </div>
                  <small class="form-text text-muted">La contraseña debe contener al menos 8 caracteres alfanuméricos.</small>
                </div>
                <div class="form-group">
                      <p class="text-muted"><i class="fas fa-shield-alt mr-2"></i>Nivel de seguridad de la contraseña:<span class="ml-2" id="info_robustez_restablecimiento_password"></span></p>
                      <small class="form-text text-muted mb-2">Para continuar, la contraseña debe ser al menos de nivel <font class="text-warning">medio</font>.</small>
                  <div class="progress" style="height: 10px;">
                    <div class="progress-bar progress-bar-striped" id="barra_progreso_restablecer_contraseña" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="texto-gris-eit">Confirmar contraseña</label>
                  <input type="password" required minlength="8" name="confirmacion_contraseña" class="form-control">
                </div>
                <div class="row">
                  <div class="col text-center">
                    <button type="submit" disabled id="boton_submit_restablecimiento" class="btn btn-verde-eit">Restablecer contraseña</button>
                  </div>
                </div>
              </form>

              </div>
            </div>
          </div>
        </div>
      </div>


        <!-- Javascript -->
				<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='../static/js/script_labeit.js') }}"></script>
        <script type="text/javascript">
          $("#boton_visibilidad_contraseña").click(function(){
            var tipo_input = $("#input_nueva_password").attr("type");
            if(tipo_input == "password"){
              $("#boton_visibilidad_contraseña").html('<i class="fas fa-eye-slash"></i>');
              $("#seccion_boton_visibildad_password").prop("title","Ocultar contraseña");
              $("#input_nueva_password").attr("type","text");
            }else{
              $("#boton_visibilidad_contraseña").html('<i class="fas fa-eye"></i>');
              $("#seccion_boton_visibildad_password").prop("title","Mostrar contraseña");
              $("#input_nueva_password").attr("type","password");
            }
          });
        </script>

    </body>

</html>
