<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>LabEIT UDP</title>

				<!-- Hojas de estilo CSS -->
		    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
				<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
		    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link href="{{ url_for('static', filename='../static/css/estilos_lab.css') }}" rel="stylesheet"/>
        <link rel="icon" href="{{ url_for('static', filename='../static/imgs/tab_icon.png') }}">
        
    </head>


    <body style="background:#f5f5f5;">

      <nav class="navbar bg-verde-eit">
        <a class="navbar-brand" href="/">
          <img src="{{ url_for('static', filename="../static/imgs/logo_eit.png")}}" style="width:40%;" alt="Logo EIT">
        </a>
      </nav>

      <div class="container h-100">
        <div class="row align-items-center h-100">
          <img src="{{ url_for('static', filename="../static/imgs/logo_recuperacion_password.png")}}" class="img-fluid rounded-0 mx-auto d-block mb-1 mt-1" style="max-width:30%;">
          <div class="col-10 mx-auto">
            <div class="card border-0 rounded-0 bg-gris-body">
              <div class="card-body">
                <h2 class="texto-gris-eit text-center">Recuperación de contraseña</h2>
                <hr>

                {% with msgs = get_flashed_messages() %}
                  {% if msgs %}
                    {% for msg in msgs %}
                      {% if msg == "correo-recuperacion-fallido"%}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                          <i class="fas fa-times-circle mr-2"></i>Se ha producido un error interno al enviar el correo. Contacta a un administrador.
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                      {%endif%}
                      {% if msg == "notificacion-recuperacion" %}
                      <div class="alert alert-success mt-2 alert-dismissible fade show" role="alert">
                          <i class="fas fa-check-circle mr-2"></i>Las indicaciones para el restablecimiento de contraseña serán enviadas al correo en caso de que la cuenta asociada se encuentre registrada en el laboratorio.
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      {% endif %}
                    {%endfor%}
                  {%endif%}
                {%endwith%}

                <p class="texto-gris-eit text-center">Para restablecer tu contraseña, ingresa a continuación tu <strong>correo electrónico</strong> con el cual te encuentras registrado en la plataforma.
                 </p>
                 <form class="" action="/enviar_recuperacion_password" method="post">
                   <div class="row">
                      <input type="email" style="max-width:500px;" maxlength="150" class="form-control mx-auto" name="identificacion_usuario" placeholder="Ingresa tu correo electrónico" required>
                   </div>
                  <div class="row">
                    <div class="col text-center">
                      <button type="submit" class="btn btn-success mt-3">Enviar</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>


        <!-- Javascript -->
				<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='../static/js/script_labeit.js') }}"></script>
    </body>

</html>
