{% if session["carro_pedidos"] %}
<div class="table-responsive">
	<div class="table-wrapper-scroll-y" style="position: relative; overflow:auto;">
				<table class="table" id="tabla_carro_pedidos">
					<thead class="text-white" style="background:#4D4D4D;">
						<tr>
							<th scope="col">Equipos agregados a tu carro de pedidos</th>
							<th scope="col" class="text-center">Unidades</th>
							<th scope="col" class="text-center">Acciones</th>
						</tr>
					</thead>
					<tbody>
						{% for equipo in lista_carro %}
							<tr style="background:#ECF0F1;">
								<td>{{equipo["nombre"]}} {{equipo["marca"]}} {{equipo["modelo"]}}</td>
								<td class="text-center">{{equipo["cantidad_pedidos"]}}</td>
								<td class="text-center">
									<span class="btn-group">
										<button type="button" onclick="eliminar_del_carro({{equipo}})" title="Eliminar equipo del carro" class="btn btn-sm btn-danger boton-eliminar-pedido-carro"><i class="fas fa-times-circle"></i></button>
									</span>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>

		<div class="card-header text-right mt-1">
			<button type="button" id="boton-vaciar-carro" onclick="vaciar_carro()" class="btn my-auto btn-danger"><i class="fas fa-trash-alt mr-2"></i>Vaciar carro</button>
			<button type="button" class="btn my-auto btn-success" data-toggle="modal" data-target="#confirmacion_pedido"><i class="fas fa-clipboard-check mr-2"></i>Confirmar pedido</button>
		</div>

{% else %}
	<div class="alert alert-warning alert-dismissible fade show text-center mt-2" role="alert">
		<i class="fas fa-exclamation-triangle mr-2"></i>Actualmente tu carro de pedidos se encuentra vacío.
	</div>
{% endif %}
