{% extends "layout_in.html" %}
	{%block body%}

	{% include "/solicitudes_prestamos/modals/confirmacion_pedido.html" %}

	{% for equipo in lista_equipos %}
		{% include "/solicitudes_prestamos/modals/info_detallada_equipo.html" %}
	{% endfor %}

	<div class="container-fluid">

		{% with msgs = get_flashed_messages() %}
			{% if msgs %}
				{% for msg in msgs %}
				{% if msg == "solicitud-registrada" %}
				<div class="alert alert-success mt-2 alert-dismissible fade show" role="alert">
						<i class="fas fa-check-circle mr-2"></i>La solicitud de préstamo ha sido registrada correctamente. Recuerda estar atento a las indicaciones en tu correo electrónico.
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
						</button>
				</div>
				{% endif %}
				{%endfor%}
			{%endif%}
		{%endwith%}



		<div class="card-header mt-4" style="background:#0db26b;">
			<h5 class="card-title text-white my-auto">Solicitudes de préstamos</h5>
			<p class="text-white my-auto"><i class="fas fa-info-circle mr-2"></i>En esta sección podrás realizar las solicitudes de préstamo de los equipos que necesites, seleccionándolos en la lista y agregándolos a tu carro de pedidos.</p>
		</div>

		{% if lista_equipos %}
		<div class="card-header mt-3" style="background:#4D4D4D;">
			<h5 class="text-white my-auto text-center"><i class="fas fa-laptop mr-2"></i>Lista de equipos del laboratorio</h5>
		</div>
		<div class="table-responsive mt-2">
		  <div class="table-wrapper-scroll-y" style="position: relative; overflow:auto;">
					<table class="table" id="tabla_equipos_solicitud">
					  <thead class="text-white" style="background:#4D4D4D;">
					    <tr>
								<th scope="col">Nombre</th>
					      <th scope="col">Marca</th>
					      <th scope="col">Modelo</th>
					      <th scope="col" class="text-center">Cantidad disponible</th>
								<th scope="col" class="text-center">Acciones</th>
					    </tr>
					  </thead>
					  <tbody>
							{% for equipo in lista_equipos %}
								<tr style="background:#ECF0F1;">
										<td>{{equipo["nombre"]}}</td>
										<td>{{equipo["marca"]}}</td>
										<td>{{equipo["modelo"]}}</td>
										<td class="text-center">{{equipo["cantidad_disponible"]}}/{{equipo["cantidad_total"]}}</td>
										<td class="text-center">
											<button type="button" title="Ver información detallada" class="btn btn-sm btn-info" data-toggle="modal" data-target="#info_detallada_equipo_{{equipo["id"]}}"><i class="fas fa-file-invoice"></i></button>
										</td>
								</tr>
							{% endfor %}
					  </tbody>
					</table>
				</div>
			</div>
		{% else %}
			<div class="alert alert-warning alert-dismissible fade show text-center mt-2" role="alert">
				<i class="fas fa-exclamation-triangle mr-2"></i>Actualmente no hay equipos disponibles.
			</div>
		{% endif %}

		<div class="card-header mt-4" style="background:#0db26b;">
			<h5 class="card-title text-white my-auto"><i class="fas fa-chalkboard-teacher mr-2"></i>Asignaturas asociadas</h5>
			<p class="text-white my-auto"><i class="fas fa-info-circle mr-2"></i>Selecciona tus asignaturas en caso de que tu pedido se encuentre asociado a alguna de ellas. (No obligatorio)</p>
			<button type="button" class="btn btn-sm btn-secondary" data-container="body" data-toggle="popover" data-placement="top" data-content="Al asociar tus cursos al pedido que estás realizando permitirás, a la coordinación de laboratorios, obtener mayor retroalimentación acerca de los equipos que se están solicitando, con la finalidad de mejorar la calidad del servicio.">
				Más información
			</button>
		</div>

		{% if lista_cursos %}
			<div class="alert alert-info alert-dismissible fade show text-center mt-2" role="alert">
				<i class="fas fa-info-circle mr-2"></i>En caso de que no se encuentre alguno de tus cursos en la lista, contacta al laboratorista para realizar el registro.
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="table-responsive mt-2">
				<div class="table-wrapper-scroll-y" style="position: relative; overflow:auto;">
						<table class="table" id="tabla_cursos_usuario">
							<thead class="text-white" style="background:#4D4D4D;">
								<tr>
									<th scope="col">Código de asignatura</th>
									<th scope="col" class="text-center">Sección</th>
									<th scope="col">Nombre de la asignatura</th>
									<th scope="col">
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="checkbox" id="check_all_cursos" value="option1">
										</div>
									</th>
								</tr>
							</thead>
							<tbody>
								{% for curso in lista_cursos %}
									<tr style="background:#ECF0F1;">
											<td>{{curso["codigo_udp"]}}</td>
											<td class="text-center">{{curso["codigo_seccion"]}}</td>
											<td>{{curso["nombre"]}}</td>
											<td>
												<div class="form-check form-check-inline">
													<input class="form-check-input" type="checkbox" id="checkbox_curso_{{curso["id"]}}" name="curso_relacionado" value="{{curso["id"]}}">
												</div>
											</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
		{% else %}
			<div class="alert alert-warning alert-dismissible fade show text-center mt-2" role="alert">
				<i class="fas fa-exclamation-triangle mr-2"></i>No se han encontrado cursos asociados a tu cuenta. Puedes contactar al laboratorista para realizar el registro.
			</div>
		{% endif %}

		<div class="card-header mt-4" style="background:#0db26b;">
			<h5 class="card-title text-white my-auto"><i class="fas fa-shopping-cart mr-2"></i>Tu carro de pedidos</h5>
			<p class="text-white my-auto"><i class="fas fa-info-circle mr-2"></i>A medida que selecciones equipos, estos irán apareciendo en tu lista de pedidos.</p>
		</div>

		<div id="carro_pedidos">
			{% if session["carro_pedidos"] %}
			<div class="table-responsive">
			  <div class="table-wrapper-scroll-y" style="position: relative; overflow:auto;">
					<table class="table" id="tabla_carro_pedidos">
						<thead class="text-white" style="background:#4D4D4D;">
							<tr>
								<th scope="col">Equipos agregados a tu carro de pedidos</th>
								<th scope="col" class="text-center">Unidades</th>
								<th scope="col" class="text-center">Acciones</th>
							</tr>
						</thead>
						<tbody>
							{% for equipo in lista_carro %}
								<tr style="background:#ECF0F1;">
									<td>{{equipo["nombre"]}} {{equipo["marca"]}} {{equipo["modelo"]}}</td>
									<td class="text-center">{{equipo["cantidad_pedidos"]}}</td>
									<td class="text-center">
										<span class="btn-group">
											<button type="button" onclick="eliminar_del_carro({{equipo}})" title="Eliminar equipo del carro" class="btn btn-sm btn-danger boton-eliminar-pedido-carro"><i class="fas fa-times-circle"></i></button>
										</span>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>

		{% else %}
			<div class="alert alert-warning alert-dismissible fade show text-center mt-2" role="alert">
				<i class="fas fa-exclamation-triangle mr-2"></i>Actualmente tu carro de pedidos se encuentra vacío.
			</div>
		{% endif %}

	</div>

			<div id="seccion-botones-carro-pedidos" hidden class="card-header text-right mt-1">
				<button type="button" id="boton-vaciar-carro" onclick="vaciar_carro()" class="btn my-auto btn-danger"><i class="fas fa-trash-alt mr-2"></i>Vaciar carro</button>
				<button type="button" class="btn my-auto btn-success" data-toggle="modal" data-target="#confirmacion_pedido"><i class="fas fa-clipboard-check mr-2"></i>Confirmar pedido</button>
			</div>

	<script type="text/javascript">

		$(document).ready( () =>{

				var lista_carro_pedidos = {{lista_carro|tojson}};
				if(lista_carro_pedidos.length){
					$("#seccion-botones-carro-pedidos").prop("hidden",false);
				}

				// AJAX para agregar pedido al carro de pedidos
				$(".formulario-agregar-equipo-carro").on("submit",function(event){
						var elements = this.elements; // Elementos HTML del form
						let id_equipo = elements[0].value;
						// Se minimiza el modal correspondiente
						$("#info_detallada_equipo_"+id_equipo).modal("toggle");
						let cantidad_pedidos = elements[1].value;
						// Se deja el input de cantidad denuevo en 1
						this.elements[1].value = 1;
						// Se desactiva el botón submit
						$(".submit-agregar-pedido").prop('disabled', true);
						$.ajax({
								data: {
									id_equipo: id_equipo,
									cantidad_pedidos: cantidad_pedidos
								},
								type: "POST",
								url: "/agregar_al_carro"
						})
						 .done(function(data){
							 $("#carro_pedidos").html(data);
								 // Se activa el botón submit
							 $(".submit-agregar-pedido").prop('disabled', false);

							 $("#seccion-botones-carro-pedidos").prop("hidden",false);
						 });
						event.preventDefault();
				});

				$('#tabla_equipos_solicitud, #tabla_cursos_usuario').DataTable( {
						"order": [[ 0, "desc" ]],
						"language": {
								"lengthMenu": "Mostrar _MENU_ registros por página",
								"zeroRecords": "No se han encontrado registros.",
								"info": "Mostrando página _PAGE_ de _PAGES_",
								"infoEmpty": "Sin registros disponibles.",
								"search":         "Buscar",
								"paginate": {
										"next":       "Siguiente",
										"previous":   "Anterior"
								},
								"infoFiltered": "(filtrado de _MAX_ registros totales)"
							}
					} );

		});

		function eliminar_del_carro(equipo){
			let id_equipo = equipo["id"];
			$(".boton-eliminar-pedido-carro").prop('disabled', true);
			$.ajax({
					data: {
						id_equipo: id_equipo,
						vaciar_carro: 0
					},
					type: "POST",
					url: "/eliminar_del_carro"
			})
			 .done(function(data){
				 $("#carro_pedidos").html(data);
					 // Se activa el botón submit
				 $(".boton-eliminar-pedido-carro").prop('disabled', false);

				 if($('#tabla_carro_pedidos').find('tr').length == 0){
					 $("#seccion-botones-carro-pedidos").prop("hidden",true);
				 }

			 });
			event.preventDefault();
		}

		function vaciar_carro(){
			$("#boton-vaciar-carro").prop('disabled', true);
			$.ajax({
					data: {
						vaciar_carro: 1
					},
					type: "POST",
					url: "/eliminar_del_carro"
			})
			 .done(function(data){
				 $("#carro_pedidos").html(data);
					 // Se activa el botón submit
				 $("#boton-vaciar-carro").prop('disabled', false);
				 $("#seccion-botones-carro-pedidos").prop("hidden",true);
			 });
			event.preventDefault();
		}

		$(function () {
			$('[data-toggle="popover"]').popover()
		});

		// Checkbox para activar o desactivar todos los checkbox en la tabla
		$('#check_all_cursos').change(function() {
        if(this.checked) {
					$(".form-check-input").prop("checked",true);
        }else{
					$(".form-check-input").prop("checked",false);
				}      
    });

		$("#form_pedido_carro").submit( function(eventObj) {
			// Se agregan los checkbox de los cursos relacionados al formulario
			$(this).append($(".form-check-input"));
		});

	</script>



	{% endblock %}
