<div id="modal_subir_foto" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="subir_foto" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content ">
        <div class="modal-header bg-gris-eit">
          <h5 class="modal-title text-white" id="editar_informacion_label"><i class="fas fa-user-edit mr-2"></i>Subir foto de perfil</h5>
        </div>
        <form action="/perfil/subir_foto" method="POST" enctype="multipart/form-data">

            <div class="modal-body">
                
                <div class="custom-file">
                    <input type="file" oninput="file_size(this);" class="custom-file-input" name="image" id="image" accept="image/png,image/jpeg,image/jpg" required value="asdasd">
                    <label class="custom-file-label" for="image">Seleccionar Archivo</label>
                </div>
                <small style="color:darkgrey;">El archivo no debe superar los 500KB</small>

            </div>
            <div class="modal-footer">

            {% if foto == True %}   <a class="btn btn-light mr-auto" href="/perfil/borrar_foto"> Eliminar foto </a>  {% endif %}
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" id="boton_subir" class="btn btn-info">Subir imagen</button>
            </div>
        </form>
    </div>
  </div>
</div>


<script>
    function open_modal_subir_foto(){
        $('#modal_subir_foto').modal('show');
    }
    function file_size(elem){
        if(elem.files[0].size>500000){
            alert("El tamaño del archivo supera los 500KB");
            document.getElementById("image").value = "";
        }
    }
    
</script>