<div class="modal fade" id="confirmacion_cancelacion_solicitud" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-gris-eit">
        <h5 class="modal-title text-white"><i class="fas fa-question-circle mr-2"></i>Confirmación de cancelación de solicitud</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close" style="outline:none;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form  action="/cancelar_solicitud/{{datos_detalle_solicitud["id"]}}" method="post">
        <div class="modal-body">
          <input type="text" hidden name="id_encabezado_solicitud" value="{{datos_encabezado_solicitud["id"]}}">
          <input type="text" hidden name="codigo_equipo" value="{{datos_equipo["codigo"]}}">
          <input type="text" hidden name="codigo_sufijo_equipo" value="{{datos_detalle_solicitud["codigo_sufijo_equipo"]}}">
          <p>La solicitud de préstamo será marcada automáticamente como <strong>cancelada</strong> y el usuario solicitante será notificado.</p>

          <div class="form-group">
            <label>Motivo de la cancelación:</label>
            <textarea required class="form-control" name="razon_cancelacion" rows="3" maxlength="1500" style="min-height:100px;max-height:300px;"></textarea>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-danger">Cancelar solicitud</button>
        </div>
      </form>
    </div>
  </div>
</div>