{% extends "layout_in.html" %}
	{% block body %}

	{% include "/vistas_gestion_solicitudes_prestamos/modals/confirmacion_aprobacion.html" %}
	{% include "/vistas_gestion_solicitudes_prestamos/modals/confirmacion_rechazo.html" %}

	<div class="container-fluid mt-2">

		<nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item"><a href="/gestion_solicitudes_prestamos">Gestión de solicitudes de préstamos</a></li>
		    <li class="breadcrumb-item active" aria-current="page">Detalle de solicitud <span class="badge badge-info">34348</span></li>
		  </ol>
		</nav>

		<div class="card border-1 rounded-0" style="border-color:#0db26b;">
			<div class="card-header border-0 rounded-0" style="background:#0db26b;">
				<h5 class="card-title my-auto text-white"><i class="fas fa-file-invoice mr-2"></i>Información de la solicitud de préstamo</h5>
			</div>
			<div class="card-body rounded-0" style="background:#ECF0F1;">

				<div class="form-group row">
					<label class="col-md-4 col-form-label texto-gris-eit">
						<strong>ID de solicitud:</strong>
					</label>
					<div class="col-md-2">
						<p class="form-control-plaintext text-break">
							3584
						</p>
					</div>
					<label class="col-md-4 col-form-label texto-gris-eit">
						<strong>ID de detalle de solicitud:</strong>
					</label>
					<div class="col-md-2">
						<p class="form-control-plaintext
							 text-break">
							 34348
						</p>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-md-4 col-form-label texto-gris-eit">
						<strong>Estado:</strong>
					</label>
					<div class="col-md-2">
						<p class="form-control-plaintext text-break">
							<span class="badge badge-success">Entregado</span>
						</p>
					</div>
					<label class="col-md-4 col-form-label texto-gris-eit">
						<strong>Fecha de registro:</strong>
					</label>
					<div class="col-md-2">
						<p class="form-control-plaintext
							 text-break">
							 09/06/2020 12:53
						</p>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-md-4 col-form-label texto-gris-eit">
						<strong>Fecha de inicio:</strong>
					</label>
					<div class="col-md-2">
						<p class="form-control-plaintext text-break">
							12/06/2020
						</p>
					</div>
					<label class="col-md-4 col-form-label texto-gris-eit">
						<strong>Fecha de término:</strong>
					</label>
					<div class="col-md-2">
						<p class="form-control-plaintext
							 text-break">
							 18/06/2020
						</p>
					</div>
				</div>

			</div>

			<div class="card-header border-0 rounded-0" style="background:#0db26b;">
				<h5 class="card-title my-auto text-white"><i class="fas fa-user mr-2"></i>Información del solicitante</h5>
			</div>
			<div class="card-body rounded-0" style="background:#ECF0F1;">
				<div class="form-group row">
					<label class="col-md-4 col-form-label texto-gris-eit">
						<strong>RUT de alumno solicitante:</strong>
					</label>
					<div class="col-md-2">
						<p class="form-control-plaintext text-break">
							<a href="/usuarios_registrados/19889608K" title="Ver perfil del usuario" style="text-decoration:none;">19.889.608-K</a>
						</p>
					</div>
					<label class="col-md-2 col-form-label texto-gris-eit">
						<strong>Nombre:</strong>
					</label>
					<div class="col-md-4">
						<p class="form-control-plaintext
							 text-break">
							 Sebastián Ignacio Toro Severino
						</p>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-4 col-form-label texto-gris-eit">
						<strong>Correo electrónico:</strong>
					</label>
					<div class="col-md-8">
						<p class="form-control-plaintext text-break">
							<a href="mailto:sebastian.toro1@mail.udp.cl?subject=feedback">sebastian.toro1@mail.udp.cl</a>
						</p>
					</div>
				</div>

				<hr>

				<div class="form-group row">
					<label class="col-md-4 col-form-label texto-gris-eit">
						<strong>RUT de profesor solicitante:</strong>
					</label>
					<div class="col-md-2">
						<p class="form-control-plaintext text-break">
							----
						</p>
					</div>
					<label class="col-md-2 col-form-label texto-gris-eit">
						<strong>Nombre:</strong>
					</label>
					<div class="col-md-4">
						<p class="form-control-plaintext
							 text-break">
							 ----
						</p>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-4 col-form-label texto-gris-eit">
						<strong>Correo electrónico:</strong>
					</label>
					<div class="col-md-8">
						<p class="form-control-plaintext text-break">
							<a href="mailto:correo.profesor@mail.udp.cl?subject=feedback">correo.profesor@mail.udp.cl</a>
						</p>
					</div>
				</div>
			</div>

			<div class="card-header border-0 rounded-0" style="background:#0db26b;">
				<h5 class="card-title my-auto text-white"><i class="fas fa-laptop mr-2"></i>Equipo solicitado</h5>
			</div>
			<div class="card-body rounded-0" style="background:#ECF0F1;">

				<div class="form-group row">
					<label class="col-md-4 col-form-label texto-gris-eit">
						<strong>ID de equipo:</strong>
					</label>
					<div class="col-md-2">
						<p class="form-control-plaintext text-break">
							74
						</p>
					</div>
					<label class="col-md-4 col-form-label texto-gris-eit">
						<strong>Código de laboratorio:</strong>
					</label>
					<div class="col-md-2">
						<p class="form-control-plaintext
							 text-break">
							 AA134751
						</p>
					</div>
				</div>

				<hr>

				<div class="form-group row">
					<label class="col-md-2 col-form-label texto-gris-eit">
						<strong>Marca:</strong>
					</label>
					<div class="col-md-4">
						<p class="form-control-plaintext text-break">
							Raspberry Pi Foundation
						</p>
					</div>
					<label class="col-md-2 col-form-label texto-gris-eit">
						<strong>Modelo:</strong>
					</label>
					<div class="col-md-4">
						<p class="form-control-plaintext
							 text-break">
							 Raspberry Pi 3 modelo B+
						</p>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-md-2 col-form-label texto-gris-eit">
						<strong>Stock:</strong>
					</label>
					<div class="col-md-4">
						<p class="form-control-plaintext text-break">
							5/8 unidades en laboratorio
						</p>
					</div>
					<label class="col-md-4 col-form-label texto-gris-eit">
						<strong>Cantidad de días permitidos:</strong>
					</label>
					<div class="col-md-2">
						<p class="form-control-plaintext
							 text-break">
							 5 día(s)
						</p>
					</div>
				</div>

				<hr>

				<div class="form-group row">
					<label class="col-md-2 col-form-label texto-gris-eit">
						<strong>Descripción:</strong>
					</label>
					<div class="col-md-6">
						<p class="form-control-plaintext text-break">
							Raspberry Pi 3 Modelo B+ (B Plus)
La familia Raspberry Pi tiene un nuevo integrante y corresponde a la nueva versión mejorada de la Raspberry Pi 3, con un plus en su nombre, la Pi 3 B+ viene declarar ser la sucesora del modelo anterior. Ya sea estes buscando una plataforma para probar un prototipo, monitorear un grupo de sensores por internet o busques un dispositivo para fines educativos, la Raspberry Pi 3 B+ no te defraudará!
						</p>
					</div>
					<div class="col-md-4 text-right">
						<label class="col-form-label">
						<img src="https://ingelinf.cl/wp-content/uploads/2019/07/new-rpi-3bp.jpg" style="max-width:80%;" class="img-fluid">
						</label>
					</div>
				</div>

			</div>
			<div class="card-footer rounded-0 text-right" style="background:#ECF0F1;">
				<span class="btn-group flex-wrap">
					<button type="button" class="btn btn-warning mr-1"><i class="fas fa-edit mr-1"></i>Modificar solicitud</button>
					<button type="button" class="btn btn-danger mr-1" data-toggle="modal" data-target="#confirmacion_rechazo_solicitud"><i class="fas fa-times-circle mr-1"></i>Rechazar solicitud</button>
					<button type="button" class="btn btn-success" data-toggle="modal" data-target="#confirmacion_aprobacion_solicitud"><i class="fas fa-clipboard-check mr-1"></i>Aprobar solicitud</button>
				</span>
			</div>

		</div>


	</div>

	{% endblock %}
