{% extends "layout_in.html" %}
	{%block body%}

	<section id="tabs" class="project-tab mt-2">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <nav>
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-lista-prestamos-activos-tab" data-toggle="tab" href="#nav-lista-prestamos-activos" role="tab" aria-controls="nav-lista-prestamos-activos" aria-selected="true"><i class="fas fa-file-invoice mr-2"></i>Lista de solicitudes de préstamos</a>
                                <a class="nav-item nav-link" id="nav-historial-prestamos-tab" data-toggle="tab" href="#nav-historial-prestamos" role="tab" aria-controls="nav-historial-prestamos" aria-selected="false"><i class="fas fa-history mr-2"></i>Historial de solicitudes de préstamos</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-lista-prestamos-activos" role="tabpanel" aria-labelledby="nav-lista-prestamos-activos-tab">
															{% include "/vistas_gestion_solicitudes_prestamos/lista_solicitudes_activas.html" %}
                            </div>
                            <div class="tab-pane fade" id="nav-historial-prestamos" role="tabpanel" aria-labelledby="nav-historial-prestamos-tab">
															{% include "/vistas_gestion_solicitudes_prestamos/historial_solicitudes.html" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


	{% endblock %}
