<div class="table-responsive mt-2">
    <div class="table-wrapper-scroll-y" style="position: relative;
                            max-height: 450px;
                            overflow:auto;">
  <table class="table" style="background:#ECF0F1;">
    <thead class="text-white" style="background:#4D4D4D;">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">IDD</th>
            <th scope="col"> Equipo Solicitado</th>
            <th scope="col"> Motivo</th>
            <th scope="col">Fecha</th>
        </tr>
    </thead>
    <tbody>
    {%for solicitud in solicitudes %}
        <tr>
            <td>{{solicitud["id"]}}</td>
            <td>{{solicitud["id_detalle"]}}</td>
            <td>{{solicitud["equipo"]}} {{solicitud["modelo"]}}</td>
            <td>{{solicitud["motivo"]}}</td>
            <td>{{solicitud["registro"]}}</td>
        </tr>
    {%endfor%}
    </tbody>

 </table>
    </div>
</div>