{%extends 'layout_in.html' %}

{% block body %}
    <div class="container-fluid">

      {% with msgs = get_flashed_messages() %}
        {% if msgs %}
          {% for msg in msgs %}
            {% if msg == "editado-correcto"%}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="fas fa-check-circle mr-2"></i>Se ha modificado correctamente.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {%endif%}
            {% if msg == "agregar-correcto"%}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="fas fa-check-circle mr-2"></i>Se ha agregado correctamente.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {%endif%}
            {% if msg == "eliminar-correcto"%}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="fas fa-check-circle mr-2"></i>Se ha eliminado correctamente.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {%endif%}
          {%endfor%}
        {%endif%}
      {%endwith%}

      <div class="card-header mt-4" style="background:#0db26b;">
      	<h5 class="card-title text-white my-auto">Gestión de usuarios</h5>
      	<p class="text-white my-auto"><i class="fas fa-info-circle mr-2"></i>En esta sección encontrará los usuarios registrados en el sistema, además de poder realizar nuevos registros, consultar y editar información.</p>
      </div>

      <div class="row float-right mt-2 mb-2">
          <div class="col-md-12">
              <button type="button" data-target=" #agregar_usuario" class= "btn btn-success" data-toggle="modal"><i class="fas fa-user-plus mr-2"></i>Agregar nuevo usuario</button>
               {% include 'pablo/añadir_usuario.html' %}
               <button type="button" data-target=" #agregar_masivo" class= "btn btn-info" data-toggle="modal"><i class="fas fa-file-csv mr-2"></i>Carga masiva</button>
          </div>
      </div>

      <div class="table-responsive mt-2">
    		<div class="table-wrapper-scroll-y" style="position: relative;
    								max-height: 450px;
    								overflow:auto;">
          <table class="table" style="background:#ECF0F1;">
    			  <thead class="text-white" style="background:#4D4D4D;">
                  <tr>
                      <th scope="col">Nombre</th>
                      <th scope="col">Apellido</th>
                      <th scope="col">Rut</th>
                      <th scope="col">Tipo de credencial</th>
                      <th scope="col" class="text-center">Acciones</th>
                  </tr>
              </thead>
              <tbody>
                  {%for usuario in usuarios%}
                      <tr>
                          <td>{{usuario["nombres"]}}</td>
                          <td>{{usuario["apellidos"]}}</td>
                          <td>{{usuario["rut"]|formato_rut}}</td>
                          <td>{{usuario["credencial"]}}</td>
                          <td class="text-center">
                             <button type="button" title="Editar información" data-target=" #editar_{{usuario['rut']}}" class= "btn btn-sm btn-warning" data-toggle="modal"><i class="fas fa-edit"></i></button>
                             <a class="btn btn-sm btn-info" title="Ver información detallada" href="/gestion_usuarios/ver_usuario?rut={{usuario['rut']}}"><i class="fas fa-search-plus"></i></a>
                             <button type="button" title="Eliminar usuario" data-target="#eliminar_{{usuario['rut']}}" class="btn btn-sm btn-danger" data-toggle="modal"><i class="fas fa-trash-alt"></i></button>
                          </td>
                          {% include 'pablo/editar_usuario.html' %}
                          {% include 'pablo/eliminar_usuario.html' %}
                      </tr>
                  {%endfor%}
              </tbody>
          </table>
        </div>
      </div>

    </div>

{%endblock%}
