{%extends 'layout_in.html' %}

{%block title%}LabEIT- Añadir Usuario{% endblock %}

{% block body %}
        <div class="container-fluid">
            <div class="row align-items-center h-100">
                <div class="card-body">
                    <h3 class="texto-gris-eit text-center">Perfil de {{usuario['nombres']}} {{usuario['apellidos']}} </h3>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <nav>
                                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-perfil" data-toggle="tab" href="#nav-perfil" role="tab" aria-controls="nav-lista-prestamos-activos" aria-selected="true"><i class="fas fa-file-invoice mr-2"></i>Perfil</a>
                                    <a class="nav-item nav-link" id="nav-solicitudes" data-toggle="tab" href="#nav-solicitudes" role="tab" aria-controls="nav-historial-prestamos" aria-selected="false"><i class="fas fa-history mr-2"></i>Solicitudes de préstamos</a>
                                    <a class="nav-item nav-link" id="nav-cursos" data-toggle="tab" href="#nav-cursos" role="tab" aria-controls="nav-cursos" aria-selected="false"><i class="fas fa-history mr-2"></i>Cursos</a>
                                </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-perfil" role="tabpanel" aria-labelledby="nav-perfil-tab">
                                                                
                                </div>
                                <div class="tab-pane fade" id="nav-solicitudes" role="tabpanel" aria-labelledby="nav-solicitudes-tab">
                                                                
                                </div>
                                <div class="tab-pane fade" id="nav-cursos" role="tabpanel" aria-labelledby="nav-cursos-tab">
                                                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}