{% extends "layout_in.html" %}
	{% block body %}
  {% for elemento in equipo_detalle %}
  {{equipo_detalle.codigo}}



    {{equipo_detalle.marca}}
	<div class="container-fluid mt-2">
			<div class="card-header border-0 rounded-0" style="background:#0db26b;">
				<h5 class="card-title my-auto text-white"><i class="fas fa-laptop mr-2"></i>Detalles equipo</h5>
			</div>
			<div class="card-body rounded-0" style="background:#ECF0F1;">

				<div class="form-group row">
					<label class="col-md-4 col-form-label texto-gris-eit">
						<strong>ID de equipo:</strong>
					</label>
					<div class="col-md-2">
						<p class="form-control-plaintext text-break">
							  {{elemento.id}}
						</p>
					</div>
					<label class="col-md-4 col-form-label texto-gris-eit">
						<strong>Código de laboratorio:</strong>
					</label>
					<div class="col-md-2">
						<p class="form-control-plaintext
							 text-break">
             {{elemento.codigo}}
						</p>
					</div>
				</div>

				<hr>

				<div class="form-group row">
					<label class="col-md-2 col-form-label texto-gris-eit">
						<strong>Marca:</strong>
					</label>
					<div class="col-md-4">
						<p class="form-control-plaintext text-break">
						 {{elemento.marca}}
						</p>
					</div>
					<label class="col-md-2 col-form-label texto-gris-eit">
						<strong>Modelo:</strong>
					</label>
					<div class="col-md-4">
						<p class="form-control-plaintext
							 text-break">
							  {{elemento.modelo}}
						</p>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-md-2 col-form-label texto-gris-eit">
						<strong>Stock:</strong>
					</label>
					<div class="col-md-4">
						<p class="form-control-plaintext text-break">
							 {{elemento.disponibles}}
						</p>
					</div>
					<label class="col-md-4 col-form-label texto-gris-eit">
						<strong>Cantidad de días permitidos:</strong>
					</label>
					<div class="col-md-2">
						<p class="form-control-plaintext
							 text-break">
							  {{elemento.dias_max_prestamo}}
						</p>
					</div>
				</div>

				<hr>

				<div class="form-group row">
					<label class="col-md-2 col-form-label texto-gris-eit">
						<strong>Descripción:</strong>
					</label>
					<div class="col-md-6">
						<p class="form-control-plaintext text-break">
							 {{elemento.descripcion}}
						</p>
					</div>
					<div class="col-md-4 text-right">
						<label class="col-form-label">
            {% if elemento.imagen =="None" %}
						<img src="https://static.thenounproject.com/png/340719-200.png" style="max-width:80%;" class="img-fluid">
            {% else %}
          	<img src="https://static.thenounproject.com/png/340719-200.png" style="max-width:80%;" class="img-fluid">
            {% endif %}


						</label>
					</div>
				</div>

			</div>
		</div>

  {% endfor %}
    <div class="row mt-3">
    	<div class="col-md-12">
    		<h5 class="texto-gris-eit">Lista de solicitudes de préstamos activas</h5>
    	</div>
    </div>
    <hr>

    <div class="table-responsive">
    	<div class="table-wrapper-scroll-y" style="position: relative;
    							max-height: 450px;
    							overflow:auto;">
    		<table class="table table-hover">
    		  <thead class="text-white" style="background:#4D4D4D;">
    		    <tr>
    		      <th scope="col">ID</th>
    		      <th scope="col">RUT de alumno solicitante</th>
    		      <th scope="col">Equipo solicitado</th>
    		      <th scope="col">Estado de solicitud</th>
    					<th scope="col">Fecha de registro</th>
    					<th scope="col">Acciones</th>
    		    </tr>
    		  </thead>
    		  <tbody>
    				{% for elemento in equipos_detalle %}
    					<tr>
    						<td>{{loop.index}}</td>
    						<td>19.889.608-K</td>
    						<td>Raspberry Pi</td>
    						{% set random_num = range(1,4) | random %}

    						{% if random_num == 1 %}
    							<td class="text-center"><span class="badge badge-success">En curso</span></td>
    						{% elif random_num == 2 %}
    							<td class="text-center"><span class="badge badge-danger">Con atraso de N días</span></td>
    						{% elif random_num == 3 %}
    							<td class="text-center"><span class="badge badge-warning">Por retirar</span></td>
    						{% else %}

    						{% endif %}
    						<td>09-06-2020 - 01:45</td>
    						<td>
    							<span class="btn-group">
    								<a href="gestion_solicitudes_prestamos/detalle_solicitud/{{loop.index}}">
    									<button type="button" title="Ver detalle de solicitud" class="btn btn-sm btn-secondary mr-1"><i class="fas fa-search-plus"></i></button>
    								</a>
    								<button type="button" title="Eliminar solicitud" class="btn btn-sm btn-danger"><i class="fas fa-minus-circle"></i></button>
    							</span>
    						</td>
    					</tr>
    				{% endfor %}
    		  </tbody>
    		</table>
    	</div>
    </div>

    {% endblock %}
