<div class="card-header mt-4" style="background:#0db26b;">
    <h5 class="card-title text-white my-auto">Gestión de inventario por equipos</h5>
    <p class="text-white my-auto"><i class="fas fa-info-circle mr-2"></i>A continuación encontrará la lista de los equipos registrados en el laboratorio.</p>
</div>

<br>


<div class="table-responsive">
  <div class="table-wrapper-scroll-y" style="position: relative; overflow:auto;">
    <table id="tabla_equipos" class="table">
      <thead class="text-white" style="background:#4D4D4D;">
          <tr>
              <th scope="col">Código</th>
              <th scope="col">Código activo fijo</th>
              <th scope="col">Nombre</th>
              <th scope="col">Modelo</th>
              <th scope="col">Marca</th>
              <th scope="col">Fecha compra</th>
              <th scope="col">Estado</th>
              <th scope="col">Acciones</th>
          </tr>
      </thead>
      <tbody>
          {% for elemento in lista_equipo_detalle %}
          <tr style="background:#ECF0F1;">
              <td>{{elemento.codigo_equipo}}-{{elemento.codigo_sufijo}}</td>
              <td>{{elemento.codigo_activo}}</td>
              <td>{{elemento.nombre}}</td>
              <td>{{elemento.modelo}}</td>
              <td>{{elemento.marca}}</td>
              <td>{{elemento.fecha_compra}}</td>
              <td>
                {% if elemento.estado == 'No disponible' %}
                  <span class="badge badge-warning">No disponible</span>
                {% elif elemento.estado == 'Disponible' %}
                  <span class="badge badge-primary">Disponible</span>
                {% elif elemento.estado == 'Por retirar' %}
                  <span class="badge badge-info">Por retirar</span>
                {% elif elemento.estado == 'En posesión' %}
                  <span class="badge badge-success">En posesión</span>
                {% elif elemento.estado == 'Con atraso' %}
                  <span class="badge badge-danger">Con atraso</span>
                {% else %} 
                  <span>Inesperado</span>
                {% endif %}
              </td>
              <td>
                  <span class="btn-group">
                    <button type="button" onclick="cargar_datos_equipo_dif_modal('{{elemento.codigo_equipo}}','{{elemento.codigo_sufijo}}', '{{elemento.fecha_compra}}', '{{elemento.activo}}','{{elemento.codigo_activo}}' , '{{elemento.razon_inactivo}}')" data-target="#editar_equipo_similar" title="Editar equipo" class="btn btn-sm btn-warning mr-1" data-toggle="modal"><i class="fas fa-edit"></i></button>
                    <button type="button" onclick="cargar_codigo_delete_equipo_diferenciado_modal('{{elemento.codigo_equipo}}','{{elemento.codigo_sufijo}}')" title="Eliminar equipo"  data-target="#eliminar_equipo_similar" data-toggle="modal" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>
                  
                  </span>
              </td>
            </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
</div>


