{% extends "layout_in.html" %}
	{%block body%}

	<div class="container-fluid">

		<div class="row mt-5">
			<div class="col-md-8 mx-auto">
				<div class="card border-1" style="border-color:#0db26b;">
					<div class="card-header" style="background: #0db26b;">
						<h5 class="card-title my-auto text-white text-center"><i class="fas fa-exclamation-triangle mr-2"></i>Atención</h5>
					</div>
					<div class="card-body" style="background:#ECF0F1;">
						<p>Actualmente tienes una sanción activa de <strong>{{sancion["cantidad_dias"]}}</strong> día(s). Mientras no cumplas con el tiempo respectivo, no podrás acceder a las solicitudes de préstamo.</p>
						<p>Recuerda entregar los equipos que has pedido dentro de las fechas señaladas, de lo contrario tu sanción podría agravarse.</p>
						<p>Si tienes dudas o crees que has sido sancionado injustificadamente, contáctanos vía correo electrónico (<a href="mailto:labeit@mail.udp.cl?subject=Duda/Problema-LabEIT">labeit@mail.udp.cl</a>) o acercándote al laboratorio.</p>
					</div>
				</div>
			</div>
		</div>

	</div>

	{% endblock %}
