<head>
    <title>Perfil</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='../static/css/victor_css/prueba.css') }}" rel="stylesheet"/>
</head>



<body>
    <div class="container-fluid">
        <div class="card section-red-card">
            <h1>
                <b>Tu perfil</b> 
            </h1>
        </div>

        
        <div class="row row-profile">
            

            <div class="col-md-4">
                <img src="https://via.placeholder.com/220"/>
                <h6>Credencial: Alummno</h6>
                <h6>Sanción activa: No</h6>
                <h6>Configurar perfil</h6>                
            </div>
            
            <div class="col-md-8">
                <p>
                    Mi madre va a comprar tomates y el chico le trae unos ajos. Más tarde me cogió un juego para la Play Station 4 de fútbol y el encargado le trajo uno de baloncesto y tenis.

A mí en mi tiempo libre me encanta estar con el móvil pero juego al fútbol con mis amigos, pero también me gusta escuchar música pero miro una red social, instagram.

Me gusta comer patatas fritas pero lo único que me importa es estar con mi hermana porque me lo paso muy bien con ella.

Me gusta pasarlo bien con mis amigos pero a la vez me quedo en casa porque si no me aburro y mucho además mientras juego al billar, comiéndome unas hamburguesas muy deliciosas y muy ricas; además estaban las mandarinas.

Ojalá me toque la lotería porque me encantaría comerme ahora mismo unas galletas porque me gustan mucho además odio la coliflor
                </p>

            </div>


        </div>
        







    </div>



        







   
</body>
