<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='../static/css/victor_css/prueba.css') }}" rel="stylesheet"/>
</head>

<body>
    <div class="container-fluid">
        <div class="card section-red">
            
            <h1>
                <b>Tu perfil</b> 
            </h1>
            
        </div>
    </div>
    <img src="https://2.bp.blogspot.com/-lsGjGzfaxxM/XNPUTBaujyI/AAAAAAAAC-0/t04P5D46yWQQ7nHURVuoGFFGrzUXa218wCLcBGAs/s1600/maxresdefault.jpg" alt="..." class="img-thumbnail">






    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
