<div class="card-header mt-4" style="background:#0db26b;">
	<h5 class="card-title text-white my-auto">Solicitudes de préstamos registradas</h5>
	<p class="text-white my-auto"><i class="fas fa-info-circle mr-2"></i>En la siguiente lista podrá encontrar, de forma general, el conjunto de solicitudes registradas en el sistema.</p>
	<button type="button" class="btn btn-sm btn-secondary mt-2 waves-effect waves-light" onclick="show_modal_nd2QHZ()"><i class="fas fa-plus-circle mr-2"></i>Registrar solicitud</button>
</div>




<div class="table-responsive mt-2">
    <div class="table-wrapper-scroll-y" style="position: relative; overflow:auto;">
              <table class="table mt-5" id="rCtPGY">
                <thead class="text-white" style="background:#4D4D4D;">
                  <tr>
                    <th title="ID de solicitud" scope="col">ID de Solicitud</th>
                    <th scope="col">RUT de alumno solicitante</th>
                    <th scope="col">Nombre del solicitante</th>
                    <th scope="col" class="text-center">N° de componentes</th>
                    <th scope="col">Fecha de registro</th>
                    <th scope="col" class="text-center">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                      {% for elemento in lista_solicitudes_prestamos%}
                          <tr style="background:#ECF0F1;">
                              <td>{{elemento.id}}</td>
                              <td>{{elemento.rut_alumno | formato_rut }}</td>
                              <td>{{elemento.nombre}}</td>
                              <td >{{elemento.componentes_solicitados}}</td>
                              <td>{{elemento.fecha_registro}}</td>
                              <td>
                                <button type="button" title="Ver detalle" class="btn btn-sm btn-secondary mr-1 waves-effect waves-light" onclick='TWWkWq({{elemento | tojson}})'><i class="fas fa-clipboard-list"></i></button>
                              </td>
                          </tr>
                      {% endfor %}
                </tbody>
              </table>
          </div>
</div>
{% include "vistas_gestion_solicitudes_circuitos/modals/solicitudes_ver_detalles.html" %}
