{%extends "layout_in.html"%}
  {%block body%}

  <div class="container-fluid">
    <div class="row mt-4">
        <div class="col-md-12">
            <h3 class="texto-gris-eit">Búsqueda de equipos</h3>
            <input type="text" placeholder="Buscar...">
            <button type="button" class="btn btn-info float-right">Descargar planilla</button>
        </div>
   </div>
  </div>
<hr style="margin-left: 50px;margin-right: 50px;">
       <div>
           {% include "busqueda-solicitudes/ver_equipos.html" %}
       </div>

{% endblock %}
