
    <div class="table-responsive">
      <div class="table-wrapper-scroll-y" style="position: relative; overflow: auto">
        <table class="table" id="inner-div" style="max-width: 1050px;">
              <thead class="text-white" style="background:#4D4D4D;">
                <tr>
                  <th scope="col">Código</th>
                  <th scope="col">Etiquetas</th>
                  <th scope="col">Marca</th>
                  <th scope="col">Modelo</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Días máx. disponibles</th>
                  <th scope="col">Eliminar</th>
                </tr>
              </thead>
              <tbody>
                {%for equipo in carro%}
                    <tr>
                        <td>{{equipo["codigo"]}}</td>
                        <td>{{equipo["etiqueta"]}}</td>
                        <td>{{equipo["marca"]}}</td>
                        <td>{{equipo["modelo"]}}</td>
                        <input type="number" value="500" min="0" max="{{equipo[adquiridos]}}" step="1"/>
                        <td>{{equipo["dias_max_prestamo"]}}</td>
                        <td> <input type="checkbox" aria-label="Checkbox">
                </tr>
                {%endfor%}
              </tbody>
            </table>
            <!--aqui faltan las opciones para detalles de solicitud -->
            <button type="button" class="btn btn-success">Confirmar</button>
          </div>
        </div>
