
    <div class="table-responsive">
      <div class="table-wrapper-scroll-y" style="position: relative; overflow: auto">
        <table class="table" id="inner-div" style="max-width: 1050px;">
              <thead class="text-white" style="background-color #4d4d4d;":>
                <tr>
                  <th scope="col">Código</th>
                  <th scope="col">Marca</th>
                  <th scope="col">Modelo</th>
                  <th scope="col">Descripción</th>
                  <th scope="col">Stock</th>
                </tr>
              </thead>
              <tbody>
                {% for i in range(4)%}
                <tr>
                  <td>{{loop.index}}</td>
                  <td>owo</td>
                  <td>owo</td>
                  <td>owo</td>
                  <td>owo</td>
                </tr>
                {%endfor%}
              </tbody>
            </table>
          </div>
        </div>
