<div class="modal fade" id="confirmacion_rechazo_wishlist" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-gris-eit">
        <h5 class="modal-title text-white"><i class="fas fa-question-circle mr-2"></i>Confirmación de rechazo de
          solicitud</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close" style="outline:none;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/rechazar_solicitud_w/{{detalle_solicitud["id"]}}" method="post">
        <div class="modal-body">
          <p>La solicitud de Wishlist será marcada automáticamente como <strong>rechazada</strong> y el usuario
            solicitante será notificado.</p>
          <p>Equipo solicitado: <strong>{{detalle_solicitud["nombre_equipo"]}}
              {{detalle_solicitud["marca_equipo"]}} ({{detalle_solicitud["modelo_equipo"]}})</strong></p>
          <div class="form-group">
            <label>Motivo del rechazo:</label>
            <textarea required class="form-control" name="razon_rechazo" rows="3" maxlength="300"
              style="min-height:100px;max-height:300px;"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-danger">Rechazar</button>
        </div>
      </form>
    </div>
  </div>
</div>