<div class="modal fade" id="confirmacion_eliminacion_solicitud_entrante" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-gris-eit">
          <h5 class="modal-title text-white"><i class="fas fa-question-circle mr-2"></i>Confirmación de eliminación de solicitud Wishlist</h5>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close" style="outline:none;">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="post" id="formulario_confirmacion_eliminacion_solicitud">
          <div class="modal-body">
            <p>La solicitud de Wishlist será eliminada del sistema y se perderán todos los datos asociados a esta.</p>
  
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-danger">Eliminar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  