/* ========================== Colores institucionales UDP/EIT para fondo y letras ================================ */
.bg-rojo-udp{
	background: #FC4E47;
}
.bg-verde-eit{
	background: #0db26b;
}
.bg-gris-eit{
	background: #4D4D4D;
}
.bg-gris-body{
	background: #f5f5f5;
}
.texto-rojo-udp{
	color: #FC4E47;
}
.texto-verde-eit{
	color: #0db26b;
}
.texto-gris-eit{
	color: #4D4D4D;
}
/* =========================== Botones personalizados ================================ */
.btn-rojo-udp {
  color: #fff;
  background-color: #FC4E47;
  border-color: #FC4E47;;
}

.btn-rojo-udp:hover {
  color: #fff;
  background-color: #d4423d;
  border-color: #d4423d;
}

.btn-rojo-udp:focus, .btn-rojo-udp.focus {
  box-shadow: 0 0 0 3px rgba(216, 55, 49, 0.82);
}

.btn-rojo-udp.disabled, .btn-rojo-udp:disabled {
  background-color: #e3716d;
  border-color: #e3716d;
}

.btn-rojo-udp:active, .btn-rojo-udp.active,
.show > .btn-rojo-udp.dropdown-toggle {
  background-color: #d4423d;
  background-image: none;
  border-color: #d4423d;
}

/* ****************************** */
#body-login{
	background-color: #6DB3F2;
	background:url(../../static/imgs/background_login.jpg) no-repeat !important;
}
.footer-login {
  position: absolute;
  bottom: 0;
  width: 100%;
	vertical-align: middle;
}

.body-profile {
  background-color: #f5f5f5;
}

.section-red-card{
  border: 0px;
  color: white;
  background-color: #4D4D4D;
  margin-top: 0px;
  margin-bottom: 50px;
  padding: 5px;
  padding-left: 30px;
}

.section-black-card{
  border: 0px;
  color: white;
  background-color: #434343;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 5px;
  padding-left: 30px;
}

.row-profile{
  margin-left: 0px;
  margin-right: 0px;
}

.profile-subtext{
  margin-top: 10px;
  margin-left: 10px;
}
/* TABS DE GESTIÓN DE SOLICITUDES DE PRÉSTAMOS */
.project-tab #tabs{
    background: #007b5e;
    color: #eee;
}
.project-tab #tabs h6.section-title{
    color: #eee;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: inherit;
    border-bottom: 3px solid #0db26b !important;
    font-weight: bold;
}
.project-tab .nav-link {
		color: inherit;
		background-color: transparent; /* Use this instead */
    color: #4D4D4D;
}
.project-tab .nav-link:hover {
		background: inherit;
}
.project-tab .nav-link:hover {
    border: none;
}
.project-tab thead{
    background: #f3f3f3;
    color: #333;
}
.project-tab a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
}
#profile-pic{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 2px solid #51D2B7;
  background-size: cover;
}
#inner-div{
  margin: 0 auto;
}
#inner-table{
  border: 0px;
  border-top: 0px
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

