{% extends "layout_in.html"%}
{%block body%}

<div class="card-header mt-4" style="background:#0db26b;">
    <h5 class="card-title text-white my-auto">Gestión de Wifi</h5>
    <p class="text-white my-auto"><i class="fas fa-info-circle mr-2"></i>A continuación encontrará la información relacionada a la red Wifi del laboratorio.</p>
</div>

<section class="jumbotron text-center" style="background:#FFFFFF;">
  <div class="container">
    <h1>{{datos_wifi.ssid}}</h1>
    <p class="lead text-muted">Contraseña actual : {{datos_wifi.password}}</p>
<p class="lead text-muted">BSSID : {{datos_wifi.bssid}}</p>
    <p>
      <a onclick="cargar_datos_wifi('{{datos_wifi.ssid}}','{{datos_wifi.bssid}}','{{datos_wifi.password}}')" data-target="#editar_wifi" data-toggle="modal" class="btn btn-primary btn-lg active">Modificar información</a>
    </p>
  </div>
</section>
{% include "vistas_gestion_inventario/modals/editar_wifi.html" %}
{% endblock %}
