{% extends "layout_in.html"%}
{%block body%}

<div class="container-fluid mt-2">

  <nav aria-label="breadcrumb ">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/gestion_inventario_admin">Gestión de inventario</a></li>
      <li class="breadcrumb-item active" aria-current="page">Equipo {{equipos_descripcion.marca}} {{equipos_descripcion.modelo}}</li>
    </ol>
  </nav>

  <div class="card-header mt-4" style="background:#0db26b;">
    <h5 class="card-title text-white my-auto">{{equipos_descripcion.marca}} {{equipos_descripcion.modelo}}</h5>
    <p class="text-white my-auto"><i class="fas fa-info-circle mr-2"></i>En esta sección se muestran las unidades registradas del equipo en el inventario.</p>
  </div>

  <div class="mt-2 mb-2 float-right">
    <button type="button" data-target="#agregar_equipo_similar" class="btn btn-success" data-toggle="modal"><i class="fas fa-plus-circle mr-2"></i>Agregar unidades</button>

    <a href="/gestion_inventario_admin/detalles_equipo/{{equipos_descripcion.codigo}}">
      <button type="button" class="btn btn-info"><i class="fas fa-search-plus mr-2"></i>Ver detalle de equipo</button>
    </a>
  </div>

  <div class="table-responsive mt-2">
    <div class="table-wrapper-scroll-y" style="position: relative; overflow:auto;">
      <table class="table table-hover">
        <thead class="text-white" style="background:#4D4D4D;">
            <tr>
              <th scope="col">Código</th>
              <th scope="col">Estado</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for elemento in equipos_detalle %}
              <tr style="background:#ECF0F1;">
                <td>{{elemento.codigo_equipo}}-{{elemento.codigo_sufijo}} </td>
                  {% if elemento.activo == 1 %}
                  <td ><span class="badge badge-success">Activo</span></td>
                  {% elif elemento.activo == 0 %}
                  <td ><span class="badge badge-danger">No disponible</span></td>
                  {% endif %}
                <td>
                  <span class="btn-group">
                    <button type="button" onclick="cargar_datos_equipo_dif_modal('{{elemento.codigo_equipo}}','{{elemento.codigo_sufijo}}', '{{elemento.fecha_compra}}', '{{elemento.activo}}')" data-target="#editar_equipo_similar" title="Editar equipo" class="btn btn-sm btn-warning mr-1" data-toggle="modal"><i class="fas fa-edit"></i></button>
                    <button type="button" onclick="cargar_codigo_delete_equipo_diferenciado_modal('{{elemento.codigo_equipo}}','{{elemento.codigo_sufijo}}')" title="Eliminar equipo"  data-target="#eliminar_equipo_similar" data-toggle="modal" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>
                  </span>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>


</div>


{% include "vistas_gestion_inventario/modals/eliminar_equipo_similar.html" %}
{% include "vistas_gestion_inventario/modals/agregar_equipo_similar.html" %}
{% include "vistas_gestion_inventario/modals/editar_equipo_similar.html" %}

{% endblock %}
