

<br>


<div class="table-responsive">
  <div class="table-wrapper-scroll-y" style="position: relative; overflow:auto;">
    <table id="tabla_componentes" class="table">
      <thead class="text-white" style="background:#4D4D4D;">
        <tr>
          <th scope="col">IDD</th>
          <th scope="col">Componente</th>
          <th scope="col">Cantidad</th>
          
          <th>Fecha inicio</th>
          <th>Fecha término</th>
          <th>Fecha de devolución</th>
          <th scope="col">Estado</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for elemento in componentes %}
        <tr style="background:#ECF0F1;">
          <td>{{elemento.IDD}}</td>
          <td>{{elemento.componente}}</td>
          <td>{{elemento.cantidad}}</td>
          <td>{{elemento.fecha_inicio if elemento.fecha_inicio}}</td>
          <td>{{elemento.fecha_termino if elemento.fecha_termino}}</td>
          <td>{{elemento.fecha_devolucion if elemento.fecha_devolucion}}</td>
            {% if elemento.estado == 'Pendiente' %}
						<td class="text-center"><span class="badge badge-primary">{{elemento.estado}}</span></td>
					{% elif elemento.estado == 'Por retirar' %}
						<td class="text-center"><span class="badge badge-info">{{elemento.estado}}</span></td>
					{% elif elemento.estado == 'En posesión' %}
						<td class="text-center"><span class="badge badge-success">{{elemento.estado}}</span></td>
					{% elif elemento.estado == 'Con atraso' %}
						<td class="text-center"><span class="badge badge-danger">{{elemento.estado}}</span></td>
					{% elif elemento.estado == 'Devuelto' %}
						<td class="text-center"><span class="badge badge-success">{{elemento.estado}}</span></td>
					{% elif elemento.estado == 'Rechazada' or elemento.estado == 'Cancelada' %}
						<td class="text-center"><span class="badge badge-danger">{{elemento.estado}}</span></td>
					{% elif elemento.estado == 'Finalizada' %}
						<td class="text-center"><span class="badge badge-secondary">{{elemento.estado}}</span></td>
            {% endif %}
            {% if elemento.estado == "Pendiente" %}

            <td>
              <form action="/perfil/cancelar_solicitud/componentes" method="POST">
                <input type="hidden" name="id_sol_componente" value="{{elemento.IDD}}" >
                <button type="submit" class="btn btn-danger btn-sm">Cancelar</button>
              </form>
            </td>
  
    {% elif elemento.estado == "En posesión" and sancionado == False %}
            <td>
              <form action="/perfil/extender_prestamo/componente" method="POST">
                <input type="hidden" name="id_sol_componente" value="{{elemento.IDD}}" >
                <button type="submit" class="btn btn-info btn-sm">Extender</button>
              </form>
            </td>
    {% else %}
  
            <td></td>
    {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>