
<br>


<div class="table-responsive">
  <div class="table-wrapper-scroll-y" style="position: relative; overflow:auto;">
    <table id="tabla_equipos" class="table">
      <thead class="text-white" style="background:#4D4D4D;">
        <tr>
          <th>ID</th>
          <th>Código</th>
          <th>Equipo</th>
          <th>Modelo</th>
          <th>Marca</th>
          <th>Fecha inicio</th>
          <th>Fecha término</th>
          <th>Fecha de devolución</th>
          <th class="text-center">Estado</th>
          {% if admin_inspeccionar_perfil == False%}
          <th>Opciones</th>
          {% endif %}

        </tr>
      </thead>
      <tbody>
{% for elemento in solicitudes_equipos %}
        <tr>
          <td>{{elemento.id}}</td>
          <td>{{elemento.codigo}}</td>
          <td>{{elemento.nombre}}</td>
          <td>{{elemento.modelo}}</td>
          <td>{{elemento.marca}}</td>
          <td>{{elemento.fecha_inicio if elemento.fecha_inicio}}</td>
          <td>{{elemento.fecha_termino if elemento.fecha_termino}}</td>
          <td>{{elemento.fecha_devolucion if elemento.fecha_devolucion}}</td>
          <td class="text-center"><span class="badge badge-secondary">{{elemento.estado}}</span></td>

{% if admin_inspeccionar_perfil == False%}

  {% if elemento.estado == "Pendiente" %}

          <td>
            <form action="/perfil/cancelar_solicitud" method="POST">
              <input type="hidden" name=id_solicitud_detalle value="{{elemento.id}}" >
              <button type="submit" class="btn btn-danger btn-sm">Cancelar</button>
            </form>
          </td>

  {% elif elemento.estado == "En posesión" and sancionado == False %}
          <td>
            <form action="/perfil/extender_prestamo" method="POST">
              <input type="hidden" name=id_solicitud_detalle value="{{elemento.id}}" >
              <button type="submit" class="btn btn-info btn-sm">Extender</button>
            </form>
          </td>
  {% else %}

          <td></td>
  {% endif %}

{% endif %}
        </tr>
{% endfor %}
      </tbody>
    </table>
  </div>
</div>
