{%extends 'layout_in.html' %}

{%block title%}LabEIT- Añadir Usuario{% endblock %}

{% block body %}
        <div class="container h-100">
            <div class="row align-items-center h-100">
                <div class="card-body">
                    <h1 class="texto-gris-eit text-center">Añadir Usuario </h1>
                    <hr>
                    <div class="col-md-12 mt-2 mx-auto">
                        {% with msgs = get_flashed_messages() %}
                          {% if msgs %}
                            {% for msg in msgs %}
                              {% if msg == "usuario_existe"%}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                  <i class="fas fa-times-circle mr-2">El usuario que intentas añadir ya existe.</i>
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                              {%endif%}
                            {%endfor%}
                          {%endif%}
                        {%endwith%}
                      </div>

                    <form action="/anadir_usuario" method="POST">
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <p>Aqui va la imagen</p>
                            </div>
                            <div class="form-group col-md-6">
            
                                <div>
                                    <label for="Nombres">Nombres:</label>
                                    <input type="text" id="nombres" name="nombres" class="form-control" required>
                                </div>
                                <div>
                                    <label for="apellidos">Apellidos:</label>
                                    <input type="text" name="apellidos" id="apellidos" class="form-control" required>
                                </div>
                                <div>
                                    <label for="rut">Rut:</label>
                                    <input type="text" name="rut" id="rut" class="form-control" required>
                                </div>
                                <div>
                                    <label for="correo">Correo:</label>
                                    <input type="email" name="correo" id="correo" class="form-control" required>
                                </div> 
                            </div>
                            <div class="form-group col-md-3">
                                <div>
                                    <label for="crendencial">Crendencial:</label>
                                    <select name="credencial" id="credencial" class="form-control">
                                        <option selected value="1">Alumno</option>
                                        <option value="2">Profesor</option>
                                        <option value="3">Administrador</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="col text-center">
                                    <button type="reset" class="btn btn-danger mt-3">Cancelar</button>
                                </div>
                            </div>
                            <div  class="form-group col-md-6">
                                <div class="col text-center">
                                    <button type="submit" class="btn btn-success mt-3">Guardar</button>
                                </div>
                            </div>
                        </div>
                            
                    </form>
                </div>
            </div>
        </div>

{% endblock %}
