{%extends 'layout_in.hmtl' %}

{%block title%}LabEIT - Editar Usuario{% endblock %}

{% block body %}
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="card-body">
                <h1 class="texto-gris-eit text-center">Editar Usuario</h1>
                <hr>
                <form action="/editar_usuario/{{datos[0]}}" method="POST">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <p>Aqui va la imagen</p>
                        </div>
                        <div class="form-group col-md-6">
        
                            <div>
                                <label for="nombres">Nombres:</label>
                                <input type="text" id="nombres" name="nombres" class="form-control" value="{{datos[4]}}" required>
                            </div>
                            <div>
                                <label for="apellidos">Apellidos:</label>
                                <input type="text" name="apellidos" id="apellidos" class="form-control" value="{{datos[5]}}" required>
                            </div>
                            <div>
                                <label for="rut">Rut:</label>
                                <input type="text" name="rut" id="rut" class="form-control" value="{{datos[0]}}" required>
                            </div>
                            <div>
                                <label for="correo">Correo:</label>
                                <input type="email" name="correo" id="correo" class="form-control"  value="{{datos[2]}}" required>
                            </div>
                            <div>
                                <label for="direccion">Dirección</label>
                                <input type="text" name="direccion" id="direccion" class="form-control" value="{{datos[10]}}" required>
                            </div> 

                        </div>
                        <div class="form-group col-md-3">
                            <div>
                                <label for="crendencial">Crendencial:</label>
                                <select name="credencial" id="credencial" class="form-control" >
                                    <option selected hidden value="{{credencial}}">{{credencial}}</option>
                                    <option value="1">Alumno</option>
                                    <option value="2">Profesor</option>
                                    <option value="3">Administrador</option>
                                </select>
                            </div>
                            <div>
                                <label for="region">Región:</label>
                                <select name="region" id="region" class="form-control">
                                    <option selected value="{{datos[7]}}">region {{datos[7]}}</option>
                                    <option value="Metropolitana">Metropolitana falso</option>
                                </select>                                    
                            </div>
                            <div>
                                <label for="comuna">Comuna:</label>
                                <select name="comuna" id="comuna" class="form-control">
                                    <option selected value="{{datos[8]}}"> comuna {{datos[8]}} </option>
                                    <option value="Santiago">Santiago falso</option>
                                </select>                                    
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="col text-center">
                                <button type="reset" class="btn btn-danger mt-3">Cancelar</button>
                            </div>
                        </div>
                        <div  class="form-group col-md-6">
                            <div class="col text-center">
                                <button type="submit" class="btn btn-success mt-3">Guardar</button>
                            </div>
                        </div>
                    </div>
                        
                </form>
            </div>
        </div>
    </div>
{% endblock %}
