<div id="eliminar_{{usuario['rut']}}" class="modal fade in" tabindex="-1" role="dialog"  aria-hidden="true" data-keyboard="true" data-backdrop="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-rojo-udp">
                <h5 class="modal-title text-white" ><i class="fas fa-trash-alt mr-2"></i>Eliminar {{usuario['nombres']}} {{usuario['apellidos']}} </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"></button>
                <span aria-hidden="true">&times; </span>
                </button> 
            </div>
            <form action="/gestion_usuarios/eliminar_usuario" method="POST">
                <div class="modal-body">
                    <h6> Seguro que deseas eliminar al usuario:</h6>
                    <p>{{usuario['nombres']}} {{usuario['apellidos']}} con Rut: {{usuario['rut']|formato_rut}} </p>
                    <input type="hidden" name="rut" value="{{usuario['rut']}}">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>