{%extends 'layout_in.html' %}

{% block body %}
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="card-body">
                <h1 class="texto-gris-eit text-center">Gestion Usuario</h1>
                <hr>
                <div class="col-md-12 mt-2 mx-auto">
                    {% with msgs = get_flashed_messages() %}
                      {% if msgs %}
                        {% for msg in msgs %}
                          {% if msg == "editado-correcto"%}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                              <i class="fas fa-check mr-2">Se ha modificado correctamente.</i>
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                          {%endif%}
                          {% if msg == "agregar-correcto"%}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                              <i class="fas fa-check mr-2">Se ha agregado correctamente.</i>
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                          {%endif%}
                          {% if msg == "eliminar-correcto"%}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                              <i class="fas fa-check mr-2">Se ha eliminado correctamente.</i>
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                          {%endif%}
                        {%endfor%}
                      {%endif%}
                    {%endwith%}
                  </div>                  
                <div class="row float-right">
                    <div class="col-md-12">
                        <button type="button" data-target=" #agregar_usuario" class= "btn btn-info" data-toggle="modal">Agregar Usuario</button>
                         {% include 'pablo/añadir_usuario.html' %}
                         <button type="button" data-target=" #agregar_masivo" class= "btn btn-info" data-toggle="modal">Agregar Masivo</button>
                    </div>             
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <caption>Lista de Usuarios</caption>
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido</th>
                                <th scope="col">Rut</th>
                                <th scope="col">Tipo de credencial</th>
                                <th scope="colgroup" >Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for usuario in usuarios%}
                                <tr>
                                    <td>{{usuario["nombres"]}}</td>
                                    <td>{{usuario["apellidos"]}}</td>
                                    <td>{{usuario["rut"]|formato_rut}}</td>
                                    <td>{{usuario["credencial"]}}</td>
                                    <td>
                                       <button type="button" data-target=" #editar_{{usuario['rut']}}" class= "btn btn-primary" data-toggle="modal"> Editar <i class="far fa-edit"></i> </button>
                                       {% include 'pablo/editar_usuario.html' %}
                                    </td>
                                    <td>
                                        <a class="btn btn-info"  href="/gestion_usuarios/ver_usuario?rut={{usuario['rut']}}" target="_blank"> Ver más <i class="fas fa-search-plus"></i></a>
                                    </td>
                                    <td>
                                        <button type="button" data-target="#eliminar_{{usuario['rut']}}" class="btn btn-danger" data-toggle="modal">Eliminar <i class="fas fa-trash-alt" ></i></button>
                                        {% include 'pablo/eliminar_usuario.html' %}
                                    </td>
                                </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{%endblock%}