<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <!-- Hojas de estilo CSS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link href="{{ url_for('static', filename='../static/css/styles.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='../static/css/estilos_lab.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <title>LabEIT UDP</title>
  </head>
  {% if session["sidebar_minimizado"] %}
    <body class="sb-nav-fixed sb-sidenav-toggled">
  {% else %}
    <body class="sb-nav-fixed">
  {% endif %}

    <style media="screen">
    @import url(https://fonts.googleapis.com/css?family=Roboto:300);
    </style>

    <nav class="sb-topnav navbar navbar-expand sticky-top bg-verde-eit">
      <a class="navbar-brand text-white" href="/">
        <img src="{{ url_for('static', filename="../static/imgs/logo_eit.png")}}" style="width:80%;" class="d-inline-block mt-1 mb-2" alt="">
      </a>
      <button class="btn btn-link btn-sm order-1 order-lg-0 text-white" title="Maximizar/Minimizar navegación global" id="sidebarToggle" href="#"><i id="icono_toggle_sidebar" class="fas fa-bars fa-2x"></i></button>


    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sticky-top bg-gris-eit" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading" style="color:#ECF0F1;">LabEIT UDP</div>

                        <a class="nav-link" href="/perfil">
                          <div class="sb-nav-link-icon"><i class="fas fa-user-circle mr-1"></i></div>
                            Tu perfil de usuario
                         </a>

                        <a class="nav-link" href="/solicitudes_prestamos">
                          <div class="sb-nav-link-icon"><i class="fas fa-laptop mr-1"></i></div>
                          Solicitudes de préstamos
                        </a>

                        <a class="nav-link" href="/wishlist_usuario">
                          <div class="sb-nav-link-icon"><i class="fas fa-envelope-open-text mr-1"></i></div>
                          Sección de Wishlist
                        </a>

                        <a class="nav-link" href="/faq">
                          <div class="sb-nav-link-icon"><i class="fas fa-question-circle mr-1"></i></div>
                          Preguntas frecuentes
                        </a>

                        {% if session["usuario"]["id_credencial"] == 3 %}

                          <div class="sb-sidenav-menu-heading" style="color:#ECF0F1;">Administración</div>

                          <a class="nav-link" href="/gestion_solicitudes_prestamos">
                            <div class="sb-nav-link-icon"><i class="fas fa-file-invoice mr-1"></i></div>
                            Gestión de solicitudes de préstamos
                          </a>

                          <a class="nav-link" href="/gestion_inventario_admin">
                            <div class="sb-nav-link-icon"><i class="fas fa-boxes mr-1"></i></div>
                            Gestión de inventario
                          </a>

                          <a class="nav-link" href="/gestion_wishlist">
                            <div class="sb-nav-link-icon"><i class="fas fa-envelope-open-text mr-1"></i></div>
                            Gestión de Wishlist
                          </a>

                          <a class="nav-link" href="/gestion_usuarios">
                            <div class="sb-nav-link-icon"><i class="fas fa-users mr-1"></i></div>
                            Gestión de usuarios
                          </a>

                          <a class="nav-link" href="/gestion_cursos">
                            <div class="sb-nav-link-icon"><i class="fas fa-chalkboard-teacher mr-1"></i></div>
                            Gestión de cursos
                          </a>

                          <a class="nav-link" href="/estadisticas_generales">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-pie mr-1"></i></div>
                            Estadísticas generales
                          </a>

                          <a class="nav-link" href="/modificar_wifi">
                            <div class="sb-nav-link-icon"><i class="fas fa-wifi mr-1"></i></div>
                            Modificar contraseña Wifi
                          </a>

                        {% endif %}


                    </div>
                </div>
                <div class="sb-sidenav-footer text-white" style="background:#262626;">
                  <div class="small mb-2">
                    {{session["usuario"]["nombres"]}} {{session["usuario"]["apellidos"]}}
                  </div>
                    <div class="dropdown show mt-1">
      <a class="btn btn-verde-eit dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user-circle mr-1"></i>{{session["usuario"]["rut"]|formato_rut}}
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="/cerrar_sesion"><i class="fas fa-sign-out-alt mr-2"></i>Cerrar sesión</a>
      </div>
    </div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main class="h-100">
              {% block body %}

              {%endblock%}
            </main>
        </div>
    </div>
    <!-- Scripts JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename="../static/js/script_labeit.js")}}"></script>
    <script src="{{ url_for('static', filename="../static/js/ubicacion_chile.js")}}"></script>

  </body>
</html>
