<div class="card-header mt-2" style="background:#0db26b;">
	<h5 class="card-title text-white my-auto">Lista de solicitudes de préstamos activas</h5>
	<p class="text-white my-auto"><i class="fas fa-info-circle mr-2"></i>En esta sección podrá encontrar la lista de solicitudes que se encuentran actualmente en curso, independientemente de su estado.</p>
	
		<a href="/exportar_solicitudes/2">
			<button type="button" disabled title="Exportar solicitudes activas" class="btn btn-sm btn-secondary waves-effect waves-light"><i class="fas fa-file-excel mr-2"></i>Exportar registros</button>
		</a>
	
</div>

<div class="table-responsive mt-2">
    <div class="table-wrapper-scroll-y" style="position: relative; overflow:auto;">
              <table class="table mt-5" id="tabla_solicitudes_activas">
                <thead class="text-white" style="background:#4D4D4D;">
                  <tr>
                    <th title="ID de solicitud" scope="col">IDS</th>
                    <th title="ID de detalle de solicitud" scope="col">IDD</th>
                    <th scope="col">RUT de alumno solicitante</th>
                    <th scope="col">Nombre del solicitante</th>
                    <th scope="col">Componente solicitado</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Fecha de inicio</th>
                    <th scope="col">Fecha de término</th>
                    <th scope="col">Renovaciones</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                      {% for elemento in lista_solicitudes_activas%}
                          <tr style="background:#ECF0F1;">
                              <td>{{elemento.IDS}}</td>
                              <td>{{elemento.IDD}}</td>
                              <td>{{elemento.rut | formato_rut }}</td>
                              <td>{{elemento.nombres}} {{elemento.apellidos}}</td>
                              <td>{{elemento.componente}}</td>
                              <td>{{elemento.cantidad}}</td>
                              <td class="text-center">
                                {% if elemento.estado == 'Por retirar' %}
                                <span class="badge badge-info">Por retirar</span>
                                {% elif elemento.estado == 'En posesión' %}
                                <span class="badge badge-success">En posesión</span>
                                {% elif elemento.estado == 'Con atraso' %}
                                <span class="badge badge-danger">Con atraso</span>
                                {% else %}
                                {{elemento.estado}}
                                {% endif %}
                            </td>
                              <td>{{elemento.fecha_inicio if elemento.fecha_inicio}}</td>
                              <td>{{elemento.fecha_termino if elemento.fecha_termino}}</td>
                              <td>{{elemento.renovaciones}}</td>
                              <td>
                                <button type="button" title="Ver detalle de solicitud" onclick='modal_ver_detalle_activos({{elemento|tojson}})' class="btn btn-sm btn-secondary mr-1 waves-effect waves-light"><i class="fas fa-search-plus"></i></button>
                              </td>
                          </tr>
                      {% endfor %}
                </tbody>
              </table>
          </div>
</div>
{% include "vistas_gestion_solicitudes_circuitos/modals/activas_ver_detalles.html" %}