<div class="modal fade" id="modal_info_circuito" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-gris-eit">
          <h5 class="modal-title text-white"><i class="fas fa-file-invoice mr-2"></i>Información detallada del componente</h5>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close" style="outline:none;">
            <span aria-hidden="true">×</span>
          </button>
      </div>

      <form id="formulario-agregar-equipo-carro-circuito" method="POST" action="/agregar_al_carro_circuito">
        <input type="hidden" name="id_circuito" id="id_circuito">
        <input type="hidden" name="nombre_circuito" id="nombre_circuito">
        <div class="modal-body">
          <div class="form-group row">
            <label class="col-md-2 col-form-label"><strong>Nombre:</strong></label>
              <div class="col-md-4">
                <p class="form-control-plaintext text-break" id="modal_circuito_nombre"></p>
              </div>
        </div>

                      <div class="form-group row">
                      <label class="col-md-4 col-form-label"><strong>Días de préstamo establecidos:</strong></label>
                      <div class="col-md-2">
                              <p class="form-control-plaintext text-break" id="modal_circuito_dias_prestamo"></p>
                      </div>

                          <label class="col-md-4 col-form-label"><strong>Cantidad de unidades:</strong></label>
                      <div class="col-md-2">
                              <p class="form-control-plaintext text-break" id="modal_circuito_unidades"></p>
                      </div>
                    </div>


                      <div class="form-group row">
                      <label class="col-md-2 col-form-label"><strong>Descripción:</strong></label>
                    </div>
                          <div class="form-group row">
                              <div class="col-md-8">
                                  <p class="text-justify" id="modal_circuito_descripcion"></p>
                              </div>

                  <div class="col-md-4">
                    <!-- <img style="max-width:80%;" class="img-fluid" src="https://i.blogs.es/b44a52/samsung-20galaxy-20s4/200_200.jpg"> -->
                  </div>

                          </div>


                      <hr>

                      <div class="form-group row">
                      <label class="col-md-8 col-form-label"><i class="fas fa-info-circle mr-2"></i>Selecciona la cantidad de unidades que deseas pedir:</label>

                          <div class="col-md-4">
                              <input type="number" min="1" max="5" class="form-control" value="1" name="cantidad_unidades_solicitadas" id="cantidad_unidades_solicitadas">
                          </div>
                    </div>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary waves-effect waves-light" data-dismiss="modal">Cerrar</button>
            <button type="submit" id="agregar_carro_btn" class="btn btn-success submit-agregar-pedido-circuito waves-effect waves-light"><i class="fas fa-cart-plus mr-2"></i>Agregar al carro</button>
          </div>
      </form>
    </div>
  </div>
</div>

  <script type="text/javascript">
      function cargar_info_modal_circuito(elemento){
        console.log(elemento)
        document.getElementById("id_circuito").value = elemento.id;
        document.getElementById("nombre_circuito").value = elemento.nombre;
        document.getElementById("cantidad_unidades_solicitadas").max = elemento.cantidad -elemento.prestados;
        document.getElementById("modal_circuito_nombre").textContent = elemento.nombre;
        document.getElementById("modal_circuito_dias_prestamo").textContent = elemento.dias_max_prestamo;
        document.getElementById("modal_circuito_unidades").textContent = elemento.cantidad-elemento.prestados + "/" + elemento.cantidad;
        document.getElementById("modal_circuito_descripcion").textContent = elemento.descripcion;
        if (elemento.cantidad -elemento.prestados < 1){
          document.getElementById("agregar_carro_btn").disabled = true;
        }
        else{
          document.getElementById("agregar_carro_btn").disabled = false;
        }
        $("#modal_info_circuito").modal("show");
      };

      $(document).ready(function(){

        $('#formulario-agregar-equipo-carro-circuito').on('submit', function(event){

          $.ajax({
            data : {
              id_circuito : $('#id_circuito').val() ,
              cantidad : $('#cantidad_unidades_solicitadas').val() ,
              nombre_circuito : $('#nombre_circuito').val()
            },
            type : 'POST',
            url : '/agregar_al_carro_circuito'
          })
          .done(function(data){

            if(data.error){
              console.log('error');
            }
            else{
              document.getElementById("cantidad_unidades_solicitadas").value= 1 ;
              $("#carro_pedidos_circuito").html(data);
              $("#modal_info_circuito").modal("hide");

            }

          });

          event.preventDefault();

        });
      });

  </script>
