<div id="agregar_masivo" class="modal fade in" tabindex="-1" role="dialog"  aria-hidden="true" data-keyboard="true" data-backdrop="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-gris-eit">
                <h5 class="modal-title text-white" id="editar_informacion_label"><i class="fas fa-users mr-2"></i>Carga masiva de usuarios</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Cerrar">
                <span aria-hidden="true">&times; </span>
                </button>
            </div>
            <form action="/gestion_usuarios/anadir_masivo" method="POST" enctype="multipart/form-data">
            <div class="modal-body">
                <h6 class="modal-title text-black">Importar usuarios</h6>
                <form action="/gestion_usuarios/anadir_masivo" method="POST" enctype="multipart/form-data">
                    <p>Recuerde el formato de este archivo y su extensión (.xlsx).</p>
                    <p>¿No conoce el formato? Haga click <a href="#formato_csv" data-toggle="collapse" > <strong> aquí.</strong></a></p>
                    <div id="formato_csv" class="collapse">
                        <hr>
                        <h5>Formato XLSX</h5>
                        <p>Para ingresar los valores de manera controlada en una hoja de cálculo, <a href="/gestion_usuarios/anadir_masivo/formato" target="_blank">descargue la planilla</a> y posteriormente suba el archivo con los datos cargados.</p>     
                    
                        <p>La información de los usuarios se puede obtener a través de la plataforma Canvas, accediendo a la sección de <strong>'Calificaciones'</strong> y utilizando la opción de exportación ubicada en el menú de <strong>'Acciones'</strong>.</p>
                        <p>En dicho archivo exportado encontrará las columnas necesarias según el formato solicitado, donde <strong>'Student'</strong>, <strong>'SIS User ID'</strong> y <strong>'SIS Login ID'</strong> corresponden al <strong>nombre del usuario</strong>, su <strong>RUT</strong> y <strong>correo electrónico</strong> respectivamente.</p>

                    </div>
                    <div class="custom-file">
                        <input required type="file" id="file" class ="custom-file-input" id="CSV" onchange="revisarExtension(this)" name="file" accept=".xlsx">
                        <label for="CSV" class="custom-file-label"> Elige un archivo</label>
                        <small class="text-muted">Considere que el tamaño máximo permitido para el archivo es de 5 MB.</small>
                        <small id="ext-error" hidden class="form-text text-danger">
                            * La extensión del archivo seleccionado no es la adecuada.
                        </small>
                    </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              <button id="btn-submit-archivo" class="btn btn-success" type="submit">Cargar usuarios</button>
            </div>
            </form>
        </div>
    </div>
</div>

<script>
    function revisarExtension (sender) {
        var re = /(?:\.([^.]+))?$/;
        fileExt = re.exec(sender.value)[1];

        if (fileExt !== 'xlsx'){
            document.getElementById('ext-error').hidden = false;
            document.getElementById('btn-submit-archivo').disabled = true;
        } else {
            document.getElementById('ext-error').hidden = true;
            document.getElementById('btn-submit-archivo').disabled = false;
        }
    }
</script>