<div id="agregar_masivo" class="modal fade in" tabindex="-1" role="dialog"  aria-hidden="true" data-keyboard="true" data-backdrop="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-gris-eit">
                <h5 class="modal-title text-white" id="editar_informacion_label"><i class="fas fa-file-upload mr-2"></i>Importar usuarios </h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Cerrar">
                <span aria-hidden="true">&times; </span>
                </button>
            </div>
            <form action="/gestion_usuarios/anadir_masivo" method="POST" enctype="multipart/form-data">
            <div class="modal-body">
                <p>Extension solicitada: <strong>.csv</strong></p>
                    <p>Recuerde el formato de este archivo y su extension antes de subir el archivo.</p>
                    <div class="custom-file">
                        <input type="file" class ="custom-file-input" id="CSV" name="file" accept=".csv">
                        <label for="CSV" class="custom-file-label"> Elegir un archivo</label>
                    </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              <button class="btn btn-success" type="submit">Cargar usuarios</button>
            </div>
            </form>
        </div>
    </div>
</div>
