<div id="agregar_usuario" class="modal fade in" tabindex="-1" role="dialog"  aria-hidden="true" data-keyboard="true" data-backdrop="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-gris-eit">
                <h5 class="modal-title text-white" id="editar_informacion_label"><i class="fas fa-user-plus mr-2"></i>Agregar nuevo usuario </h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Cerrar">
                <span aria-hidden="true">&times; </span>
                </button>
            </div>
            <form action="/gestion_usuarios/anadir_usuario" method="POST">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="Nombres">Nombres:</label>
                        <input type="text" id="nombres" name="nombres" title="Solo se permiten letras del lenguaje español. Formato Nombre1 Nombre2" class="form-control" maxlength="30" pattern="[a-zA-Z\u00C0-\u00D6\u00D8-\u00f6\u00f8-\u00ff]{0,40}\S"  required>
                    </div>
                    <div class="form-group">
                        <label for="apellidos">Apellidos:</label>
                        <input type="text" name="apellidos" id="apellidos" title="Solo se permiten letras del lenguaje español. Formato Apellido1 Apellido2" class="form-control" maxlength="30" pattern="[a-zA-Z\u00C0-\u00D6\u00D8-\u00f6\u00f8-\u00ff ]{0,40}\S" required>
                    </div>
                    <div class="form-group">
                        <label for="rut">Rut:</label>
                        <input type="text" name="rut" id="rut" itle="Ingrese un rut valido, sin puntos ni guion. Formato 1234567890 " class="form-control" maxlength="11"  pattern="[0-9]{7,9}[1-9 K]{0,1}" required>
                        <p><small>Ingrese el rut sin puntos ni guión </small></p>
                    </div>
                    <div class="form-group">
                        <label for="correo">Correo:</label>
                        <input type="email" name="correo" id="correo" title="Ingrese un correo valido. Formato nombre@mail.com "class="form-control" maxlength="41"  required>
                    </div>
                    <div class="form-group">
                        <label for="crendencial">Crendencial:</label>
                        <select name="credencial" id="credencial" class="form-control">
                            <option selected value="1">Alumno</option>
                            <option value="2">Profesor</option>
                            <option value="3">Administrador</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit"  class="btn btn-success">Registrar usuario</button>
                </div>
            </form>
        </div>
    </div>
</div>
