
      <div class="table-responsive mt-2">
            <div class="table-wrapper-scroll-y" style="position: relative;
                                    max-height: 450px;
                                    overflow:auto;">
          <table class="table" style="background:#ECF0F1;" id="tabla_cursos">
            <thead class="text-white" style="background:#4D4D4D;">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col" class="text-center">Código de curso</th>
                    <th scope="col" class="text-center">Sección</th>
                    <th scope="col">Nombre de la asignatura</th>
                </tr>
            </thead>
            <tbody>
            {%for curso in cursos %}
                <tr>
                    <td>{{curso["id"]}}</td>
                    <td class="text-center">{{curso["codigo_udp"]}}</td>
                    <td class="text-center">{{curso["codigo_seccion"]}}</td>
                    <td>{{curso["nombre"]}}</td>
                </tr>
            {%endfor%}
            </tbody>

         </table>
            </div>
        </div>
