<div class="table-responsive mt-2">
    <div class="table-wrapper-scroll-y" style="position: relative;
                            max-height: 450px;
                            overflow:auto;">
  <table class="table" style="background:#ECF0F1;" id="tabla_solicitudes">
    <thead class="text-white" style="background:#4D4D4D;" >
        <tr>
            <th scope="col">IDS</th>
            <th scope="col">IDD</th>
            <th scope="col">Equipo solicitado</th>
            <th scope="col">Fecha de registro</th>
            <th scope="col">Estado de solicitud</th>
            <th scope="col" class="text-center">Acciones</th>
        </tr>
    </thead>
    <tbody>
    {%for solicitud in solicitudes %}
        <tr>
            <td>{{solicitud["id"]}}</td>
            <td>{{solicitud["id_detalle"]}}</td>
            <td>{{solicitud["equipo"]}} {{solicitud["marca_equipo"]}} {{solicitud["modelo"]}}</td>
            <td>{{solicitud["registro"]}}</td>
            {% if solicitud["nombre_estado"] == 'Pendiente' %}
              <td class="text-center"><span class="badge badge-primary">{{solicitud["nombre_estado"]}}</span></td>
            {% elif solicitud["nombre_estado"] == 'Por retirar' %}
              <td class="text-center"><span class="badge badge-info">{{solicitud["nombre_estado"]}}</span></td>
            {% elif solicitud["nombre_estado"] == 'En posesión' %}
              <td class="text-center"><span class="badge badge-success">{{solicitud["nombre_estado"]}}</span></td>
            {% elif solicitud["nombre_estado"] == 'Con atraso' %}
              <td class="text-center"><span class="badge badge-danger">{{solicitud["nombre_estado"]}}</span></td>
            {% elif solicitud["nombre_estado"] == 'Devuelto' %}
              <td class="text-center"><span class="badge badge-success">{{solicitud["nombre_estado"]}}</span></td>
            {% elif solicitud["nombre_estado"] == 'Rechazada' or solicitud["nombre_estado"] == 'Cancelada' %}
              <td class="text-center"><span class="badge badge-danger">{{solicitud["nombre_estado"]}}</span></td>
            {% elif solicitud["nombre_estado"] == 'Finalizada' %}
              <td class="text-center"><span class="badge badge-secondary">{{solicitud["nombre_estado"]}}</span></td>
            {% endif %}
            <td class="text-center">
              <a href="/gestion_solicitudes_prestamos/detalle_solicitud/{{solicitud["id_detalle"]}}">
                <button type="button" title="Ver detalle de solicitud" class="btn btn-sm btn-secondary mr-1"><i class="fas fa-search-plus"></i></button>
              </a>
            </td>
        </tr>
    {%endfor%}
    </tbody>

 </table>
    </div>
</div>
