<div id="editar_{{usuario['rut']}}" class="modal fade in" tabindex="-1" role="dialog"  aria-hidden="true" data-keyboard="true" data-backdrop="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-gris-eit">
                <h5 class="modal-title text-white" id="editar_informacion_label"><i class="fas fa-user-edit mr-2"></i>Editar información de usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                <span aria-hidden="true">&times; </span>
                </button>
            </div>
            <form id="editar_usuario_{{usuario['rut']}}" action="/gestion_usuarios/editar_usuario" method="POST">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="nombres">Nombres:</label>
                        <input type="text" id="nombres_{{usuario['rut']}}" name="nombres" class="form-control" value="{{usuario['nombres']}}"  maxlength="30" required>
                    </div>
                    <div class="form-group">
                        <label for="apellidos">Apellidos:</label>
                        <input type="text" name="apellidos" id="apellidos_{{usuario['rut']}}" class="form-control" value="{{usuario['apellidos']}}" maxlength="30" required>
                    </div>

                    <input type="email" hidden name="correo" id="correo_{{usuario['rut']}}" title="Ingrese un correo valido. Formato nombre@mail.com "class="form-control"  value="{{usuario['correo']}}" maxlength="41"  required>
                    
                    <div class="form-group">
                        <label for="crendencial">Crendencial:</label>
                        <select  name="id_credencial" id="credencial_{{usuario['rut']}}" class="form-control" required>
                            <option selected hidden value="{{usuario['id_credencial']}}">{{usuario['credencial']}}</option>
                            <option value="1">Alumno</option>
                            <option value="2">Profesor</option>
                            <option value="3">Administrador</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="region">Región:</label>
                        <select name="region" id="regiones_{{usuario['rut']}}" class="form-control" required>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="comuna">Comuna:</label>
                        <select name="comuna" id="comunas_{{usuario['rut']}}" class="form-control" required>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="direccion">Dirección</label>
                        <input type="text" name="direccion" id="direccion_{{usuario['rut']}}" title="Ingrese una direccion valida, solo se permiten letras del lenguaje español." class="form-control" value="{{usuario['direccion']}}" required>
                    </div>
                    <input type="hidden" name="rut" value="{{usuario['rut']}}">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit"  class="btn btn-info">Guardar cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>


</script>