{%extends 'layout_in.html' %}

{% block body %}

{% include 'vistas_gestion_usuarios/anadir_usuario.html' %}
{% include 'vistas_gestion_usuarios/anadir_masivo.html' %}
{% include 'vistas_gestion_usuarios/resultados_carga_masiva.html' %}

    <div class="container-fluid">

      {% with msgs = get_flashed_messages() %}
        {% if msgs %}
          {% for msg in msgs %}
            {% if msg == "editado-correcto"%}
              <div class="alert alert-success alert-dismissible fade show mt-2" role="alert">
                <i class="fas fa-check-circle mr-2"></i>El registro se ha modificado correctamente.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {%endif%}
            {% if msg == "error-editar-correo"%}
              <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
                <i class="fas fa-times-circle mr-2"></i>Ha habido un error al editar el usuario, por favor revise el correo.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {%endif%}
            {% if msg == "agregar-correcto"%}
              <div class="alert alert-success alert-dismissible fade show mt-2" role="alert">
                <i class="fas fa-check-circle mr-2"></i>Se ha agregado correctamente.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {%endif%}
            {% if msg == "eliminar-correcto"%}
              <div class="alert alert-success alert-dismissible fade show mt-2" role="alert">
                <i class="fas fa-check-circle mr-2"></i>Se ha eliminado correctamente.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {%endif%}
            {% if msg == "inhabilitar-correcto"%}
              <div class="alert alert-success alert-dismissible fade show mt-2" role="alert">
                <i class="fas fa-check-circle mr-2"></i>La cuenta ha sido inhabilitada correctamente.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {%endif%}
            {% if msg == "error-eliminar"%}
              <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
                <i class="fas fa-check-circle mr-2"></i>Ha ocurrido un problema al eliminar. Por favor revise las solicitudes pendientes del usuario.
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {%endif%}
            {% if msg == "error-inhabilitar"%}
              <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
                <i class="fas fa-check-circle mr-2"></i>Ha ocurrido un problema al inhabilitar la cuenta. Por favor revise las solicitudes pendientes y activas del usuario.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {%endif%}
            {% if msg == "cuenta-activada"%}
              <div class="alert alert-success alert-dismissible fade show mt-2" role="alert">
                <i class="fas fa-check-circle mr-2"></i>La cuenta ha sido habilitada correctamente.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {%endif%}
            {% if msg == "error-anadir-rut"%}
              <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
                <i class="fas fa-times-circle mr-2"></i>Ha ocurrido un error al ingresar el usuario, por favor revise el rut.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {%endif%}
            {% if msg == "error-anadir-correo"%}
              <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
                <i class="fas fa-times-circle mr-2"></i>Ha ocurrido un error al ingresar el usuario, por favor revise el correo.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {%endif%}
            {% if msg == "error-correo-inicio"%}
              <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
                <i class="fas fa-times-circle mr-2"></i>Ha ocurrido un problema al enviar el correo de bienvenida, porfavor revise el correo o inténtelo manualmente.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {%endif%}
            {% if msg == "error-digitoVerificador"%}
              <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
                <i class="fas fa-times-circle mr-2"></i>El RUT ingresado no es válido.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {%endif%}
            {% if msg == "error-agregar-masivo"%}
              <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
                <i class="fas fa-times-circle mr-2"></i>El archivo no cumple con los requisitos de extensión. 
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {%endif%}
            {% if msg == "error-desconocido-carga-masiva"%}
              <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
                <i class="fas fa-times-circle mr-2"></i>Se ha producido un error al procesar el archivo. Revise que la planilla corresponda a la solicitada y compruebe los datos ingresados. 
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {%endif%}
            {% if msg == "error-tamano"%}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="fas fa-times-circle mr-2"></i> El archivo supera el tamaño maximo permitido.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {%endif%}
          {%endfor%}
        {%endif%}
      {%endwith%}
      {%if session['error_rut']%}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="fas fa-times-circle mr-2"></i>Hubo un problema al ingresar los siguientes RUT:
        <ul>
        {%for error in session.pop('error_rut')%}
        <li>{{error}}</li>
        {%endfor%}
      </ul> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {%endif%}
      {%if session['error_correo']%}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="fas fa-times-circle mr-2"></i>Hubo un problema al ingresar los siguientes correos:
        <ul>
        {%for error in session.pop('error_correo')%}
        <li>{{error}}</li>
        {%endfor%}
      </ul> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {%endif%}

      <div class="card-header mt-4" style="background:#0db26b;">
      	<h5 class="card-title text-white my-auto">Gestión de usuarios</h5>
      	<p class="text-white my-auto"><i class="fas fa-info-circle mr-2"></i>En esta sección encontrará los usuarios registrados en el sistema, además de poder realizar nuevos registros, consultar y editar información.</p>
        <span class="btn-group">
          <button type="button" data-target=" #agregar_usuario" class= "btn btn-sm btn-secondary mr-1" data-toggle="modal"><i class="fas fa-user-plus mr-2"></i>Agregar nuevo usuario</button>
           <button type="button" data-target=" #agregar_masivo" class= "btn btn-sm btn-secondary" data-toggle="modal"><i class="fas fa-file-csv mr-2"></i>Carga masiva</button>
        </span>
      </div>

      <div class="table-responsive mt-2">
        <div class="table-wrapper-scroll-y" style="position: relative; overflow:auto;">
          <table class="table" id="tabla_usuarios">
    			  <thead class="text-white" style="background:#4D4D4D;">
                  <tr>
                      <th scope="col">Nombre</th>
                      <th scope="col">Apellido</th>
                      <th scope="col">Rut</th>
                      <th scope="col">Tipo de credencial</th>
                      <th scope="col">Estado</th>
                      <th scope="col" class="text-center">Acciones</th>
                  </tr>
              </thead>
              <tbody>
                  {%for usuario in usuarios%}
                      <tr style="background:#ECF0F1;">
                          <td>{{usuario["nombres"]}}</td>
                          <td>{{usuario["apellidos"]}}</td>
                          <td>{{usuario["rut"]|formato_rut}}</td>
                          <td>{{usuario["credencial"]}}</td>
                          <td>
                            {% if usuario["activo"] %}
                              <span class="badge badge-pill badge-success">Activo</span>
                            {% else %}
                              <span class="badge badge-pill badge-danger">Inactivo</span>
                            {% endif %}
                          </td>
                          <td class="text-center">
                            <span class="btn-group">
                              <button type="button" title="Editar información" id="editar_{{usuario['rut']}}" data-target="#editar_{{usuario['rut']}}" class= "btn btn-sm btn-warning mr-1" data-toggle="modal"><i class="fas fa-edit"></i></button>
                              <a class="btn btn-sm btn-info mr-1" title="Ver información detallada" href="/gestion_usuarios/ver_usuario/{{usuario['rut']}}"><i class="fas fa-search-plus"></i></a>
                              {% if usuario["activo"] %}
                                {% if session["usuario"]["rut"] != usuario["rut"] %}
                                  <button type="button" title="Inhabilitar usuario" data-target="#inhab_{{usuario['rut']}}" class="btn btn-sm btn-danger" data-toggle="modal"><i class="fas fa-user-slash"></i></button>
                                {% else %}
                                  <button type="button" disabled title="Inhabilitar usuario" data-target="#inhab_{{usuario['rut']}}" class="btn btn-sm btn-danger" data-toggle="modal"><i class="fas fa-user-slash"></i></button>
                                {% endif %}
                              {% else %}
                                <button type="button" title="Habilitar usuario" data-target="#habilitar_{{usuario['rut']}}" class="btn btn-sm btn-success" data-toggle="modal"><i class="fas fa-user-check"></i></button>
                              {% endif %}
                            </span>
                          </td>
                          {% include 'vistas_gestion_usuarios/editar_usuario.html' %}
                          {% include 'vistas_gestion_usuarios/inhab_usuario.html' %}
                          {% include 'vistas_gestion_usuarios/habilitar_usuario.html' %}
                        </tr>
                      <script>
                        $(document).ready(function(){
                          var contadorRegion=0;
                          var contadorComuna=0;
                          var selectRegiones='<option selected hidden value="{{usuario['region']}}"> {{usuario['region']}} </option>';
                          var selectComunas='<option selected hidden value="{{usuario['comuna']}}"> {{usuario['comuna']}} </option>';
                          var region='';
                          
                          $.each(RegionesYcomunas.regiones, function(){
                            selectRegiones= selectRegiones + '<option value="'+RegionesYcomunas.regiones[contadorRegion].NombreRegion + '">' + RegionesYcomunas.regiones[contadorRegion].NombreRegion + '</option> ';
                            contadorRegion++; 
                          });
                          $("#regiones_{{usuario['rut']}}").html(selectRegiones);
                          $("#comunas_{{usuario['rut']}}").html(selectComunas);
                          $("#regiones_{{usuario['rut']}}").change(function(){
                            region=$("#regiones_{{usuario['rut']}}").val();
                            selectComunas='';
                            contadorRegion=0;
                            $.each(RegionesYcomunas.regiones,function(){  
                              contadorComuna=0;
                              if(RegionesYcomunas.regiones[contadorRegion].NombreRegion == region){
                                $.each(RegionesYcomunas.regiones[contadorRegion].comunas,function(){
                                  selectComunas= selectComunas+ '<option value="'+ RegionesYcomunas.regiones[contadorRegion].comunas[contadorComuna] + '">'+RegionesYcomunas.regiones[contadorRegion].comunas[contadorComuna]+'</option> ';
                                  contadorComuna++;
                                });
                              }
                              contadorRegion++;
                            });
                            $("#comunas_{{usuario['rut']}}").html(selectComunas); 
                          });   
                        });
                      </script>
                  {%endfor%}
              </tbody>
          </table>
          <script>
            $(document).ready(function() {
                $('#tabla_usuarios').DataTable( {
                    "order": [[ 0, "desc" ]],
                    "language": {
                        "lengthMenu": "Mostrar _MENU_ registros por página",
                        "zeroRecords": "No se han encontrado registros.",
                        "info": "Mostrando página _PAGE_ de _PAGES_",
                        "infoEmpty": "Sin registros disponibles.",
                        "search":         "Buscar",
                        "paginate": {
                            "next":       "Siguiente",
                            "previous":   "Anterior"
                        },
                        "infoFiltered": "(filtrado de _MAX_ registros totales)"
                      }
                  } );

                  // Resultados carga masiva
                  if ({{resultados_carga_masiva|tojson}} !== null) {
                    $('#resultados_carga_masiva').modal('show');
                  }

              } );
        </script>

        </div>
      </div>
    </div>

{%endblock%}
