{%extends 'layout_in.html' %}

{% block body %}
    <div class="container-fluid">

      {% with msgs = get_flashed_messages() %}
        {% if msgs %}
          {% for msg in msgs %}
            {% if msg == "editado-correcto"%}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="fas fa-check-circle mr-2"></i>Se ha modificado correctamente.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {%endif%}
            {% if msg == "agregar-correcto"%}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="fas fa-check-circle mr-2"></i>Se ha agregado correctamente.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {%endif%}
            {% if msg == "eliminar-correcto"%}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="fas fa-check-circle mr-2"></i>Se ha eliminado correctamente.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {%endif%}
            {% if msg == "inhabilitar-correcto"%}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="fas fa-check-circle mr-2"></i>Se ha inhabilitado correctamente.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {%endif%}
            {% if msg == "error-eliminar"%}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="fas fa-check-circle mr-2"></i>Ha ocurrido un problema al eliminar. <br>Por favor revise las solicitudes pendientes del usuario.
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {%endif%}
            {% if msg == "error-inhabilitar"%}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="fas fa-check-circle mr-2"></i>Ha ocurrido un problema al inhabilitar. <br>Por favor revise las solicitudes pendientes del usuario.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {%endif%}
            {% if msg == "error-añadir-rut"%}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="fas fa-times-circle mr-2"></i>Ha habido un error al ingresar el usuario, por favor revisa el rut.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {%endif%}
            {% if msg == "error-añadir-correo"%}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="fas fa-times-circle mr-2"></i>Ha habido un error al ingresar el usuario, por favor revisa el correo.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {%endif%}
            {% if msg == "error-correo-inicio"%}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="fas fa-times-circle mr-2"></i>Ha habido un problema al enviar el correo de bienvenida, porfavor revisa el correo o intentelo manualmente.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {%endif%}
            {% if msg == "error-digitoVerificador"%}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="fas fa-times-circle mr-2"></i>El rut ingresado no es valido. 
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {%endif%}
            {% if msg == "agregar-masivo-correcto"%}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="fas fa-check-circle mr-2"></i>Se agregaron los usuarios correctamente.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {%endif%}
            {% if msg == "error-agregar-masivo"%}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="fas fa-times-circle mr-2"></i>El archivo no cumple con los requisitos de extension. 
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {%endif%}
          {%endfor%}
        {%endif%}
      {%endwith%}
      {%if session['error_rut']%}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="fas fa-times-circle mr-2"></i>Hubo un problema al ingresar los siguientes rut:
        <ul>
        {%for error in session.pop('error_rut')%}
        <li>{{error}}</li>
        {%endfor%}
      </ul> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {%endif%}
      {%if session['error_correo']%}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="fas fa-times-circle mr-2"></i>Hubo un problema al ingresar los siguientes correos:
        <ul>
        {%for error in session.pop('error_correo')%}
        <li>{{error}}</li>
        {%endfor%}
      </ul> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      {%endif%}

      <div class="card-header mt-4" style="background:#0db26b;">
      	<h5 class="card-title text-white my-auto">Gestión de usuarios</h5>
      	<p class="text-white my-auto"><i class="fas fa-info-circle mr-2"></i>En esta sección encontrará los usuarios registrados en el sistema, además de poder realizar nuevos registros, consultar y editar información.</p>
      </div>

      <div class="row float-right mt-2 mb-2">
          <div class="col-md-12">
              <button type="button" data-target=" #agregar_usuario" class= "btn btn-success" data-toggle="modal"><i class="fas fa-user-plus mr-2"></i>Agregar nuevo usuario</button>
               {% include 'vistas_gestion_usuarios/añadir_usuario.html' %}
               <button type="button" data-target=" #agregar_masivo" class= "btn btn-info" data-toggle="modal"><i class="fas fa-file-csv mr-2"></i>Carga masiva</button>
               {% include 'vistas_gestion_usuarios/añadir_masivo.html' %}
              </div>
      </div>

      <div class="table-responsive mt-2">
    		<div class="table-wrapper-scroll-y" style="position: relative;
    								max-height: 450px;
    								overflow:auto;">
          <table class="table" style="background:#ECF0F1;" id="tabla_usuarios">
    			  <thead class="text-white" style="background:#4D4D4D;">
                  <tr>
                      <th scope="col">Nombre</th>
                      <th scope="col">Apellido</th>
                      <th scope="col">Rut</th>
                      <th scope="col">Tipo de credencial</th>
                      <th scope="col" class="text-center">Acciones</th>
                  </tr>
              </thead>
              <tbody>
                  {%for usuario in usuarios%}
                      <tr>
                          <td>{{usuario["nombres"]}}</td>
                          <td>{{usuario["apellidos"]}}</td>
                          <td>{{usuario["rut"]|formato_rut}}</td>
                          <td>{{usuario["credencial"]}}</td>
                          <td class="text-center">
                             <button type="button" title="Editar información"  onclick="Cargar_informacion()" data-target=" #editar_{{usuario['rut']}}" class= "btn btn-sm btn-warning" data-toggle="modal"><i class="fas fa-edit"></i></button>
                             <a class="btn btn-sm btn-info" title="Ver información detallada" href="/gestion_usuarios/ver_usuario/{{usuario['rut']}}"><i class="fas fa-search-plus"></i></a>
                             <button type="button" title="Inhabilitar usuario" data-target="#inhab_{{usuario['rut']}}" class="btn btn-sm btn-danger" data-toggle="modal"><i class="fas fa-trash-alt"></i></button>
                          </td>
                          {% include 'vistas_gestion_usuarios/editar_usuario.html' %}
                          {% include 'vistas_gestion_usuarios/inhab_usuario.html' %}
                      </tr>
                  {%endfor%}
              </tbody>
          </table>
          <script>
            $(document).ready(function() {
                $('#tabla_usuarios').DataTable( {
                    "order": [[ 0, "desc" ]],
                    "language": {
                        "lengthMenu": "Mostrar _MENU_ registros por página",
                        "zeroRecords": "No se han encontrado registros.",
                        "info": "Mostrando página _PAGE_ de _PAGES_",
                        "infoEmpty": "Sin registros disponibles.",
                        "search":         "Buscar",
                        "paginate": {
                            "next":       "Siguiente",
                            "previous":   "Anterior"
                        },
                        "infoFiltered": "(filtrado de _MAX_ registros totales)"
                      }
                  } );
              } );
        </script>
      
        </div>
      </div>

    </div>

{%endblock%}
