{% extends "layout_in.html" %}
	{% block body %}

	<div class="container-fluid mt-2">

		<nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item"><a href="/gestion_solicitudes_prestamos">Gestión de solicitudes de préstamos</a></li>
		    <li class="breadcrumb-item active" aria-current="page">Solicitud <span class="badge badge-info">{{solicitud["id"]}}</span></li>
		  </ol>
		</nav>

		<div class="card border-1 rounded-0" style="border-color:#0db26b;">
			<div class="card-header border-0 rounded-0" style="background:#0db26b;">
				<h5 class="card-title my-auto text-white"><i class="fas fa-file-invoice mr-2"></i>Información de la solicitud de préstamo</h5>
			</div>
			<div class="card-body rounded-0" style="background:#ECF0F1;">

				<div class="form-group row">
					<label class="col-md-4 col-form-label texto-gris-eit">
						<strong>ID de solicitud:</strong>
					</label>
					<div class="col-md-2">
						<p class="form-control-plaintext text-break">
							{{solicitud["id"]}}
						</p>
					</div>
					<label class="col-md-4 col-form-label texto-gris-eit">
						<strong>Fecha de registro:</strong>
					</label>
					<div class="col-md-2">
						<p class="form-control-plaintext
							 text-break">
							 {{solicitud["fecha_registro"]}}
						</p>
					</div>
				</div>

			</div>
			<div class="card-header border-0 rounded-0" style="background:#0db26b;">
				<h5 class="card-title my-auto text-white"><i class="fas fa-user mr-2"></i>Información del solicitante</h5>
			</div>
			<div class="card-body rounded-0" style="background:#ECF0F1;">
				<div class="form-group row">
					<label class="col-md-3 col-form-label texto-gris-eit">
						<strong>RUT:</strong>
					</label>
					<div class="col-md-2">
						<p class="form-control-plaintext text-break">
							{{datos_usuario["rut"]|formato_rut}}
						</p>
					</div>
					<label class="col-md-3 col-form-label texto-gris-eit">
						<strong>Nombre:</strong>
					</label>
					<div class="col-md-4">
						<p class="form-control-plaintext
							 text-break">
							 {{datos_usuario["nombres"]}} {{datos_usuario["apellidos"]}}
						</p>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-3 col-form-label texto-gris-eit">
						<strong>Correo electrónico:</strong>
					</label>
					<div class="col-md-4">
						<p class="form-control-plaintext text-break">
							<a href="mailto:{{datos_usuario["email"]}}?subject=feedback">{{datos_usuario["email"]}}</a>
						</p>
					</div>
				</div>
			</div>

			<div class="card-header border-0 rounded-0" style="background:#0db26b;">
				<h5 class="card-title my-auto text-white"><i class="fas fa-list mr-2"></i>Lista de equipos solicitados</h5>
			</div>

			<table class="table">
				<thead class="text-white" style="background:#4D4D4D;">
					<tr>
						<th scope="col">ID de detalle</th>
						<th scope="col">Código de equipo</th>
						<th scope="col">Código de equipo prestado</th>
						<th scope="col">Equipo</th>
						<th scope="col" class="text-center">Estado de solicitud</th>
						<th scope="col">Fecha de inicio</th>
						<th scope="col">Fecha de término</th>
						<th scope="col" class="text-center">Acciones</th>
					</tr>
				</thead>
				<tbody>
					{% for detalle_solicitud in lista_detalles_solicitud %}
		        <tr style="background:#ECF0F1;">
							<td>{{detalle_solicitud["id_equipo"]}}</td>
							<td>{{detalle_solicitud["codigo_equipo"]}}</td>
							{% if detalle_solicitud["codigo_sufijo_equipo"] %}
								<td>{{detalle_solicitud["codigo_sufijo_equipo"]}}</td>
							{% else %}
								<td></td>
							{% endif %}
							<td>{{detalle_solicitud["nombre_equipo"]}} {{detalle_solicitud["marca_equipo"]}} {{detalle_solicitud["modelo_equipo"]}}</td>
								{% if detalle_solicitud["estado"] == 0 %}
									<td class="text-center"><span class="badge badge-primary">{{detalle_solicitud["nombre_estado"]}}</span></td>
								{% elif detalle_solicitud["estado"] == 1 %}
									<td class="text-center"><span class="badge badge-info">{{detalle_solicitud["nombre_estado"]}}</span></td>
								{% elif detalle_solicitud["estado"] == 2 %}
									<td class="text-center"><span class="badge badge-success">{{detalle_solicitud["nombre_estado"]}}</span></td>
								{% elif detalle_solicitud["estado"] == 3 %}
									<td class="text-center"><span class="badge badge-danger">{{detalle_solicitud["nombre_estado"]}}</span></td>
								{% elif detalle_solicitud["estado"] == 4 %}
									<td class="text-center"><span class="badge badge-success">{{detalle_solicitud["nombre_estado"]}}</span></td>
								{% elif detalle_solicitud["estado"] == 5 %}
									<td class="text-center"><span class="badge badge-danger">{{detalle_solicitud["nombre_estado"]}}</span></td>
								{% elif detalle_solicitud["estado"] == 6 %}
									<td class="text-center"><span class="badge badge-secondary">{{detalle_solicitud["nombre_estado"]}}</span></td>
								{% endif %}
							{% if detalle_solicitud["fecha_inicio"] %}
								<td>{{detalle_solicitud["fecha_inicio"]}}</td>
							{% else %}
								<td></td>
							{% endif %}

							{% if detalle_solicitud["fecha_termino"] %}
								<td>{{detalle_solicitud["fecha_termino"]}}</td>
							{% else %}
								<td></td>
							{% endif %}
		            <td>
									<span class="btn-group">
										<button type="button" class="btn btn-secondary btn-sm" data-toggle="collapse" data-target="#detalle-{{detalle_solicitud["id"]}}"><i class="fas fa-search-plus"></i></button>
									</span>
		            </td>
		        </tr>
		        <tr style="background:#ECF0F1;">
		            <td style="padding: 0 !important;">
		                <div class="collapse out" id="detalle-{{detalle_solicitud["id"]}}">

										</div>
		            </td>
		        </tr>
					{% endfor %}
				</tbody>
	    </table>

		</div>

	</div>


	{% endblock %}
