{% extends "layout_in.html" %}
	{% block body %}

	<style media="screen">
		.panel-group .panel {
  border-radius: 0;
  box-shadow: none;
  border-color: #EEEEEE;
}

.panel-default > .panel-heading {
  padding: 0;
  border-radius: 0;
  color: #212121;
  background-color: #FAFAFA;
  border-color: #EEEEEE;
}

.panel-title {
  font-size: 15px;
}

.panel-title > a {
  display: block;
  padding: 15px;
  text-decoration: none;
}

.more-less {
  float: right;
  color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #EEEEEE;
}
	</style>


	<div class="container-fluid mt-2">

		<nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item"><a href="/gestion_solicitudes_prestamos">Gestión de solicitudes de préstamos</a></li>
		    <li class="breadcrumb-item active" aria-current="page">Solicitud <span class="badge badge-info">{{solicitud["id"]}}</span></li>
		  </ol>
		</nav>

		{% with msgs = get_flashed_messages() %}
			{% if msgs %}
				{% for msg in msgs %}
				{% if msg == "equipo-prestado"%}
					<div class="alert alert-danger alert-dismissible fade show" role="alert">
						<i class="fas fa-times-circle mr-2"></i>El equipo a prestar ya no se encuentra disponible.
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
				{%endif%}
				{% if msg == "equipo-no-existente"%}
					<div class="alert alert-danger alert-dismissible fade show" role="alert">
						<i class="fas fa-times-circle mr-2"></i>El equipo a prestar fue eliminado recientemente.
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
				{%endif%}
				{% if msg == "correo-fallido"%}
					<div class="alert alert-danger alert-dismissible fade show" role="alert">
						<i class="fas fa-times-circle mr-2"></i>Se ha producido un error interno al intentar notificar por correo al usuario.
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
				{%endif%}
				{% if msg == "correo-exito" %}
				<div class="alert alert-success mt-2 alert-dismissible fade show" role="alert">
						<i class="fas fa-check-circle mr-2"></i>El usuario ha sido notificado correctamente en su correo electrónico.
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
						</button>
				</div>
				{% endif %}
				{% if msg == "solicitud-rechazada-correctamente" %}
				<div class="alert alert-success mt-2 alert-dismissible fade show" role="alert">
						<i class="fas fa-check-circle mr-2"></i>La solicitud de préstamo ha sido rechazada correctamente.
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
						</button>
				</div>
				{% endif %}
				{% if msg == "solicitud-aprobada-correctamente" %}
				<div class="alert alert-success mt-2 alert-dismissible fade show" role="alert">
						<i class="fas fa-check-circle mr-2"></i>La solicitud de préstamo ha sido aprobada correctamente.
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
						</button>
				</div>
				{% endif %}
				{% if msg == "solicitud-cancelada" %}
				<div class="alert alert-success mt-2 alert-dismissible fade show" role="alert">
						<i class="fas fa-check-circle mr-2"></i>La solicitud de préstamo ha sido cancelada correctamente.
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
						</button>
				</div>
				{% endif %}
				{% if msg == "retiro-correcto" %}
				<div class="alert alert-success mt-2 alert-dismissible fade show" role="alert">
						<i class="fas fa-check-circle mr-2"></i>El equipo ha sido marcado como retirado correctamente.
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
						</button>
				</div>
				{% endif %}
				{% if msg == "equipo-devuelto" %}
				<div class="alert alert-success mt-2 alert-dismissible fade show" role="alert">
						<i class="fas fa-check-circle mr-2"></i>La devolución del equipo se ha registrado correctamente.
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
						</button>
				</div>
				{% endif %}
				{% if msg == "detalle-eliminado" %}
				<div class="alert alert-success mt-2 alert-dismissible fade show" role="alert">
						<i class="fas fa-check-circle mr-2"></i>El detalle de solicitud ha sido eliminado correctamente.
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
						</button>
				</div>
				{% endif %}
				{%endfor%}
			{%endif%}
		{%endwith%}

		{% if usuario_sancionado %}
			<div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
				<i class="fas fa-exclamation-triangle mr-2"></i>El usuario solicitante presenta una sanción activa.
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			  </button>
			</div>
		{% endif %}

		<div class="card border-1 rounded-0" style="border-color:#0db26b;">
			<div class="card-header border-0 rounded-0" style="background:#0db26b;">
				<h5 class="card-title my-auto text-white"><i class="fas fa-file-invoice mr-2"></i>Información de la solicitud de préstamo</h5>
			</div>
			<div class="card-body rounded-0" style="background:#ECF0F1;">

				<div class="form-group row">
					<label class="col-md-4 col-form-label texto-gris-eit">
						<strong>ID de solicitud:</strong>
					</label>
					<div class="col-md-2">
						<p class="form-control-plaintext text-break">
							{{solicitud["id"]}}
						</p>
					</div>
					<label class="col-md-4 col-form-label texto-gris-eit">
						<strong>Fecha de registro:</strong>
					</label>
					<div class="col-md-2">
						<p class="form-control-plaintext
							 text-break">
							 {{solicitud["fecha_registro"]}}
						</p>
					</div>
				</div>

			</div>
			<div class="card-header border-0 rounded-0" style="background:#0db26b;">
				<h5 class="card-title my-auto text-white"><i class="fas fa-user mr-2"></i>Información del solicitante</h5>
			</div>
			<div class="card-body rounded-0" style="background:#ECF0F1;">
				<div class="form-group row">
					<label class="col-md-3 col-form-label texto-gris-eit">
						<strong>RUT:</strong>
					</label>
					<div class="col-md-2">
						<p class="form-control-plaintext text-break">
							{{datos_usuario["rut"]|formato_rut}}
						</p>
					</div>
					<label class="col-md-3 col-form-label texto-gris-eit">
						<strong>Nombre:</strong>
					</label>
					<div class="col-md-4">
						<p class="form-control-plaintext
							 text-break">
							 {{datos_usuario["nombres"]}} {{datos_usuario["apellidos"]}}
						</p>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-3 col-form-label texto-gris-eit">
						<strong>Correo electrónico:</strong>
					</label>
					<div class="col-md-4">
						<p class="form-control-plaintext text-break">
							<a href="mailto:{{datos_usuario["email"]}}?subject=feedback">{{datos_usuario["email"]}}</a>
						</p>
					</div>
				</div>
			</div>

			<div class="card-header border-0 rounded-0" style="background:#0db26b;">
				<h5 class="card-title my-auto text-white"><i class="fas fa-list mr-2"></i>Lista de equipos solicitados</h5>
			</div>

			<div class="card-body" style="background:#ECF0F1;">

				{% if lista_detalles_solicitud %}

					<div class="table-responsive mt-2">
						<div class="table-wrapper-scroll-y" style="position: relative;
												max-height: 500px;
												overflow:auto;">

							<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

								{% for detalle_solicitud in lista_detalles_solicitud %}

									<div class="panel panel-default">
										<div class="panel-heading" style="background:#4D4D4D;" role="tab" id="encabezado_detalle_{{detalle_solicitud["id"]}}">
											<h4 class="panel-title text-white">
											  <a role="button" style="color:inherit;" data-toggle="collapse" data-parent="#accordion" href="#detalle_{{detalle_solicitud["id"]}}" aria-expanded="true">
											    <strong>[IDD {{detalle_solicitud["id"]}}]</strong> {{detalle_solicitud["nombre_equipo"]}} {{detalle_solicitud["marca_equipo"]}} {{detalle_solicitud["modelo_equipo"]}}

													{% if detalle_solicitud["estado"] == 0 %}
														<td class="text-center"><span class="badge float-right badge-primary">{{detalle_solicitud["nombre_estado"]}}</span></td>
													{% elif detalle_solicitud["estado"] == 1 %}
														<td class="text-center"><span class="badge float-right badge-info">{{detalle_solicitud["nombre_estado"]}}</span></td>
													{% elif detalle_solicitud["estado"] == 2 %}
														<td class="text-center"><span class="badge float-right badge-success">{{detalle_solicitud["nombre_estado"]}}</span></td>
													{% elif detalle_solicitud["estado"] == 3 %}
														<td class="text-center"><span class="badge float-right badge-danger">{{detalle_solicitud["nombre_estado"]}}</span></td>
													{% elif detalle_solicitud["estado"] == 4 %}
														<td class="text-center"><span class="badge float-right badge-success">{{detalle_solicitud["nombre_estado"]}}</span></td>
													{% elif detalle_solicitud["estado"] == 5 or detalle_solicitud["estado"] == 7 %}
														<td class="text-center"><span class="badge float-right badge-danger">{{detalle_solicitud["nombre_estado"]}}</span></td>
													{% elif detalle_solicitud["estado"] == 6 %}
														<td class="text-center"><span class="badge float-right badge-secondary">{{detalle_solicitud["nombre_estado"]}}</span></td>
													{% endif %}

											  </a>
											</h4>
										</div>
										<div id="detalle_{{detalle_solicitud["id"]}}" class="panel-collapse collapse" role="tabpanel">
											<div class="panel-body" style="background:#fff;">

												<div class="form-group row">
													<label class="col-md-2 col-form-label texto-gris-eit">
														<strong>Equipo solicitado:</strong>
													</label>
													<div class="col-md-4">
														<p class="form-control-plaintext text-break">
															{{detalle_solicitud["nombre_equipo"]}} {{detalle_solicitud["marca_equipo"]}} {{detalle_solicitud["modelo_equipo"]}}
														</p>
													</div>
													<label class="col-md-3 col-form-label texto-gris-eit">
														<strong>Código de equipo:</strong>
													</label>
													<div class="col-md-3">
														<p class="form-control-plaintext
															 text-break">
															 {{detalle_solicitud["codigo_equipo"]}}
															 {% if detalle_solicitud["codigo_sufijo_equipo"] %}
															 	- {{detalle_solicitud["codigo_sufijo_equipo"]}}
															 {% endif %}
														</p>
													</div>
												</div>

													{% if detalle_solicitud["estado"] == 1 %}
													<div class="form-group row">
														<label class="col-md-4 col-form-label texto-gris-eit">
															<strong>Fecha de vencimiento de solicitud:</strong>
														</label>
														<div class="col-md-4">
															<p class="form-control-plaintext text-break">
																{{detalle_solicitud["fecha_vencimiento"]}}
															</p>
														</div>
													</div>
													{% endif %}
													{% if detalle_solicitud["estado"] in [2,3,4,6] %}
													<div class="form-group row">
														<label class="col-md-3 col-form-label texto-gris-eit">
															<strong>Fecha de inicio:</strong>
														</label>
														<div class="col-md-3">
															<p class="form-control-plaintext text-break">
																{{detalle_solicitud["fecha_inicio"]}}
															</p>
														</div>
														<label class="col-md-3 col-form-label texto-gris-eit">
															<strong>Fecha de término:</strong>
														</label>
														<div class="col-md-3">
															<p class="form-control-plaintext text-break">
																{{detalle_solicitud["fecha_termino"]}}
															</p>
														</div>
													</div>
													{% endif %}
													{% if detalle_solicitud["estado"] in [4,6] %}
														<div class="form-group row">
															<label class="col-md-3 col-form-label texto-gris-eit">
																<strong>Fecha de devolución:</strong>
															</label>
															<div class="col-md-3">
																<p class="form-control-plaintext text-break">
																	{{detalle_solicitud["fecha_devolucion"]}}
																</p>
															</div>
														</div>
													{% endif %}

													{% if detalle_solicitud["fecha_rechazo"] %}
														<hr>
															<div class="form-group row">
																<label class="col-md-4 col-form-label texto-gris-eit">
																	<strong>Fecha de rechazo:</strong>
																</label>
																<div class="col-md-3">
																	<p class="form-control-plaintext text-break">
																		{{detalle_solicitud["fecha_rechazo"]}}
																	</p>
																</div>
															</div>
															{% if detalle_solicitud["razon_termino"] %}
																<div class="form-group row">
																	<label class="col-md-4 col-form-label texto-gris-eit">
																		<strong>Motivo de rechazo:</strong>
																	</label>
																	<div class="col-md-8">
																		<p class="form-control-plaintext text-break">
																			{% autoescape false %}
																				{{detalle_solicitud["razon_termino"]|nl2br}}
																			{% endautoescape %}
																		</p>
																	</div>
																</div>
															{% endif %}
															<hr>
														{% endif %}

														{% if detalle_solicitud["fecha_cancelacion"] %}
														<hr>
															<div class="form-group row">
																<label class="col-md-4 col-form-label texto-gris-eit">
																	<strong>Fecha de cancelación:</strong>
																</label>
																<div class="col-md-4">
																	<p class="form-control-plaintext text-break">
																		{{detalle_solicitud["fecha_cancelacion"]}}
																	</p>
																</div>
															</div>
															{% if detalle_solicitud["razon_termino"] %}
																<div class="form-group row">
																	<label class="col-md-4 col-form-label texto-gris-eit">
																		<strong>Motivo de cancelación:</strong>
																	</label>
																	<div class="col-md-8">
																		<p class="form-control-plaintext text-break">
																			{% autoescape false %}
																				{{detalle_solicitud["razon_termino"]|nl2br}}
																			{% endautoescape %}
																		</p>
																	</div>
																</div>
															{% endif %}
															<hr>
														{% endif %}

														<div class="form-group row">
															<label class="col-md-4 col-form-label texto-gris-eit">
																<strong>Cantidad de renovaciones realizadas por el usuario:</strong>
															</label>
															<div class="col-md-8">
																<p class="form-control-plaintext text-break">
																	{{detalle_solicitud["renovaciones"]}}
																</p>
															</div>
														</div>

														<div class="form-group row">
															<label class="col-md-4 col-form-label texto-gris-eit">
																<strong>Curso asociado:</strong>
															</label>
															<div class="col-md-8">
																<p class="form-control-plaintext text-break">
																	{% if detalle_solicitud["nombre_curso"] %}
																		<a title="Ir al detalle del curso" href="/gestion_cursos/detalles_curso/{{detalle_solicitud["curso_codigo_udp"]}}">
																			[{{detalle_solicitud["curso_codigo_udp"]}}]	{{detalle_solicitud["nombre_curso"]}}
																		</a>
																	{% else %}
																		Sin asociación
																	{% endif %}
																</p>
															</div>
														</div>

													<div class="form-group row text-right">
														<div class="col-md-12 mb-2">
															<span class="btn-group" role="group">
																{% if detalle_solicitud["estado"] == 0 %}
																	<button type="button" class="btn btn-sm btn-danger mr-1" data-toggle="modal" data-target="#confirmacion_rechazo_solicitud_{{detalle_solicitud["id"]}}"><i class="fas fa-times-circle mr-1"></i>Rechazar solicitud</button>
																	{% if not usuario_sancionado %}
																		<button type="button" class="btn btn-sm btn-success mr-1" data-toggle="modal" data-target="#confirmacion_aprobacion_solicitud_{{detalle_solicitud["id"]}}"><i class="fas fa-clipboard-check mr-1"></i>Aprobar solicitud</button>
																	{% endif %}
																	<a href="/eliminar_solicitud/{{detalle_solicitud["id"]}}">
																		<button type="button" class="btn btn-sm btn-danger"><i class="fas fa-minus-circle mr-1"></i>Eliminar solicitud</button>
																	</a>
																		{% elif detalle_solicitud["estado"] == 1 %}
																	<button type="button" class="btn btn-sm btn-danger mr-1" data-toggle="modal" data-target="#confirmacion_cancelacion_solicitud_{{detalle_solicitud["id"]}}"><i class="fas fa-times-circle mr-1"></i>Cancelar solicitud</button>
																	{% if not usuario_sancionado %}
																		<button type="button" class="btn btn-sm btn-info mr-1" data-toggle="modal" data-target="#formulario_retiro_equipo_{{detalle_solicitud["id"]}}"><i class="fas fa-clipboard-check mr-1"></i>Marcar como entregado</button>
																	{% endif %}
																{% elif detalle_solicitud["estado"] == 2 or detalle_solicitud["estado"] == 3 %}
																	<button type="button" class="btn btn-sm btn-info mr-1" data-toggle="modal" data-target="#confirmacion_devolucion_equipo_{{detalle_solicitud["id"]}}">Registrar devolución</button>
																{% elif detalle_solicitud["estado"] == 4 %}
																	<a href="/finalizar_solicitud/{{detalle_solicitud["id"]}}">
																		<button type="button" class="btn btn-sm btn-success mr-1"><i class="fas fa-check-circle mr-1"></i>Marcar como finalizada</button>
																	</a>
																{% elif detalle_solicitud["estado"] == 5 or detalle_solicitud["estado"] == 6 or detalle_solicitud["estado"] == 7 %}
																<a href="/eliminar_solicitud/{{detalle_solicitud["id"]}}">
																	<button type="button" class="btn btn-sm btn-danger mr-1"><i class="fas fa-minus-circle mr-1"></i>Eliminar solicitud</button>
																</a>	
																{% endif %}
															</span>
														</div>
													</div>

											</div>
										</div>
									</div>

								{% endfor %}

							</div><!-- panel-group -->

						</div>
					</div>

				{% else %}
					<div class="alert alert-warning alert-dismissible fade show text-center mt-2" role="alert">
						<i class="fas fa-exclamation-triangle mr-2"></i>No se han encontrado detalles asociados a la solicitud.
					</div>
				{% endif %}

				{% if not lista_detalles_solicitud %}
					<form action="/eliminar_solicitud_canasta/{{solicitud["id"]}}" method="post">
						<button type="submit" class="btn btn-danger float-right"><i class="fas fa-minus-circle mr-1"></i>Eliminar solicitud</button>
					</form>
				{% endif %}

			</div>
		</div>


	</div>

	{% for detalle_solicitud in lista_detalles_solicitud %}

		{% if detalle_solicitud["estado"] == 0 %}
			{% include "/vistas_gestion_solicitudes_prestamos/modals/modals_canasta/confirmacion_rechazo_canasta.html" %}
			{% include "/vistas_gestion_solicitudes_prestamos/modals/modals_canasta/confirmacion_aprobacion_canasta.html" %}
			{% include "/vistas_gestion_solicitudes_prestamos/modals/modals_canasta/eliminacion_detalle.html" %}
		{% elif detalle_solicitud["estado"] == 1 %}
			{% include "/vistas_gestion_solicitudes_prestamos/modals/modals_canasta/confirmacion_cancelacion_canasta.html" %}
			{% include "/vistas_gestion_solicitudes_prestamos/modals/modals_canasta/formulario_retiro_equipo_canasta.html" %}
		{% elif detalle_solicitud["estado"] == 2 or detalle_solicitud["estado"] == 3 %}
			{% include "/vistas_gestion_solicitudes_prestamos/modals/modals_canasta/confirmacion_devolucion_canasta.html" %}
		{% endif %}

	{% endfor %}

	<script>
		$(document).ready(() => {
			// Tabla de asignaturas asociadas a la solicitud
		$('#tabla_lista_asignaturas').DataTable( {
						"order": [[ 1, "asc" ]],
						"language": {
								"lengthMenu": "Mostrar _MENU_ registros por página",
								"zeroRecords": "No se han encontrado registros.",
								"info": "Mostrando página _PAGE_ de _PAGES_",
								"infoEmpty": "Sin registros disponibles.",
								"search":         "Buscar",
								"paginate": {
										"next":       "Siguiente",
										"previous":   "Anterior"
								},
								"infoFiltered": "(filtrado de _MAX_ registros totales)"
							}
			} );
		});
	</script>

	{% endblock %}
