{% extends "layout_in.html" %}
	{%block body%}

	{% include "/vistas_gestion_solicitudes_prestamos/modals/formulario_solicitud_agil.html" %}

	<section id="tabs" class="project-tab mt-2">
            <div class="container-fluid">

							{% with msgs = get_flashed_messages() %}
			          {% if msgs %}
			            {% for msg in msgs %}
			              {% if msg == "solicitud-no-encontrada"%}
			                <div class="alert alert-warning alert-dismissible fade show" role="alert">
			                  <i class="fas fa-exclamation-triangle mr-2"></i>La solicitud de préstamo no se encuentra registrada. Esto puede deberse a una eliminación reciente.
			                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			                  <span aria-hidden="true">&times;</span>
			                  </button>
			                </div>
			              {%endif%}
										{% if msg == "equipo-prestado"%}
											<div class="alert alert-danger alert-dismissible fade show" role="alert">
												<i class="fas fa-times-circle mr-2"></i>El equipo a prestar ya no se encuentra disponible.
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
												<span aria-hidden="true">&times;</span>
												</button>
											</div>
										{%endif%}
										{% if msg == "equipo-no-existente"%}
											<div class="alert alert-danger alert-dismissible fade show" role="alert">
												<i class="fas fa-times-circle mr-2"></i>El equipo a prestar fue eliminado recientemente.
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
												<span aria-hidden="true">&times;</span>
												</button>
											</div>
										{%endif%}
										{% if msg == "detalle-eliminado" %}
										<div class="alert alert-success mt-2 alert-dismissible fade show" role="alert">
												<i class="fas fa-check-circle mr-2"></i>El detalle de solicitud ha sido eliminado correctamente.
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
														<span aria-hidden="true">&times;</span>
												</button>
										</div>
										{% endif %}
										{% if msg == "detalles-seleccionados-eliminados" %}
										<div class="alert alert-success mt-2 alert-dismissible fade show" role="alert">
												<i class="fas fa-check-circle mr-2"></i>Los detalles de solicitud han sido eliminados correctamente.
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
														<span aria-hidden="true">&times;</span>
												</button>
										</div>
										{% endif %}
										{% if msg == "detalle-finalizado" %}
										<div class="alert alert-success mt-2 alert-dismissible fade show" role="alert">
												<i class="fas fa-check-circle mr-2"></i>La solicitud de préstamo ha sido marcada como finalizada correctamente.
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
														<span aria-hidden="true">&times;</span>
												</button>
										</div>
										{% endif %}
										{% if msg == "solicitud-registrada" %}
										<div class="alert alert-success mt-2 alert-dismissible fade show" role="alert">
												<i class="fas fa-check-circle mr-2"></i>La solicitud de préstamo ha sido registrada correctamente.
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
														<span aria-hidden="true">&times;</span>
												</button>
										</div>
										{% endif %}
										{% if msg == "usuario-no-existente"%}
											<div class="alert alert-danger alert-dismissible fade show" role="alert">
												<i class="fas fa-times-circle mr-2"></i>No se ha encontrado un usuario registrado con el RUT ingresado.
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
												<span aria-hidden="true">&times;</span>
												</button>
											</div>
										{%endif%}
										{% if msg == "error-listas-agiles"%}
											<div class="alert alert-danger alert-dismissible fade show" role="alert">
												<i class="fas fa-times-circle mr-2"></i>Se ha producido un error al registrar los detalles de la solicitud según la lista de equipos.
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
												<span aria-hidden="true">&times;</span>
												</button>
											</div>
										{%endif%}
										{% if msg == "usuario-sancionado"%}
											<div class="alert alert-danger alert-dismissible fade show" role="alert">
												<i class="fas fa-times-circle mr-2"></i>El usuario seleccionado se encuentra sancionado actualmente.
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
												<span aria-hidden="true">&times;</span>
												</button>
											</div>
										{%endif%}
			            {%endfor%}
			          {%endif%}
			        {%endwith%}

                <div class="row">
                    <div class="col-md-12">
                        <nav>
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
																<a class="nav-item nav-link" id="nav-canasta-solicitudes-tab" data-toggle="tab" href="#nav-canasta-solicitudes" role="tab" aria-controls="nav-canasta-solicitudes" aria-selected="false"><i class="fas fa-box-open mr-2"></i>Solicitudes de préstamos</a>
																<a class="nav-item nav-link active" id="nav-lista-prestamos-activos-tab" data-toggle="tab" href="#nav-lista-prestamos-activos" role="tab" aria-controls="nav-lista-prestamos-activos" aria-selected="true"><i class="fas fa-list mr-2"></i>Lista de detalles de solicitudes de préstamos</a>
																<a class="nav-item nav-link" id="nav-historial-prestamos-tab" data-toggle="tab" href="#nav-historial-prestamos" role="tab" aria-controls="nav-historial-prestamos" aria-selected="false"><i class="fas fa-history mr-2"></i>Historial de solicitudes</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
														<div class="tab-pane fade" id="nav-canasta-solicitudes" role="tabpanel" aria-labelledby="nav-canasta-solicitudes-tab">
															{% include "/vistas_gestion_solicitudes_prestamos/lista_canastas_solicitudes.html" %}
														</div>
                            <div class="tab-pane fade show active" id="nav-lista-prestamos-activos" role="tabpanel" aria-labelledby="nav-lista-prestamos-activos-tab">
															{% include "/vistas_gestion_solicitudes_prestamos/lista_solicitudes_activas.html" %}
                            </div>
                            <div class="tab-pane fade" id="nav-historial-prestamos" role="tabpanel" aria-labelledby="nav-historial-prestamos-tab">
															{% include "/vistas_gestion_solicitudes_prestamos/historial_solicitudes.html" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<script type="text/javascript">
	$(document).ready(function() {

		var tabla_solicitudes_por_revisar = $('#tabla_solicitudes_por_revisar').DataTable( {
					"order": [[ 2, "desc" ]],
					"language": {
							"lengthMenu": "Mostrar _MENU_ registros por página",
							"zeroRecords": "No se han encontrado registros.",
							"info": "Mostrando página _PAGE_ de _PAGES_",
							"infoEmpty": "Sin registros disponibles.",
							"search":         "Buscar",
							"paginate": {
									"next":       "Siguiente",
									"previous":   "Anterior"
							},
							"infoFiltered": "(filtrado de _MAX_ registros totales)"
						},
						'columnDefs': [{
								'targets': 0,
								'searchable': false,
								'orderable': false
							}]
				} );

				// Checkbox - Detalles de solicitudes pendientes -----------------------
				// Handle click on "Select all" control
				$('#detalles-select-all').on('click', function(){
							// Get all rows with search applied
							var rows = tabla_solicitudes_por_revisar.rows({ 'search': 'applied' }).nodes();
							// Check/uncheck checkboxes for all rows in the table
							$('input[type="checkbox"]', rows).prop('checked', this.checked);
					});

					// Handle click on checkbox to set state of "Select all" control
					$('#tabla_solicitudes_por_revisar tbody').on('change', 'input[type="checkbox"]', function(){
							// If checkbox is not checked
							if(!this.checked){
								var el = $('#detalles-select-all').get(0);
								// If "Select all" control is checked and has 'indeterminate' property
								if(el && el.checked && ('indeterminate' in el)){
										// Set visual state of "Select all" control
										// as 'indeterminate'
										el.indeterminate = true;
								}
							}
					});

					// Submit de formulario para eliminar detalles pendientes seleccionados
					$("#form_eliminar_checkbox_pendientes").submit(function(eventObj){
						$('#tabla_solicitudes_por_revisar').DataTable().destroy();
						// Se modifica el estilo de los checkbox para no mostrarlos
						$(".checkbox-detalle-pendiente").css("opacity","0");
						$(this).append($(".checkbox-detalle-pendiente"));
					});

				// -----------------------------------------------------------------------------

				var tabla_historial_solicitudes = $('#tabla_historial_solicitudes').DataTable( {
					"order": [[ 8, "desc" ]],
					"language": {
							"lengthMenu": "Mostrar _MENU_ registros por página",
							"zeroRecords": "No se han encontrado registros.",
							"info": "Mostrando página _PAGE_ de _PAGES_",
							"infoEmpty": "Sin registros disponibles.",
							"search":         "Buscar",
							"paginate": {
									"next":       "Siguiente",
									"previous":   "Anterior"
							},
							"infoFiltered": "(filtrado de _MAX_ registros totales)"
						},
						'columnDefs': [{
								'targets': 0,
								'searchable': false,
								'orderable': false
							}]
				} );

				// Checkbox - Historial de detalles de solicitudes -----------------------
				// Handle click on "Select all" control
				$('#detalles-historial-select-all').on('click', function(){
							// Get all rows with search applied
							var rows = tabla_historial_solicitudes.rows({ 'search': 'applied' }).nodes();
							// Check/uncheck checkboxes for all rows in the table
							$('input[type="checkbox"]', rows).prop('checked', this.checked);
					});

					// Handle click on checkbox to set state of "Select all" control
					$('#tabla_historial_solicitudes tbody').on('change', 'input[type="checkbox"]', function(){
							// If checkbox is not checked
							if(!this.checked){
								var el = $('#detalles-historial-select-all').get(0);
								// If "Select all" control is checked and has 'indeterminate' property
								if(el && el.checked && ('indeterminate' in el)){
										// Set visual state of "Select all" control
										// as 'indeterminate'
										el.indeterminate = true;
								}
							}
					});

					// Submit de formulario para eliminar detalles pendientes seleccionados
					$("#form_eliminar_checkbox_historial").submit(function(eventObj){
						$('#tabla_historial_solicitudes').DataTable().destroy();
						// Se modifica el estilo de los checkbox para no mostrarlos
						$(".checkbox-detalle-historial").css("opacity","0");
						$(this).append($(".checkbox-detalle-historial"));
					});


				// -----------------------------------------------------------------------------
			
			
			$('#tabla_solicitudes_activas, #tabla_solicitudes_canastas').DataTable( {
					"order": [[ 0, "desc" ]],
					"language": {
							"lengthMenu": "Mostrar _MENU_ registros por página",
							"zeroRecords": "No se han encontrado registros.",
							"info": "Mostrando página _PAGE_ de _PAGES_",
							"infoEmpty": "Sin registros disponibles.",
							"search":         "Buscar",
							"paginate": {
									"next":       "Siguiente",
									"previous":   "Anterior"
							},
							"infoFiltered": "(filtrado de _MAX_ registros totales)"
						}
				} );

				// Tabla de cursos
							var tabla_asignaturas = $('#tabla_lista_asignaturas').DataTable( {
								"order": [[ 1, "asc" ]],
								"language": {
										"lengthMenu": "Mostrar _MENU_ registros por página",
										"zeroRecords": "No se han encontrado registros.",
										"info": "Mostrando página _PAGE_ de _PAGES_",
										"infoEmpty": "Sin registros disponibles.",
										"search":         "Buscar",
										"paginate": {
												"next":       "Siguiente",
												"previous":   "Anterior"
										},
										"infoFiltered": "(filtrado de _MAX_ registros totales)"
									},
									'columnDefs': [{
										'targets': 0,
										'searchable': false,
										'orderable': false
									}]
							} );
							// Checkboxes de lista de asignaturas
					// Handle click on "Select all" control
					$('#asignaturas-select-all').on('click', function(){
							// Get all rows with search applied
							var rows = tabla_asignaturas.rows({ 'search': 'applied' }).nodes();
							// Check/uncheck checkboxes for all rows in the table
							$('input[type="checkbox"]', rows).prop('checked', this.checked);
					});

					// Handle click on checkbox to set state of "Select all" control
					$('#tabla_lista_asignaturas tbody').on('change', 'input[type="checkbox"]', function(){
							// If checkbox is not checked
							if(!this.checked){
								var el = $('#asignaturas-select-all').get(0);
								// If "Select all" control is checked and has 'indeterminate' property
								if(el && el.checked && ('indeterminate' in el)){
										// Set visual state of "Select all" control
										// as 'indeterminate'
										el.indeterminate = true;
								}
							}
					});

					// Submit de formulario de solicitud ágil para agregar checkboxes de asignaturas asociadas
					$("#form_registrar_solicitud_agil").submit(function(eventObj){
						$('#tabla_lista_asignaturas').DataTable().destroy();
						// Se modifica el estilo de los checkbox para no mostrarlos
						$(".checkbox-asignatura-asociada").css("opacity","0");
						$(this).append($(".checkbox-asignatura-asociada"));
					});

				} );
</script>


	{% endblock %}
