
<div class="card-header mt-4" style="background:#0db26b;">
	<h5 class="card-title text-white my-auto">Historial de solicitudes de préstamos</h5>
	<p class="text-white my-auto"><i class="fas fa-info-circle mr-2"></i>En esta sección podrá encontrar las solicitudes que se encuentran rechazadas y/o finalizadas.</p>
	<a href="/exportar_solicitudes/3">
		<button type="button" title="Exportar historial de solicitudes" class="btn btn-sm btn-secondary"><i class="fas fa-file-excel mr-2"></i>Exportar registros</button>
	</a>
</div>

{% if lista_historial_solicitudes %}
<div class="table-responsive mt-2">
  <div class="table-wrapper-scroll-y" style="position: relative; overflow:auto;">
			<table class="table" id="tabla_historial_solicitudes">
				<thead class="text-white" style="background:#4D4D4D;">
					<tr>
						<th title="ID de solicitud" scope="col">IDS</th>
						<th title="ID de detalle de solicitud" scope="col">IDD</th>
						<th scope="col">RUT de alumno solicitante</th>
						<th scope="col">Nombre del solicitante</th>
						<th scope="col">Equipo solicitado</th>
						<th scope="col" class="text-center">Estado</th>
						<th scope="col">Fecha de registro</th>
						<th scope="col">Acciones</th>
					</tr>
				</thead>
				<tbody>
					{% for detalle_solicitud in lista_historial_solicitudes %}
						<tr style="background:#ECF0F1;">
							<td>{{detalle_solicitud["id_solicitud"]}}</td>
							<td>{{detalle_solicitud["id"]}}</td>
							<td>{{detalle_solicitud["rut_alumno"]|formato_rut}}</td>
							<td>{{detalle_solicitud["nombres_usuario"]}} {{detalle_solicitud["apellidos_usuario"]}}</td>
							<td>{{detalle_solicitud["nombre"]}} {{detalle_solicitud["marca"]}} {{detalle_solicitud["modelo"]}}</td>

							{% if detalle_solicitud["estado"] == 0 %}
								<td class="text-center"><span class="badge badge-primary">{{detalle_solicitud["nombre_estado"]}}</span></td>
							{% elif detalle_solicitud["estado"] == 1 %}
								<td class="text-center"><span class="badge badge-info">{{detalle_solicitud["nombre_estado"]}}</span></td>
							{% elif detalle_solicitud["estado"] == 2 %}
								<td class="text-center"><span class="badge badge-success">{{detalle_solicitud["nombre_estado"]}}</span></td>
							{% elif detalle_solicitud["estado"] == 3 %}
								<td class="text-center"><span class="badge badge-danger">{{detalle_solicitud["nombre_estado"]}}</span></td>
							{% elif detalle_solicitud["estado"] == 4 %}
								<td class="text-center"><span class="badge badge-success">{{detalle_solicitud["nombre_estado"]}}</span></td>
							{% elif detalle_solicitud["estado"] == 5 %}
								<td class="text-center"><span class="badge badge-danger">{{detalle_solicitud["nombre_estado"]}}</span></td>
							{% elif detalle_solicitud["estado"] == 6 %}
								<td class="text-center"><span class="badge badge-secondary">{{detalle_solicitud["nombre_estado"]}}</span></td>
							{% elif detalle_solicitud["estado"] == 7 %}
								<td class="text-center"><span class="badge badge-danger">{{detalle_solicitud["nombre_estado"]}}</span></td>
							{% endif %}

							<td>{{detalle_solicitud["fecha_registro"]}}</td>
							<td>
								<span class="btn-group">
									<a href="gestion_solicitudes_prestamos/detalle_solicitud/{{detalle_solicitud["id"]}}">
										<button type="button" title="Ver detalle de solicitud" class="btn btn-sm btn-secondary mr-1"><i class="fas fa-search-plus"></i></button>
									</a>
									<button type="submit" title="Eliminar solicitud" onclick="agregar_action_form_eliminar_solicitud({{detalle_solicitud["id"]}})" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#confirmacion_eliminacion_solicitud_entrante"><i class="fas fa-minus-circle"></i></button>
								</span>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% else %}
	<div class="alert alert-warning alert-dismissible fade show text-center mt-2" role="alert">
		<i class="fas fa-exclamation-triangle mr-2"></i>El historial de solicitudes de préstamos se encuentra vacío.
	</div>
{% endif %}
