<div class="table-responsibe">
    <div class="table-wrapper-scroll-y" style="position: relative; overflow: auto">
        <table class="table" id="inner-div" style="max-width: 1050px;">
            <thead class="text-white" style="background-color: #4d4d4d;">
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Equipo</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Fecha de entrega</th>
                    <th scope="col">Plazo devolución</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Ver detalle</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(4) %}
                <tr>
                    <td>{{loop.index}} </td>
                    <td>asdasdasdas</td>
                    <td>asdasdasdas</td>
                    <td>asdasdasdas</td>
                    <td>asdasdasdas</td>
                    <td>asdasdasdas</td>
                    <td style="text-align:center">
                        <button type="button" class="collapsible" data-toggle="collapse" data-target="#prestamos-udp{{loop.index}}"><i class="fas fa-search-plus"></i></button>   
                    </td>
                </tr>
                <tr  class="collapse" id="prestamos-udp{{loop.index}}">
                    <td colspan="7">
                        <div class="row"> 
                            <div class="col-md-4">
                                <table id="inner-table">
                                    <tbody>
                                        <tr>
                                          <td id="inner-table"><b>Profesor encargado: </b> </td>
                                          <td id="inner-table">Sin asignar </td>
                                        </tr>
                                        <tr>
                                          <td id="inner-table"><b>Modelo: </b></td>
                                          <td id="inner-table">Sin asignar</td>
                                        </tr>
                                        <tr>
                                          <td id="inner-table"><b>Marca: </b></td>
                                          <td id="inner-table">Sin asignar</td>
                                        </tr>
                                      </tbody>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <table id="inner-table">
                                    <tbody>
                                        <tr>
                                          <td id="inner-table"><b>Fecha de solicitud: </b></td>
                                          <td id="inner-table">Sin asignar</td>
                                        </tr>
                                        <tr>
                                          <td id="inner-table"><b>Fecha de entrega: </b></td>
                                          <td id="inner-table">Sin asignar</td>
                                        </tr>
                                        <tr>
                                          <td id="inner-table"><b>Fecha de devolución: </b></td>
                                          <td id="inner-table">Sin asignar</td>
                                        </tr>
                                      </tbody>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <table id="inner-table">
                                    <tbody>
                                        <tr>
                                          <td id="inner-table"><b>Fecha de solicitud: </b></td>
                                          <td id="inner-table">Sin asignar</td>
                                        </tr>
                                        <tr>
                                          <td id="inner-table"><b>Fecha de entrega: </b></td>
                                          <td id="inner-table">Sin asignar</td>
                                        </tr>
                                        <tr>
                                          <td id="inner-table"><b>Fecha de devolución: </b></td>
                                          <td id="inner-table">Sin asignar</td>
                                        </tr>
                                      </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>