{% extends "layout_in.html"%}
    {%block body%}

    <div class="section-red-card" style="margin-top: 0px;">
        <h3>
            Tu información personal
        </h3>
    </div>
    <div class="container-fluid">


        <div class="row row-profile">


            <div class="col-md-4 justify-content-center">
                <div id="inner-div" style="width: 200px; margin-bottom: 30px; ">
                    
                    
                    <div class="pic__container">
                        
                        <img src="{{dir_foto_perfil}}" class="profile__image" onclick="open_modal_subir_foto()"/>
                        <div class="middle" onclick="open_modal_subir_foto()">
                            <div class="text" onclick="open_modal_subir_foto()"><i class="fas fa-upload"></i></div>
                            Cambiar foto de perfil
                        </div>

                    </div>
                    


                    <h6 class="profile-subtext"> Credencial: {{perfil_info.credencial_nombre}} </h6>
                    <h6 class="profile-subtext"> <span>Sanción activa:</span>    <span style="color: #96d37c;">No</span></h6>
                    <button type="button" onclick="Cargar_informacion()" data-target="#editar_informacion" class="btn btn-info" data-toggle="modal" style="margin-left: 10px;">Editar información</button>
                </div>
            </div>
            <style>
                .profile__image{
                    opacity: 1;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                    margin: 0 auto 20px auto;
                    display: block;
                    border: 1px solid #c5c5c5;
                    backface-visibility: hidden;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    cursor: pointer;
                }
                .pic__container{
                    position: relative;
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    border-radius: 50%;
                    width: 200px;
                    height: 200px;
                }
                .pic__container:hover .profile__image{
                    opacity: 0.3;
                    border-radius: 50%;
                }
                .middle {
                    opacity: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    text-align: center;
                    cursor: pointer;
                  }
                .pic__container:hover .middle {
                    opacity: 1;
                    
                  }
            </style>

            <div class="col-md-8">
                <div id="inner-div" style="width: 400px;">
                    <h3><b> {{perfil_info.nombres}} {{perfil_info.apellidos}} </b></h3>
                    <h4>    {{perfil_info.email}}   </h4>
                    <hr>
                    <table style="width: 100%;">
                        <tr>
                            <td><h6>    Rut:                    </h6></td>
                            <td><h6>    {{perfil_info.rut}}</h6></td>
                        </tr>
                        <tr>
                            <td><h6>    Región:                 </h6></td>
                            <td><h6>    {{perfil_info.region}}  </h6></td>
                        </tr>
                        <tr>
                            <td><h6>    Comuna:                 </h6></td>
                            <td><h6>    {{perfil_info.comuna}}  </h6></td>
                        </tr>
                        <tr>
                            <td><h6>    Dirección:               </h6></td>
                            <td><h6>    {{perfil_info.direccion}}</h6></td>

                        </tr>
                    </table>

                </div>
            </div>
        </div>

 <br>


        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link tabpanel_letra active" id="nav-equipos-tab" data-toggle="tab" href="#nav-equipos" role="tab" aria-controls="nav-equipos" aria-selected="false">Equipos</a>
              <a class="nav-item nav-link tabpanel_letra" id="nav-solicitudes-tab" data-toggle="tab" href="#nav-solicitudes" role="tab" aria-controls="nav-solicitudes" aria-selected="true">Solicitudes</a>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-equipos" role="tabpanel" aria-labelledby="nav-equipos-tab">{% include "vistas_perfil/tablas/tabla_solicitudes_equipos.html" %}</div>
            <div class="tab-pane fade " id="nav-solicitudes" role="tabpanel" aria-labelledby="nav-solicitudes-tab">{% include "vistas_perfil/tablas/tabla_solicitudes.html" %}</div>

          </div>
          <br>
          <style>

            .tabpanel_letra{
                color: #495057;
                font-weight: 600;
            }
            
           
            
            
        </style>



        




        <script>
            $(document).ready(function() {
                $('#tabla_equipos, #tabla_solicitudes').DataTable( {
                    "order": [[ 0, "desc" ]],
                    "language": {
                        "lengthMenu": "Mostrar _MENU_ registros por página",
                        "zeroRecords": "Nothing found - sorry",
                        "info": "Mostrando página _PAGE_ de _PAGES_",
                        "infoEmpty": "Sin registros disponibles",
                        "search":         "Buscar",
                        "paginate": {
                            "next":       "Siguiente", 
                            "previous":   "Anterior"
                        },
                        "infoFiltered": "(filtrado de _MAX_ registros totales)"
                      }
                  } );
              } );
        </script>
    
    {% include "vistas_perfil/modals/subir_foto.html" %}
    {% include "vistas_perfil/modals/editar_perfil.html" %}
    {% include "vistas_perfil/modals/detalle_solicitud.html" %}
  {% endblock %}
