{% extends "layout_in.html"%}
    {%block body%}

    {% include "/vistas_perfil/modals/mensajes_administrativos.html" %}


    <div class="section-red-card" style="margin-top: 0px;">
        <h3>
            Perfil
        </h3>
    </div>
    <div class="container-fluid">

        <div class="row row-profile">

            <div class="col-md-4 justify-content-center">
                
                <div id="inner-div" style="width: 200px; margin-bottom: 30px; ">
{% if admin_inspeccionar_perfil == False%}
                    <div class="pic__container" style="cursor: pointer;" onclick="open_modal_subir_foto()">
                        <img src="{{dir_foto_perfil}}" class="profile__image"/>
                        <div class="middle">
                            <div class="text"><i class="fas fa-upload"></i></div>
                            Cambiar foto de perfil
                        </div>
                    </div>
{% else%}
                    <div class="pic__container" style="cursor: pointer;" onclick="open_modal_eliminar_foto()">
                        <img src="{{dir_foto_perfil}}" class="profile__image"/>
                        <div class="middle">
                            <div class="text"><i class="fas fa-ban"></i></div>
                            Eliminar foto
                        </div>
                    </div>
{% endif %}
                    <h6 class="profile-subtext"> Credencial: {{perfil_info.credencial_nombre}} </h6>
                {% if sancionado == False %}
                    <h6 class="profile-subtext"> <span>Sanción activa:</span>    <span style="color: #339900;">No</span></h6>
                {% else %}
                    <h6 class="profile-subtext"> <span>Sanción activa:</span>    <span style="color: #cc3300;">Si</span></h6>
                {% endif %}

                {% if admin_inspeccionar_perfil == False%}
                    <button type="button" onclick="Cargar_informacion()" data-target="#editar_informacion" class="btn btn-info" data-toggle="modal" style="margin-left: 10px;">Editar información</button>
                {% endif %}

                </div>
            </div>
            <style>
                .profile__image{
                    opacity: 1;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                    margin: 0 auto 20px auto;
                    display: block;
                    border: 1px solid #c5c5c5;
                    backface-visibility: hidden;
                    position: absolute;
                    top: 0px;
                    left: 0px;

                }
                .pic__container{
                    position: relative;
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    border-radius: 50%;
                    width: 200px;
                    height: 200px;
                }
                .middle {
                    opacity: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    text-align: center;
                }
                    .pic__container:hover .profile__image{
                        opacity: 0.3;
                        border-radius: 50%;
                    }
                    .pic__container:hover .middle {
                        opacity: 1;
                }

            </style>




            <div class="col-md-8">
                <div id="inner-div" style="width: 400px;">
                    <h3><b> {{perfil_info.nombres}} {{perfil_info.apellidos}} </b></h3>
                    <h4>    {{perfil_info.email}}   </h4>
                    <hr>
                    <table style="width: 100%;">
                        <tr>
                            <td><h6>    Rut:                    </h6></td>
                            <td><h6>    {{perfil_info.rut}}</h6></td>
                        </tr>
                        <tr>
                            <td><h6>    Región:                 </h6></td>
                            <td><h6>    {{perfil_info.region}}  </h6></td>
                        </tr>
                        <tr>
                            <td><h6>    Comuna:                 </h6></td>
                            <td><h6>    {{perfil_info.comuna}}  </h6></td>
                        </tr>
                        <tr>
                            <td><h6>    Dirección:               </h6></td>
                            <td><h6>    {{perfil_info.direccion}}</h6></td>

                        </tr>
                        <tr>
                            <td><h6>    Celular:               </h6></td>
                            <td><h6>    (+56) {{perfil_info.celular}}</h6></td>

                        </tr>
                    </table>

                </div>
            </div>
        </div>

 <br>

 {% if datos_wifi %}
   <div class="alert alert-info alert-dismissible fade show" role="alert">
     <i class="fas fa-wifi mr-2"></i>Red Wifi: <strong>{{datos_wifi["ssid"]}}</strong> - Contraseña: <strong>{{datos_wifi["password"]}}</strong>
     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
   </div>
 {% endif %}

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link tabpanel_letra active" id="nav-equipos-tab" data-toggle="tab" href="#nav-equipos" role="tab" aria-controls="nav-equipos" aria-selected="false">
                Equipos
            </a>
            <a class="nav-item nav-link tabpanel_letra" id="nav-solicitudes-tab" data-toggle="tab" href="#nav-solicitudes" role="tab" aria-controls="nav-solicitudes" aria-selected="true">
                  Solicitudes
            </a>
            <a class="av-item nav-link tabpanel_letra" id="nav_componentes_tab" data-toggle="tab" href="#nav_componentes" role="tab" aria-controls="nav_componentes" aria-selected="false">
                Componentes
            </a>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-equipos" role="tabpanel" aria-labelledby="nav-equipos-tab">
                {% include "vistas_perfil/tablas/tabla_solicitudes_equipos.html" %}
            </div>
            <div class="tab-pane fade " id="nav-solicitudes" role="tabpanel" aria-labelledby="nav-solicitudes-tab">
                {% include "vistas_perfil/tablas/tabla_solicitudes.html" %}
            </div>
            <div class="tab-pane fade" id="nav_componentes" role="tabpanel" aria-labelledby="nav_componentes_tab">

                {% include "vistas_perfil/tablas/solicitudes_componentes.html" %}

            </div>

          </div>
          <br>
          <style>

            .tabpanel_letra{
                color: #495057;
                font-weight: 600;
            }




        </style>








        <script>
            $(document).ready(function() {
                $('.table').DataTable( {
                    "order": [[ 0, "desc" ]],
                    "language": {
                        "lengthMenu": "Mostrar _MENU_ registros por página",
                        "zeroRecords": "No se han encontrado registros.",
                        "info": "Mostrando página _PAGE_ de _PAGES_",
                        "infoEmpty": "Sin registros disponibles.",
                        "search":         "Buscar",
                        "paginate": {
                            "next":       "Siguiente",
                            "previous":   "Anterior"
                        },
                        "infoFiltered": "(filtrado de _MAX_ registros totales)"
                      }
                  } );
              } );
        </script>
        <script type="text/javascript">
          $(window).on('load',function(){
            let lista_mensajes_admin = {{lista_mensajes_administrativos|tojson}};
            // Si existen mensajes administrativos, se muestra el modal correspondiente
            if(lista_mensajes_admin.length != 0){
              $('#modal_mensajes_administrativos').modal('show');
            }
          });
        </script>

    
	{% if admin_inspeccionar_perfil == False%}
		{% include "vistas_perfil/modals/subir_foto.html" %}
		{% include "vistas_perfil/modals/editar_perfil.html" %}
	{% else %}
	{% include "vistas_perfil/modals/confirmar_eliminar_foto.html" %}
	{% endif %}
    {% include "vistas_perfil/modals/detalle_solicitud.html" %}
{% endblock %}
