<br>


<div class="table-responsive">
  <div class="table-wrapper-scroll-y" style="position: relative; overflow:auto;">
    <table id="tabla_circuitos" class="table">
      <thead class="text-white" style="background:#4D4D4D;">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th scope="col">Cantidad disponibles</th>
          <th scope="col">Acciones</th>

        </tr>
      </thead>
      <tbody>
        {% for elemento in lista_circuitos %}
        <tr style="background:#ECF0F1;">
          <td>{{elemento.id}}</td>
          <td>{{elemento.nombre}}</td>
          <td>{{elemento.descripcion}}</td>
          <td>{{elemento.cantidad-elemento.prestados}}/{{elemento.cantidad}}</td>
          
          <td>
            <button type="button" title="Ver circuito"  onclick="cargar_info_modal_circuito('{{elemento.id}}','{{elemento.nombre}}', '{{elemento.dias_max_prestamo}}' , '{{elemento.cantidad-elemento.prestados}}','{{elemento.cantidad}}', '{{elemento.descripcion}}')" data-toggle="modal" class="btn btn-sm btn-info mr-1">
              <i class="fas fa-file-invoice"></i>
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>





<script>
  $(document).ready(function() {
      $('#tabla_circuitos').DataTable( {
          "order": [[ 0, "desc" ]],
          "language": {
              "lengthMenu": "Mostrar _MENU_ registros por página",
              "zeroRecords": "No se han encontrado registros.",
              "info": "Mostrando página _PAGE_ de _PAGES_",
              "infoEmpty": "Sin registros disponibles.",
              "search":         "Buscar",
              "paginate": {
                  "next":       "Siguiente",
                  "previous":   "Anterior"
              },
              "infoFiltered": "(filtrado de _MAX_ registros totales)"
            }
        } );
    } );
</script>
