{% if session["carro_pedidos_circuito"] %}
<p>wow equisde</p>
{% else %}
	<div class="alert alert-warning alert-dismissible fade show text-center mt-2" role="alert">
		<i class="fas fa-exclamation-triangle mr-2"></i>Actualmente tu carro de pedidos se encuentra vacío.
	</div>
{% endif %}
<div id="seccion-botones-carro-pedidos-circuito" hidden class="card-header text-right mt-1">
    <button type="button" id="boton-vaciar-carro" onclick="vaciar_carro()" class="btn my-auto btn-danger"><i class="fas fa-trash-alt mr-2"></i>Vaciar carro</button>
    <button type="button" class="btn my-auto btn-success" data-toggle="modal" data-target="#confirmacion_pedido"><i class="fas fa-clipboard-check mr-2"></i>Confirmar pedido</button>
</div>