<div class="modal fade" id="agregar_seccion_{{curso['curso_id']}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="true" data-backdrop="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-gris-eit">
        <h5 class="modal-title text-white" id="editar_informacion_label"><i class="fas fa-plus-circle mr-2"></i>Agregar nueva sección</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close" style="outline:none;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

          <form action="/gestion_cursos/agregar_seccion" method="POST">
          <div class="modal-body">
            <div class="form-group">
              <input class="form-control" type="text" name="id_curso" value="{{curso['curso_id']}}" id="id_curso" hidden>
              <label for="codigo">Número sección</label>
              <input class="form-control" type="text" name="codigo" id="codigo" value="" required>
            </div>
            <label for="rut_profesor">Profesor: </label>
            <select class=""  id="rut_profesor" name = "rut_profesor">
              {% for profesor in profesores %}
                <option id="rut_profesor" name = "rut_profesor" value="{{profesor['rut']}}">{{profesor['rut']}} - {{profesor["nombres"]}} {{profesor["apellidos"]}} </option>
              {% endfor %}
            </select>


      </div>
      <div class="modal-footer">
              <button type="button" id="boton_cerrar" class="btn btn-secondary" data-dismiss="modal" onclick="Cargar_informacion()">Cancelar</button>
              <button type="button" id="boton_cerrar" class="btn btn-secondary" data-dismiss="modal" onclick="Cargar_informacion()" hidden>Cancelar</button>
              <button type="summit" id="boton_guardar" class="btn btn-info"> Guardar cambios</button>
      </div>
    </form>
  </div>
</div>
</div>
