<div class="modal fade" id="agregar_alumno_{{seccion_id['id']}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="true" data-backdrop="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-gris-eit">
        <h5 class="modal-title text-white" id="editar_informacion_label"><i class="fas fa-plus-circle mr-2"></i>Agregar alumno</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close" style="outline:none;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

          <form action="/gestion_cursos/agregar_alumno" method="POST">
          <div class="modal-body">
            {% if lista_alumnos %}
              <label for="rut_alumno">Seleccione el alumno a agregar:</label>
              <input class="form-control" type="text" name="id" value="{{seccion_id['id']}}" id="id" hidden>
              <select class="form-control"  id="rut_alumno" name="rut_alumno">
                {% for alumno in lista_alumnos %}
                  <option id="rut_alumno" name = "rut_alumno" value="{{alumno['rut']}}">{{alumno["apellidos"]}} {{alumno["nombres"]}} </option>
                {% endfor %}
              </select>
            {% else %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <i class="fas fa-exclamation-triangle mr-2"></i>No se han encontrado alumnos disponibles para el registro. Por favor, revisa la lista de usuarios.
              </div>
            {% endif %}
      </div>
      <div class="modal-footer">
              <button type="button" id="boton_cerrar" class="btn btn-secondary" data-dismiss="modal" onclick="Cargar_informacion()">Cancelar</button>
              <button type="button" id="boton_cerrar" class="btn btn-secondary" data-dismiss="modal" onclick="Cargar_informacion()" hidden>Cancelar</button>
              {% if lista_alumnos %}
                <button type="summit" id="boton_guardar" class="btn btn-info"> Guardar cambios</button>
              {% endif %}
      </div>
    </form>
  </div>
</div>
</div>
