{% extends "layout_in.html"%}
{%block body%}

<div class="container-fluid mt-2">
			<div class="card-header border-0 rounded-0" style="background:#0db26b;">
				<h5 class="card-title my-auto text-white"><i class="fas fa-laptop mr-2"></i>Información del curso</h5>
			</div>
			<div class="card-body rounded-0" style="background:#ECF0F1;">

				<div class="form-group row">
					<label class="col-md-2 col-form-label texto-gris-eit">
						<strong>ID:</strong>
					</label>
					<div class="col-md-4">
						<p class="form-control-plaintext text-break">
						 {{curso.curso_id}}
						</p>
					</div>
					<label class="col-md-2 col-form-label texto-gris-eit">
						<strong>Código:</strong>
					</label>
					<div class="col-md-4">
						<p class="form-control-plaintext
							 text-break">
							  {{curso.codigo_udp}}
						</p>
					</div>
				</div>

				<hr>

				<div class="form-group row">
					<label class="col-md-2 col-form-label texto-gris-eit">
						<strong>Nombre:</strong>
					</label>
					<div class="col-md-4">
						<p class="form-control-plaintext text-break">
						 {{curso.nombre}}
						</p>
					</div>
					<label class="col-md-2 col-form-label texto-gris-eit">
						<strong>Descripción:</strong>
					</label>
					<div class="col-md-4">
						<p class="form-control-plaintext
							 text-break">
							  {{curso.descripcion}}
						</p>
					</div>
				</div>
				<hr>
			</div>

			<div class="card-header mt-2" style="background:#0db26b;">
				<h5 class="card-title text-white my-auto">Secciones:</h5>
			</div>


				<div class="table-responsive mt-2">
					<div class="table-wrapper-scroll-y" style="position: relative;
											max-height: 450px;
											overflow:auto;">
						<table class="table">
						  <thead class="text-white" style="background:#4D4D4D;">
						    <tr>
						      <th scope="col">Código sección</th>
						      <th scope="col">RUT profesor</th>
						    </tr>
						  </thead>
						  <tbody>
								{% for seccion in secciones %}
									<tr style="background:#ECF0F1;">
										<td>{{seccion.codigo_seccion}}</td>
										<td>{{seccion.rut_profesor}}</td>
									</tr>
								{% endfor %}
						  </tbody>
						</table>
					</div>
				</div>

</div>



{% endblock %}
