{% extends "layout_in.html"%}
{%block body%}

{% include 'gestion_cursos/agregar_seccion.html' %}

<div class="container-fluid mt-2">

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/gestion_cursos">Gestión de cursos</a></li>
			<li class="breadcrumb-item active" aria-current="page">Detalle del curso: {{curso.nombre}} ({{curso.codigo_udp}})</li>
		</ol>
	</nav>

			<div class="card-header mt-2" style="background:#0db26b;">
				<h5 class="card-title text-white my-auto"><i class="fas fa-chalkboard-teacher mr-2"></i>Información del curso</h5>
			</div>
			<div class="card-body rounded-0" style="background:#ECF0F1;">
				<div class="form-group row">
					<label class="col-md-2 col-form-label texto-gris-eit">
						<strong>ID:</strong>
					</label>
					<div class="col-md-4">
						<p class="form-control-plaintext text-break">
						 {{curso.curso_id}}
						</p>
					</div>
					<label class="col-md-2 col-form-label texto-gris-eit">
						<strong>Código:</strong>
					</label>
					<div class="col-md-4">
						<p class="form-control-plaintext
							 text-break">
							  {{curso.codigo_udp}}
						</p>
					</div>
				</div>

				<hr>

				<div class="form-group row">
					<label class="col-md-2 col-form-label texto-gris-eit">
						<strong>Nombre:</strong>
					</label>
					<div class="col-md-4">
						<p class="form-control-plaintext text-break">
						 {{curso.nombre}}
						</p>
					</div>
					<label class="col-md-2 col-form-label texto-gris-eit">
						<strong>Descripción:</strong>
					</label>
					<div class="col-md-4">
						<p class="form-control-plaintext
							 text-break">
							  {{curso.descripcion}}
						</p>
					</div>
				</div>

			</div>

			<div class="card-header mt-2" style="background:#0db26b;">
				<div class="row">
					<div class="col my-auto">
						<h5 class="card-title text-white my-auto"><i class="fas fa-project-diagram mr-2"></i>Secciones registradas</h5>
					</div>
					<div class="col my-auto text-right">
						<button type="button" data-target=" #agregar_seccion_{{curso['curso_id']}}" class= "btn btn-secondary" data-toggle="modal"><i class="fas fa-plus-circle mr-2"></i>Agregar sección</button>
					</div>

				</div>
			</div>
				<div class="table-responsive mt-2">
					<div class="table-wrapper-scroll-y" style="position: relative;
											max-height: 450px;
											overflow:auto;">
						<table class="table">
						  <thead class="text-white" style="background:#4D4D4D;">
						    <tr>
						      <th scope="col">Código de sección</th>
						      <th scope="col">RUT del profesor</th>
									<th scope="col">Nombre del profesor</th>
									<th scope="col" class="text-center">Acciones</th>
						    </tr>
						  </thead>
						  <tbody>
								{% for seccion in secciones %}
									<tr style="background:#ECF0F1;">
										<td>{{seccion.codigo_seccion}}</td>
										<td>{{seccion.rut_profesor}}</td>
										<td>{{seccion.nombre_profesor}}</td>
										<td class="text-center">
											<span class="btn-group">
											 <button type="button" title="Editar información" data-target="#editar_seccion_{{seccion['id']}}" class= "btn btn-sm btn-warning mr-1" data-toggle="modal"><i class="fas fa-edit"></i></button>
 											 <a href="{{curso.codigo_udp}}/{{seccion.codigo_seccion}}"><button type="button" title="Ver detalles de la sección" data-toggle="modal" class="btn btn-sm btn-info mr-1"><i class="fas fa-search-plus"></i></button></a>
 											 <button type="submit" title="Eliminar curso" data-target="#eliminar_seccion_{{seccion['id']}}" class="btn btn-sm btn-danger" data-toggle="modal"><i class="fas fa-trash-alt"></i></button>
											</span>
										</td>
									</tr>
									{% include 'gestion_cursos/editar_seccion.html' %}
									{% include 'gestion_cursos/eliminar_seccion.html' %}
								{% endfor %}
						  </tbody>
						</table>
					</div>
				</div>

</div>



{% endblock %}
