{% extends "layout_in.html"%}
{%block body%}

{% include 'gestion_cursos/agregar_alumno.html' %}

<div class="container-fluid mt-2">

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/gestion_cursos">Gestión de cursos</a></li>
			<li class="breadcrumb-item"><a href="/gestion_cursos/detalles_curso/{{curso.codigo_udp}}">Detalle del curso: {{curso.nombre}} ({{curso.codigo_udp}})</a></li>
			<li class="breadcrumb-item active" aria-current="page">Lista de alumnos inscritos</li>
		</ol>
	</nav>

			<div class="card-header mt-2" style="background:#0db26b;">
				<div class="row">
					<div class="col my-auto">
						<h5 class="card-title text-white my-auto"><i class="fas fa-users mr-2"></i>Lista de alumnos inscritos</h5>
					</div>
					<div class="col my-auto text-right">
						<button type="button" data-target=" #agregar_alumno_{{seccion_id['id']}}" class= "btn btn-sm btn-secondary" data-toggle="modal"><i class="fas fa-user-plus mr-2"></i>Agregar alumnos</button>
					</div>
				</div>
			</div>
			<div class="table-responsive mt-2">
				<div class="table-wrapper-scroll-y" style="position: relative; overflow:auto;">
						<table class="table" id="tabla_alumnos_seccion">
						  <thead class="text-white" style="background:#4D4D4D;">
						    <tr>
						      <th scope="col">RUT</th>
						      <th scope="col">Nombres</th>
                  <th scope="col">Apellidos</th>
									<th scope="col" class="text-center">Acciones</th>
						    </tr>
						  </thead>
						  <tbody>
								{% for alumno in alumnos %}
									<tr style="background:#ECF0F1;">
										<td>{{alumno['rut_alumno']}}</td>
										<td>{{alumno['nombres_alumno']}}</td>
                    <td>{{alumno['apellidos_alumno']}}</td>
										<td class="text-center">
											 <button type="submit" title="Eliminar alumno" data-target="#eliminar_alumno_{{alumno['rut_alumno']}}" class="btn btn-sm btn-danger" data-toggle="modal"><i class="fas fa-trash-alt"></i></button>
											 {% include 'gestion_cursos/eliminar_alumno.html' %}
										</td>
									</tr>
								{% endfor %}
						  </tbody>
						</table>
					</div>
				</div>

</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('#tabla_alumnos_seccion').DataTable( {
					"language": {
							"lengthMenu": "Mostrar _MENU_ registros por página",
							"zeroRecords": "Nothing found - sorry",
							"info": "Mostrando página _PAGE_ de _PAGES_",
							"infoEmpty": "Sin registros disponibles",
							"search":         "Buscar",
							"paginate": {
									"next":       "Anterior",
									"previous":   "Siguiente"
							},
							"infoFiltered": "(filtrado de _MAX_ registros totales)"
					}
			} );
	} );
</script>



{% endblock %}
