{% extends "layout_in.html"%}
{%block body%}
<div class="container-fluid mt-2">
			<div class="card-header border-0 rounded-0" style="background:#0db26b;">
				<h5 class="card-title my-auto text-white"><i class="fas fa-laptop mr-2"></i>Información detallada del curso</h5>
			</div>
			<div class="card-body rounded-0" style="background:#ECF0F1;">
        <div class="form-group row">
					<label class="col-md-4 col-form-label texto-gris-eit">
						<strong>ID del curso:</strong>
					</label>
					<div class="col-md-2">
						<p class="form-control-plaintext text-break">
							  {{curso.id}}
						</p>
					</div>
					<label class="col-md-4 col-form-label texto-gris-eit">
						<strong>Código del curso:</strong>
					</label>
					<div class="col-md-2">
						<p class="form-control-plaintext
							 text-break">
             {{curso.codigo_udp}}
						</p>
					</div>
				</div>
        <hr>

				<div class="form-group row">
					<label class="col-md-2 col-form-label texto-gris-eit">
						<strong>Descripción:</strong>
					</label>
					<div class="col-md-6">
						<p class="form-control-plaintext text-break">
						 {{curso.descripcion}}
						</p>
					</div>
{%endblock%}
