<div id="editar_seccion_{{seccion['id']}}"  class="modal fade in" tabindex="-1" role="dialog"  aria-hidden="true" data-keyboard="true" data-backdrop="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-gris-eit">
                <h5 class="modal-title text-white" id="editar_informacion_label"><i class="fas fa-edit mr-2"></i>Editar información del curso</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                <span aria-hidden="true">&times; </span>
                </button>
            </div>
            <form id="editar_seccion" action="/gestion_cursos/editar_seccion" method="POST">
                <div class="modal-body">
                    <input class="form-control" type="text" name="id" value="{{seccion['id']}}" id="editar-seccion-hidden-id" hidden>
                    <input class="form-control" type="text" name="id_curso" value="{{curso['curso_id']}}" id="id_curso" hidden>
                    <div class="form-group">
                        <label for="codigo_seccion">Código de sección:</label>
                        <input type="text" id="codigo_seccion" name="codigo_seccion" class="form-control" value="{{seccion['codigo_seccion']}}" required>
                    </div>
                    <label for="rut_profesor">Profesor</label>
                    <select class="form-control"  id="rut_profesor" name = "rut_profesor">
                      {% for profesor in profesores %}
                        <option id="rut_profesor" name = "rut_profesor" value="{{profesor['rut']}}">{{profesor["apellidos"]}} {{profesor["nombres"]}} </option>
                      {% endfor %}
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" id="boton_cerrar" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" id="boton_guardar" class="btn btn-info">Guardar cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>
