<div id="editar_curso_{{curso['id']}}"  class="modal fade in" tabindex="-1" role="dialog"  aria-hidden="true" data-keyboard="true" data-backdrop="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-gris-eit">
                <h5 class="modal-title text-white" id="editar_informacion_label"><i class="fas fa-user-edit mr-2"></i>Editar información del curso</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                <span aria-hidden="true">&times; </span>
                </button>
            </div>
            <form id="editar_curso" action="/gestion_cursos/editar_curso" method="POST">
                <div class="modal-body">
                  <input class="form-control" type="text" name="id" value="{{curso['id']}}" id="editar-curso-hidden-id" hidden>
                  <input class="form-control" type="text" name="codigo_udp" value="{{curso['codigo_udp']}}" id="editar-curso-hidden-id" hidden>
                    <div class="form-group">
                        <label for="nuevo_codigo_udp">Código curso:</label>
                        <input type="text" id="nuevo_codigo_udp" name="nuevo_codigo_udp" class="form-control" value="{{curso['codigo_udp']}}" required>
                    </div>
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" name="nombre" id="nombre" class="form-control" value="{{curso['nombre']}}" required>
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripcion:</label>
                        <textarea class="form-control" id="descripcion" name="descripcion" rows="3" maxlength="500" style="min-height:100px;max-height:300px;">{{curso['descripcion']}}</textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="boton_cerrar" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" id="boton_guardar" class="btn btn-info">Guardar cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>
