<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>LabEIT UDP</title>

				<!-- Hojas de estilo CSS -->
		    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
				<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
		    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
				<link href="{{ url_for('static', filename='../static/css/estilos_lab.css') }}" rel="stylesheet"/>

    </head>


    <body style="background:#f5f5f5;">

      <div class="container h-100">
        <div class="row align-items-center h-100">
          <img src="{{ url_for('static', filename="../static/imgs/logo_eit.png")}}" class="img-fluid rounded-0 mx-auto d-block mb-1 mt-2" style="max-width:25%;">
          <div class="col-10 mx-auto">
            <div class="card border-0 rounded-0 bg-gris-body">
              <div class="card-body">
                <h4 class="texto-gris-eit text-center">Recuperación de contraseña LabEIT</h4>
                <hr>

                <p class="texto-gris-eit">Hola <strong>Nombre_Usuario!</strong></p>
                <p class="texto-gris-eit">Hemos recibido tu solicitud para restablecer tu contraseña.<br> Debes ingresar al link que se encuentra a continuación y rellenar el formulario con los datos solicitados, además de señalar el código que hemos adjuntado a este correo.</p>

                <hr>

                <div class="form-group row">
                  <label class="col-md-4 texto-gris-eit col-form-label"><i class="fas fa-link mr-2"></i><strong>Link de acceso:</strong></label>
                  <div class="col-md-8">
                    <a href="http://localhost:3000/recuperacion_password">http://localhost:3000/recuperacion_password</a>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-md-4 texto-gris-eit col-form-label"><i class="fas fa-key mr-2"></i><strong>Código de restablecimiento:</strong></label>
                  <div class="col-md-8">
                    <button type="button" class="btn btn-verde-eit border-0 rounded-0">A348T9G</button>
                  </div>
                </div>

                <hr>

                <p class="mt-4 texto-gris-eit"><i class="fas fa-info-circle mr-1"></i>Si tienes dudas o problemas recuerda que puedes contactarnos vía correo electrónico <a href="mailto:labeit@mail.udp.cl?subject=Duda/Problema-LabEIT">labeit@mail.udp.cl</a> o acercándote al laboratorio. ¡Te atenderemos con gusto! </p>
                <p class="mt-3">Saludos,</p>
                <p class="mt-3"><strong>LabEIT UDP</strong></p>

                <p class="text-muted text-center"><i class="fas fa-exclamation-triangle mr-2"></i>Este mensaje se ha generado automáticamente y no es necesario que se responda.</p>

              </div>
            </div>
          </div>
        </div>
      </div>


        <!-- Javascript -->
				<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='../static/js/script_labeit.js') }}"></script>

    </body>

</html>
